{% extends 'views/layouts/base.twig' %}

{% set double = 0 %}
{% block content %}
    {% include 'views/common/c_main_title.twig' with {
        'title': 'Каталог товаров',
        'pages': [
            {
                'txt':'Главная',
                'url':'/'
            },
            {
                'txt':'Каталог товаров',
                'last':true
            }
        ]} %}
    <div class="c-catalog">
        {% for product_key, product_item in products %}
            <div class="catalog__title">
                <div class="container">
                    <h2 class="h2">{{ product_key }}</h2>
                </div>
            </div>
            <div class="catalog__items">
                {#
                    {% for product in product_item if product.view != 1 %}
                        {% include 'views/macros/catalog_item.twig' with {item: product} %}
                    {% endfor %}

                    {% for product in product_item if product.view == 1 %}
                        {% if not double %}
                            <div class="catalog-double">
                        {% endif %}
                        {% set double = double + 1 %}
                            {% include 'views/macros/catalog_double.twig' with {item: product} %}
                        {% if double == 2 %}
                            </div>
                            {% set double = 0 %}
                        {% endif %}
                    {% endfor %}
                #}
                {% set previousOption = false %}
                {% set nextIterator = 1 %}
                {% for product in product_item %}


                    {% if product_item[nextIterator] is defined %}
                        {% set nextOption = product_item[nextIterator] %}
                    {% else %}
                        {% set nextOption = false %}
                    {% endif %}

                    {% if product.view == 1 %}
                        {% if not double %}
                            <div class="catalog-double">
                        {% endif %}
                        {% set double = double + 1 %}
                            {% include 'views/macros/catalog_double.twig' with {item: product} %}
                        {% if nextOption and nextOption.view != 1 %}
                            </div>
                            {% set double = 0 %}
                        {% endif %}
                        {% if double == 2 %}
                            </div>
                            {% set double = 0 %}
                        {% endif %}



                    {% else %}
                        {% include 'views/macros/catalog_item.twig' with {item: product} %}
                    {% endif %}

                    {% set nextIterator = (nextIterator + 1) %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <div class="c-about-main">
        <div class="container">
            <div class="about-main__title">
                <h2 class="h2">О нас</h2>
            </div>
            <div class="about-main__descr">
                <div class="about-main__descr-item">
                    <p>Значимость этих проблем настолько очевидна, что новая модель организационной деятельности влечет
                        за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным
                        потребностям. Не следует, однако забывать, укрепление и развитие структуры представляет собой
                        интересный эксперимент проверки системы обучения, соответствует насущным потребностям. Не
                        следует, однако забывать, что</p>
                </div>
                <div class="about-main__descr-item">
                    <p>Значимость этих проблем настолько очевидна, что новая модель организационной деятельности влечет
                        за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным
                        потребностям. Не следует, однако забывать, что укрепление и развитие структуры представляет
                        собой интересный эксперимент проверки системы обучения.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}