{% extends 'views/layouts/base.twig' %}

{% block content %}
	{% include 'views/common/c_main_title.twig' with {
		'title': 'Корзина',
		'pages': [
			{
				'txt':'Главная',
				'url':'/'
			},
			{
				'txt':'Корзина',
				'last':true
			}
		]}
	%}
	{% include 'views/common/c_basket.twig' with {positions: positions, promoCode: promoCode, cartProducts: cartProducts, product: product} %}
	{% include 'views/common/c_buy.twig' with {cartProducts: cartProducts, product: product, c_buy: 'cart'} %}
{% endblock %}