{% extends 'views/layouts/base.twig' %}
{% block content %}
    {% include 'views/common/c_main_title.twig' with {
        'title': page.title,
        'pages': [
            {
                'txt' : 'Главная',
                'url': '/'
            },
            {
                'txt' : page.title,
                'last': true
            }
        ]} %}
        <div class="c-delivery">
            <div class="container">
                {{ page.content | raw}}
            </div>
        </div>
        
{% endblock %}

