{% import 'views/svg/cart.twig' as svg %}
<!doctype html>
<html lang=ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    {#<link rel="stylesheet" href="/css/bundle.css">#}
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    <title>
        {{ this.seo_title ? C.Html.encode(this.seo_title) : C.Html.encode(this.pageTitle) }}
    </title>
    <link rel="stylesheet" href="/css/main.css">

</head>
<body>

<main class="l-wrapper">
    <div class="l-wrapper-inner">
        {% block page_wrapper %}
            {% block header %}
                {% include 'views/common/header.twig' %}
            {% endblock %}
            {% block mobile_menu %}
                {% include 'views/common/mobile_menu.twig' %}
            {% endblock %}
            {% block content %}{% endblock %}
        {% endblock %}
    </div>
    {% block page_footer %}
        {% block footer %}
            {% include 'views/common/footer.twig' %}
        {% endblock %}
    {% endblock %}
</main>


{#<main class="l-wrapper">
    <div class="l-wrapper-inner">
        {% block page_wrapper %}

                {% block header %}
                    {% include 'views/common/header.twig' with {item: this.setting} %}
                {% endblock %}

                {% block mobile_menu %}
                    {% include 'views/common/mobile_menu.twig' %}
                {% endblock %}
                {% block content %}
            {% endblock %}
        {% endblock %}
    </div>
    {% block page_footer %}
        {% block footer %}
            {% include 'views/common/footer.twig' with {item: this.setting} %}
        {% endblock %}
    {% endblock %}
</main>#}

{% block modals_all %}
    {% include 'views/modal/request.twig' %}
    {% include 'views/modal/success.twig' %}
    {% include 'views/modal/callback.twig' %}
    {% include 'views/modal/question.twig' %}
    {% block modals %}{% endblock %}
{% endblock %}

{#
    {% block modals_all %}
        {% include 'views/modal/request.twig' %}
        {% include 'views/modal/success.twig' %}
    {% endblock %}
#}

<script type="text/javascript" src="/js/main.js"></script>

<script type="text/javascript" src="/js/cookie.js"></script>


{% if app.controller.getid == 'order' or app.request.requestUri == '/pages/delivery/' %}
    <script id="ISDEKscript" type="text/javascript" src="http://wolly.tmweb.ru/CDEK/widjet.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var ourWidjet = new ISDEKWidjet({
                defaultCity: 'Новосибирск', //какой город отображается по умолчанию
                cityFrom: 'Новосибирск', // из какого города будет идти доставка
                country: 'Россия', // можно выбрать страну, для которой отображать список ПВЗ
                link: 'order__data-item-map', // id элемента страницы, в который будет вписан виджет
                path: 'http://wolly.tmweb.ru/CDEK/scripts/', //директория с бибилиотеками
                servicepath: 'http://wolly.tmweb.ru/CDEK/scripts/service.php', //ссылка на файл service.php на вашем сайте
                hidedress: true,
                hidecash: true,
                hidedelt: false,
                onReady: function() { // на загрузку виджета отобразим информацию о доставке до ПВЗ
                    let orderPrice = parseInt($('.basket_price').html());
                    let price = (orderPrice < 5000) ? 0 : 300;
                    ipjq('[name="pricePost"]').val(price);
                },
                onChoose: function (wat) {
                    let orderPrice = parseInt($('.basket_price').html());
                    let price = (orderPrice < 5000) ? 300 : 0;
                    $.cookie('CDEK_city', wat.cityName, {path: '/', expires: 1});
                    $.cookie('CDEK_price', price, {path: '/', expires: 1});
                    $.cookie('CDEK_code', wat.id, {path: '/', expires: 1});
                    $.cookie('CDEK_address', wat.PVZ.Address, {path: '/', expires: 1});
                }
            });
        });
    </script>
{% endif %}

</body>
</html>
