<!doctype html>
<html lang=ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="apple-touch-icon" sizes="180x180" href="assets/images/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon-16x16.png">
	<title>Wolly</title>
</head>
<body>
	<main class="l-wrapper">
		<div class="l-wrapper-inner">
			{% block page_wrapper %}
				{% block header %}
					{% include 'common/header.twig' %}
				{% endblock %}
				{% block mobile_menu %}
					{% include 'common/mobile_menu.twig' %}
				{% endblock %}
				{% block content %}{% endblock %}
			{% endblock %}
		</div>
		{% block page_footer %}
			{% block footer %}
				{% include 'common/footer.twig' %}
			{% endblock %}
		{% endblock %}
	</main>


<!-- <div class="page-helper"></div> -->

{% block modals_all %}
	 {% include './modal/request.twig' %} 
	 {% include './modal/success.twig' %}
	 {% include './modal/callback.twig' %}
	 {% include './modal/question.twig' %}  
	{% block modals %}{% endblock %}
{% endblock %}

	{% block javascripts_map %}
   {% endblock %}

{% block javascript_all %}
	{% block javascripts %}{% endblock %}
{% endblock %}
</body>
</html>
