<div class="c-basket">
	<div class="container">

		{{ C.Html.beginForm('', 'POST', {class: 'basket__wrap'}) | raw }}
			<div class="basket__download">
				<a target="_blank" href="{{ app.createUrl('/cart/PDF') }}" class="basket__download-btn">
					<span class="basket__download-btn-icon">
						<svg class="icon icon-document" width="1em" height="1em">
							<use xlink:href="/assets/images/sprite1.svg#cicon-document"></use>
						</svg>
					</span>
					<span class="basket__download-btn-descr">Скачать PDF</span>
				</a>
			</div>
			<div class="basket__table-wrap">
				<table class="basket__table">
					<tbody>
						{% for position in positions %}
							{% set product = position.getPropertyProduct %}
							<tr class="basket__table-item"
								data-product="{{ product.id }}"
								data-param_name="{{ product.param_name ? product.param_name : '' }}">
								<td class="basket__table-item-img">
									<a href="{{ product.getProductUrl }}">
										{% for images in product.productsImagesPreview if not break %}
											{% if images.params_name == product.param_name %}
												<img src = "/uploads/shop/{{ images.image_url }}" alt = "">
											{% elseif product.param_name is null %}
												<img src = "/uploads/shop/{{ product.productsImagesPreview[0].image_url }}" alt = "">
											{% endif %}
										{% endfor %}

										{#

										{% if product.productsImagesPreview %}
											<img src = "/uploads/shop/{{ product.productsImagesPreview[0].image_url }}" alt = "">
										{% else %}
											<img src = "assets/images/basket/item-img-1.png" alt = "">
										{% endif %}

										#}
									</a>
								</td>
								<td class="basket__table-item-name">
									<div class="basket__table-item-name-category">{{ product.undertitle | raw }}</div>
									<div class="basket__table-item-name-main">{{ product.title | raw }}
										{{ product.param_name }}
									</div>
								</td>
								<td class="basket__table-item-singleprice">
									<div class="basket__table-item-singleprice-top">Цена за 1 шт</div>
									<div class="basket_price basket__table-item-singleprice-main">

										<span class = "basket_price-num-desktop">{{ product.price }}</span>
										<span>&#8381;</span>
									</div>
								</td>
								<td class="basket__table-item-counter">
									<div class="counter-wrap">
										<div class="counter-minus"></div>
										<div class="counter-number-wrap">
											<input type="number" value="{{ position.getQuantity }}"
												   class="counter-number">
										</div>
										<div class="counter-plus"></div>
									</div>
								</td>
								<td class="basket__table-item-price">
									<div class="basket_price"><span class="basket__item-total-price">{{ this.format_price(position.getSumPrice) }}</span> <span>&#8381;</span></div>
									<div class="basket__table-item-price-single"><span class="basket__price-num-mobile">{{ this.format_price(product.price) }}</span> <span>&#8381;</span>
										за 1 шт
									</div>
								</td>
								<td class="basket__table-item-delete">
                                    {{ C.Html.ajaxLink(
                                        svg.icon('icon-delete'),
                                        app.createUrl('/cart/DeleteProduct'),
                                        {
                                            type: 'POST',
                                            data: {
                                            	product_id: 'js:$(this).closest(".basket__table-item").data("product")',
                                            	param_name: 'js:$(this).closest(".basket__table-item").data("param_name")',
											},
                                            update: '#update_basket, #updMainPrice'
                                        },
                                        {
                                            class: 'basket__table-item-delete-btn'
                                        }
                                    ) | raw }}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="basket__table-total">
				<div class="basket__table-total-code">
					<div class="basket__table-total-code-descr">У вас есть промокод?</div>
					<div class="basket__table-total-code-input">
						<div class="form-group">
							<div class="input-wrap input-promocode-wrap">
								<input type="text" name="promocode" class="form-control" value="{{ promoCode ? promoCode : '' }}">
								<button type="button" class="ajax js-input-promocode-submit input-promocode-submit {{ sum ? 'input-promocode-submit--ok' : '' }}">
									<svg class="icon-svg-checked">
										<use xlink:href="/assets/images/svg/sprite.svg#icon-checked" />
									</svg>
									<svg class="icon-svg-error">
										<use xlink:href="/assets/images/svg/sprite.svg#icon-error" />
									</svg>
									<span class="input-promocode-submit-text" style="{{ sum ? 'display: none' : '' }}">Применить</span>
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="basket__table-total-main">
					<div class="basket__table-total-main-top">
						<div class="basket__table-total-main-top-descr">Итого</div>
					</div>
					<div class="basket__table-total-main-top-price">

						{#
						<div class="basket_price">
							<span id="updMainPrice" class="basket_price-amount">{{ this.format_price(app.shoppingCart.getCost) }}</span>
							<span>&#8381;</span>
						</div>

						<div class="basket_price basket_price--old {{ oldPrice ? '' : 'hidden' }}">
							<span class="basket_price-amount">{{ this.format_price(oldPrice) }}</span>
							<span>&#8381;</span>
						</div>
						#}


						<div class="basket_price">
							<span class="basket_price-amount">{{ app.shoppingCart.getCost }}</span>
							<span>&#8381;</span>
						</div>
						<div class="basket_price basket_price--old" style="{{ sum ? 'display: block' : '' }}">
							<span class="basket_price-old-amount">{{ sum }}</span>
							<span>&#8381;</span>
						</div>


					</div>
				</div>
				<div class="basket__table-total-btn">
					<a href = "{{ app.createUrl('/order') }}" class="btn btn_blue btn_bold">Продолжить</a>
				</div>
			</div>
		{{ C.Html.endForm() | raw }}
	</div>
	{#
	<script type = "text/javascript">
		$(document).ready(function () {

			$('.counter-minus, .counter-plus').on('click', function () {
			    let index = $(this).closest('.basket__table-item').index();
			    updateCart(index);
            });
            function updateCart(index) {
				let el = $('.basket__table-item').eq(index);
				$.ajax({
					'url': '/cart/EditCount',
					'type': 'POST',
					'data': {
                        id: el.data('product'),
						count: parseInt(el.find('.counter-number').val()),
                        product_param: el.data('param_name')
					},
                    succsess: function (response) {
						$('#updMainPrice').html(response);
                    }
				});
            }
        });
	</script>
	#}

</div>
