<div class="c-breadcrumbs {{ color }}">
	<ul class="h-reset-list breadcrumbs__list">



		{% for page in pages %}
			{% if page.last %}
				<li>
					<span>{{ page.txt }}</span>
				</li>
			{% else %}
				<li>
					<a href="{{ page.url }}">{{ page.txt }}</a>
				</li>
			{% endif %}
		{% endfor %}
	</ul>
</div>
