{% if cartProducts %}
    <div class="c-buy">
        <div class="container">
            <div class="buy__ttl">
                <h2 class="h2">Не забудьте купить</h2>
            </div>
            <div class="js-carousel-buy buy__items carousel-buy">
                {% for forget in cartProducts %}
                    {% if c_buy == 'product' %}
                        {% set data = product.getForgetProduct(forget.product_id) %}
                    {% elseif c_buy == 'cart' %}
                        {% set data = product.getForgetProduct(forget.products_id) %}
                    {% endif %}

                    {% if data.active %}
                    <div class="carousel-buy__slide">
                        <form class="buy__item" action="/">
                            <div class="h-object-fit buy__item-img">
                                {% for preview_image in data.productsImagesPreview %}
                                    <img src="/uploads/shop/{{ preview_image.image_url }}"
                                         class="{{ loop.first ? 'active' : '' }}"
                                         data-params_name="{{ preview_image.params_name }}" alt="{{ preview_image.image_name }}">
                                {% endfor %}
                            </div>
                            <div class="buy__item-main">

                                {% if(data.getLabels) %}
                                    <span class="catalog-item__flag" style = "background-color: {{ data.getLabels.LabelColor }}">{{ data.getLabels.LabelName }}</span>
                                {% endif %}

                                <div class="catalog-item__ttl buy__item-main-ttl">
                                    <div class="catalog-item__ttl-top">{{ data.undertitle|striptags }}</div>
                                    <div class="catalog-item__ttl-bot">{{ data.title|striptags }}</div>
                                </div>
                                {% if data.productsParams %}
                                    <div class="catalog-item__radiogroup">
                                        {% for dataParams in data.productsParams %}
                                            <div class="form-group">
                                                <label class="radio-label_catalog">
                                                    <input type="radio" name="size" data-param_name="{{ dataParams.params_name }}" value = "{{ dataParams.params_name }}" class="hidden-input" {{ loop.first ? 'checked="checked"' : '' }}>
                                                    <span class="check-value">{{ dataParams.params_name }}</span>
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <div class="buy__item-main-counter">
                                    <div class="buy__item-main-counter-wrap">
                                        <div class="counter-wrap">
                                            <div class="counter-minus"></div>
                                            <div class="counter-number-wrap">
                                                <input name = "count" type="number" value="1" class="counter-number">
                                            </div>
                                            <div class="counter-plus"></div>
                                        </div>
                                    </div>
                                    <div class="buy__item-main-counter-price">
                                        {% if data.productsParams %}
                                            {% for dataParams in data.productsParams %}
                                                <div class="basket_price {{ loop.first ? 'active' : '' }}"  data-params_name="{{ dataParams.params_name }}">
                                                    <span class="js-dont-forget-price" data-price="{{ dataParams.params_discount ? dataParams.params_discount : dataParams.params_cost }}">{{ this.format_price(dataParams.params_discount ? dataParams.params_discount : dataParams.params_cost) }}</span>
                                                    {#{{ this.format_price(dataParams.params_discount ? dataParams.params_discount : dataParams.params_cost) }}#}
                                                    <span>&#8381;</span></div>
                                            {% endfor %}
                                        {% else %}
                                            <div class="basket_price active">
                                                <span class="js-dont-forget-price" data-price="{{ dataParams.discount ? data.discount : data.price }}">{{ this.format_price( dataParams.discount ? data.discount : data.price ) }}</span>

                                                {#{{ this.format_price( dataParams.discount ? data.discount : data.price ) }} #}
                                                <span>&#8381;</span>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="buy__item-main-btn">
                                    {% if not data.quantity %}
                                        <div class="btn btn_white-bord btn_bold btn_bord3 btn_missing">Нет в наличии</div>
                                    {% else %}

                                        {% if c_buy == 'cart' %}
                                            {{ C.Html.ajaxLink(
                                            'Добавить',
                                            app.createUrl('/cart/addCart'),
                                            {
                                                type: 'POST',
                                                data: {
                                                    id: data.id,
                                                    data: 'js:$(this).closest(".buy__item").serialize()',
                                                    success: 'js: setTimeout(function() { window.location.reload() }, 500)'
                                                },
                                                update: '#update_basket'
                                            },
                                            {
                                                class: 'btn btn_blue btn_bold'
                                            }
                                            ) | raw }}

                                        {% else %}
                                            {{ C.Html.ajaxLink(
                                            'Добавить',
                                            app.createUrl('/cart/addCart'),
                                            {
                                                type: 'POST',
                                                data: {
                                                id: data.id,
                                                data: 'js:$(this).closest(".buy__item").serialize()',

                                            },
                                                update: '#update_basket'
                                            },
                                            {
                                                class: 'btn btn_blue btn_bold'
                                            }
                                            ) | raw }}
                                        {% endif %}

                                    {% endif %}
                                </div>
                            </div>
                        </form>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
