{# {% import  'views/macros/catalog_item.twig' as catalog %} #}


{#
<div class="c-catalog">
	<div class="catalog__title">
		<div class="container">
			<h2 class="h2">Пленки</h2>
		</div>
	</div>
	<div class="catalog__items">
		{{ item.catalog_item({
				'img':'~images/catalog-img-1.jpg',
				'ttl_top':'Маркерная пленка WOLLY PRO',
				'ttl_bot':'Белая глянцевая',
				'descr':'Абсолютно безопасный маркер для маркерной пленки со сменными катриджами. Превосходно стираются!',
				'sizes': [
					{
						'value':'1.22х1 м',
						'checked':true
					},
					{
						'value':'1.52х1 м'
					}
				],
				'price':'1500'
		}) }}
		{{ item.catalog_item({
				'img':'~images/catalog-img-2.jpg',
				'ttl_top':'Маркерная пленка WOLLY PRO',
				'ttl_bot':'Белая матовая',
				'descr':'Абсолютно безопасный маркер для маркерной пленки со сменными катриджами. Превосходно стираются!',
				'sizes': [
                {
                    'value':'1.22х1 м',
                    'checked':true
                },
                {
                    'value':'1.52х1 м'
                }
				],
				'price':'1500',
				'missing':true
		}) }}
		{{ item.catalog_item({
				'img':'~images/catalog-img-3.jpg',
				'ttl_top':'Пленка WOLLY BASIC',
				'ttl_bot':'Магнитная',
				'descr':'Абсолютно безопасный маркер для маркерной пленки со сменными катриджами. Превосходно стираются!',
				'sizes': [
					{
						'value':'0.62х1 м',
						'checked':true
					},
					{
						'value':'1.22х1 м'
					}
				],
				'price':'1500',
				'price_old':'2000',
				'missing':true,
				'flag': {
					'txt':'Скидка',
					'color':'catalog-item__flag_atlantis'
				}
		}) }}

		<div class="catalog-double">
			{{ item.catalog_doubleitem({
				'img':'~images/catalog-img-4.jpg',
				'ttl_top':'Маркерная пленка WOLLY PRO',
				'ttl_bot':'Прозрачная глянцевая',
				'descr':'Абсолютно безопасный маркер для маркерной пленки со сменными катриджами. Превосходно стираются!',
				'sizes': [
					{
						'value':'1.22х1 м',
						'checked':true
					}
				],
				'price':'1500',
				'flag': {
					'txt':'Новинка',
					'color':'catalog-item__flag_turquoiseblue'
				}
			}) }}
			{{ item.catalog_doubleitem({
				'img':'~images/catalog-img-5.jpg',
				'ttl_top':'Маркерная пленка WOLLY PRO',
				'ttl_bot':'Прозрачная матовая',
				'descr':'Яркие, сочные, насыщенные цвета позволяют четко изобразить Ваши мысли и идеина маркерной пленки Wolly.',
				'sizes': [
					{
						'value':'1.22х1 м',
						'checked':true
					}
				],
				'price':'1500',
				'flag': {
					'txt':'Хит',
					'color':'catalog-item__flag_brinkpink'
				}
			}) }}
		</div>
		<div class="catalog-double">
			{{ item.catalog_doubleitem({
				'img':'~images/catalog-img-6.jpg',
				'ttl_top':'Маркерная пленка WOLLY PRO',
				'ttl_bot':'Черная глянцевая',
				'descr':'Абсолютно безопасный маркер для маркерной пленки со сменными катриджами. Превосходно стираются!',
				'sizes': [
                    {
                        'value':'1.22х1 м',
                        'checked':true
                    }
				],
				'price':'1500'
			}) }}
			{{ item.catalog_doubleitem({
				'img':'~images/catalog-img-7.jpg',
				'ttl_top':'Маркерная пленка WOLLY PRO',
				'ttl_bot':'Черная матовая',
				'descr':'Яркие, сочные, насыщенные цвета позволяют четко изобразить Ваши мысли и идеина маркерной пленки Wolly.',
				'sizes': [
                    {
                        'value':'1.22х1 м',
                        'checked':true
                    }
				],
				'price':'1500'
			}) }}
		</div>

		{{ item.catalog_item({
				'white':'catalog-item__main_white',
				'img':'~images/catalog-img-8.jpg',
				'ttl_top':'Меловая пленка WOLLY PRO',
				'ttl_bot':'Черная матовая',
				'descr':'Яркие, сочные, насыщенные цвета позволяют четко изобразить Ваши мысли и идеина маркерной пленки Wolly.',
				'sizes': [
                {
                    'value':'1.22х1 м',
                    'checked':true
                }
				],
				'price':'1500'
		}) }}
		{{ item.catalog_item({
				'white':'catalog-item__main_white',
				'img':'~images/catalog-img-9.jpg',
				'ttl_top':'Меловая пленка WOLLY PRO',
				'ttl_bot':'Зеленая матовая',
				'descr':'Яркие, сочные, насыщенные цвета позволяют четко изобразить Ваши мысли и идеина маркерной пленки Wolly.',
				'sizes': [
                {
                    'value':'1.22х1 м',
                    'checked':true
                }
				],
				'price':'1500'
		}) }}
	</div>
	<div class="catalog__title">
		<div class="container">
			<h2 class="h2">Наборы</h2>
		</div>
	</div>
	<div class="catalog__items">
		{{ item.catalog_item({
			'img':'~images/catalog-img-10.jpg',
			'ttl_top':'',
			'ttl_bot':'Набор маркерной пленки WOLLY',
			'descr':'Абсолютно безопасный маркер для маркерной пленки со сменными катриджами. Превосходно стираются!',
			'sizes': [
				{
					'value':'1.22х0.9 м',
					'checked':true
				},
				{
					'value':'1.22х1.8 м'
				},
				{
					'value':'1.22х2.4 м'
				}
			],
			'price':'1500'
		}) }}
        {{ item.catalog_item({
            'img':'~images/catalog-img-14.jpg',
            'ttl_top':'',
            'ttl_bot':'Набор стикеров WOLLY',
            'descr':'Абсолютно безопасный маркер для маркерной пленки со сменными катриджами. Превосходно стираются!',
            'sizes': [
                {
                    'value':'белый',
                    'checked':true
                },
                {
                    'value':'чёрный'
                },
                {
                    'value':'бело-чёрный'
                }
            ],
            'price':'350',
        }) }}
	</div>
	<div class="catalog__title">
		<div class="container">
			<h2 class="h2">Аксессуары</h2>
		</div>
	</div>
	<div class="catalog__items">
		<div class="catalog-double">
            {{ item.catalog_doubleitem({
                'img':'~images/catalog-img-11.jpg',
                'ttl_top':'',
                'ttl_bot':'Набор маркеров Mungyo POWER LINE',
                'descr':'Абсолютно безопасный маркер для маркерной пленки со сменными катриджами. Превосходно стираются!',
                'sizes': [
                    {
                        'value':'4 шт.',
                        'checked':true
                    },
                    {
                        'value':'8 шт.'
                    },
                    {
                        'value':'12 шт.'
                    }
                ],
                'price':'850',
            }) }}
			{{ item.catalog_doubleitem({
				'img':'~images/catalog-img-16.jpg',
				'ttl_top':'',
				'ttl_bot':'Спрей для очистки маркерных поверхностей Mungyo',
				'descr':'Абсолютно безопасный маркер для маркерной пленки со сменными катриджами. Превосходно стираются!',
				'price':'200',
			}) }}
		</div>
		<div class="catalog-double">
			{{ item.catalog_doubleitem({
				'img':'~images/catalog-img-13.jpg',
				'ttl_top':'',
				'ttl_bot':'Набор маркеровpilot v board master',
				'descr':'Абсолютно безопасный маркер для маркерной пленки со сменными катриджами. Превосходно стираются!',
				'price':'850',
			}) }}
			{{ item.catalog_doubleitem({
				'img':'~images/catalog-img-14.jpg',
				'ttl_top':'',
				'ttl_bot':'Mungyo chalk pen',
				'descr':'Абсолютно безопасный маркер для маркерной пленки со сменными катриджами. Превосходно стираются!',
				'price':'850',
			}) }}
		</div>
		<div class="catalog-double">
            {{ item.catalog_doubleitem({
                'img':'~images/catalog-img-13.jpg',
                'ttl_top':'',
                'ttl_bot':'Набор аксессуаров WOLLY',
                'descr':'Абсолютно безопасный маркер для маркерной пленки со сменными катриджами. Превосходно стираются!',
                'price':'250',
            }) }}
            {{ item.catalog_doubleitem({
                'img':'~images/catalog-img-15.jpg',
                'ttl_top':'',
                'ttl_bot':'Комплект тряпочек  для <br> стирания WOLLY',
                'descr':'Абсолютно безопасный маркер для маркерной пленки со сменными катриджами. Превосходно стираются!',
                'price':'850',
            }) }}
		</div>
	</div>

	<div class="c-about-main">
		<div class="container">
			<div class="about-main__title">
				<h2 class="h2">О нас</h2>
			</div>
			<div class="about-main__descr">
				<div class="about-main__descr-item">
					<p>Значимость этих проблем настолько очевидна, что новая модель организационной деятельности влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям. Не следует, однако забывать, укрепление и развитие структуры представляет собой интересный эксперимент проверки системы обучения, соответствует насущным потребностям. Не следует, однако забывать, что</p>
				</div>
				<div class="about-main__descr-item">
					<p>Значимость этих проблем настолько очевидна, что новая модель организационной деятельности влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям. Не следует, однако забывать, что укрепление и развитие структуры представляет собой интересный эксперимент проверки системы обучения.</p>
				</div>
			</div>
		</div>
	</div>
</div>
#}
