<div class="c-kt">
	<div class="kt__banner">
		<div class="kt__banner-ttl_xs">
			<div class="container"></div>
		</div>
		<div class="kt__banner-bg">
			<div class="kt__banner-bg-inner js-kt-banner-slider">
                {% for img in item.productsImages %}
					<div class="kt__banner-bg-item">
						<div class="h-object-fit">
							<img src="/uploads/shop/{{ img.image_url }}" alt="">
						</div>
					</div>
                {% endfor %}
			</div>
		</div>
		<div class="kt__banner-wrap">
			<div class="container">
				<div class="kt__banner-breadcrumbs">
					{% include 'views/common/c_breadcrumbs.twig' with {
						'color':'c-breadcrumbs_blue',
						'pages': [
							{
								'txt':'Главная'
							},
							{
								'txt':'Каталог товаров',
								'url': '/catalog/'
							},
							{
								'txt':item.title,
								'last':true
							}
						]}
					%}
				</div>
				<div class="kt__banner-inner">
					<div class="kt__banner-lt">
						<div class="kt__banner-ttl">
							<h1 class="h1">{{ item.title }}</h1>
						</div>
						<div class="js-kt-carousel-banner kt-carousel-banner kt__banner-images">
							<div class="js-kt-carousel-banner kt-carousel-banner kt__banner-images">
                                {% for img in item.productsImages %}
									<div class="kt-carousel-banner__slide">
										<div class="kt-carousel-banner__slide-inner">
											<a href="/uploads/shop/{{ img.image_url }}" class="kt__banner-images-item" data-fancybox="gallery-1">
												<div class="h-object-fit">
													<img src="/uploads/shop/{{ img.image_url }}" alt="">
												</div>
											</a>
										</div>
									</div>
                                {% endfor %}
							</div>
						</div>
					</div>
					{%  set count = 0 %}
					<div class="kt__banner-rt">
						<div class="kt__banner-choise">
							<div class="kt__banner-choise-ttl">Сколько пленки вам нужно?</div>
							<a href="#" class="kt__banner-choise-help">Помогите мне посчитать</a>
							<form class="kt__banner-choise-main" action="/" method="post">
                                {% if item.productsParams %}
									{% for dataParams in item.productsParams %}
										{% set count = count + (productQuanty[loop.index0] * (dataParams.params_discount ? dataParams.params_discount : dataParams.params_cost)) %}
									<div class="kt__banner-choise-main-item">
										<div class="kt__banner-choise-main-item-lt">
											<div class="kt__banner-choise-main-item-name">{{ dataParams.params_name }}</div>
											<div class="kt__banner-choise-main-item-counter">
												<div class="counter-wrap">
													<div class="counter-minus"></div>
													<div class="counter-number-wrap">
														<input name = "count" type="number" value="{{ productQuanty[loop.index0] }}" class="counter-number"/>
														<input type = "hidden" name = "param" value = "{{ dataParams.params_name }}"/>
													</div>
													<div class="counter-plus"></div>
												</div>
											</div>
										</div>
										<div class="kt__banner-choise-main-item-price">
											<div class="basket_price"><span class="basket_price-num" data-price="{{ dataParams.params_discount ? dataParams.params_discount : dataParams.params_cost }}">{{ dataParams.params_discount ? this.format_price(dataParams.params_discount) : this.format_price(dataParams.params_cost) }}</span> <span>&#8381;</span></div>
										</div>
									</div>
									{% endfor %}
                                {% else %}
                                    <div class="kt__banner-choise-main-item">
                                        <div class="kt__banner-choise-main-item-lt">
                                            <div class="kt__banner-choise-main-item-name">{{ item.title }}</div>
                                            <div class="kt__banner-choise-main-item-counter">
                                                <div class="counter-wrap">
                                                    <div class="counter-minus"></div>
                                                    <div class="counter-number-wrap">
                                                        <input name = "count" type="number" value="{{ productQuanty[0] }}" class="counter-number"/>
                                                        <input type = "hidden" name = "param" value = ""/>
                                                    </div>
                                                    <div class="counter-plus"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="kt__banner-choise-main-item-price">
											<div class="basket_price"><span class="basket_price-num" data-price="{{ productQuanty[0] == 0 ? (item.discount ? item.discount : item.price) : productQuanty[0] * (item.discount ? item.discount : item.price) }}">{{ productQuanty[0] == 0 ? (item.discount ? this.format_price(item.discount) : this.format_price(item.price)) : productQuanty[0] * (item.discount ? this.format_price(item.discount) : this.format_price(item.price)) }}</span> <span>&#8381;</span></div>
                                        </div>
                                    </div>
								{% endif %}
							</form>
							<div class="basket__table-total-main-top kt__banner-choise-total">
								<div class="basket__table-total-main-top-descr">Итого</div>
								<div class="basket__table-total-main-top-price">
									<div class="basket_price"><span class="basket_price-amount">{{ count }}</span> <span>&#8381;</span></div>
								</div>
							</div>
							<div class="kt__banner-choise-delivery">
								<a href="/pages/delivery/" class="kt__banner-choise-delivery-link">Доставка и оплата</a>
							</div>
							<div class="kt__banner-choise-btn">
								<a href="#" class="btn btn_blue btn_bold ajaxSingle">Добавить в корзину</a>
							</div>
						</div>

                        {{ C.Html.beginForm('/cart/calc', 'POST', {class: 'kt__banner-calculator minimized'}) | raw }}

						<div class="kt__banner-calculator-top">
							<div class="kt__banner-choise-ttl">Калькулятор расчета колличества пленки</div>
							<button type="button" class="kt__banner-calculator-top-close">
								<span>Закрыть</span>
								<span class="kt__banner-calculator-top-close-icon">
										<svg class="icon icon-delete" width="1em" height="1em">
											<use xlink:href="/assets/images/sprite1.svg#cicon-delete"></use>
										</svg>
									</span>
							</button>
						</div>
						<div class="kt__banner-calculator-info">
							<p>Если вы сомневаетесь, отправьте свои данные и наш менеджер свяжется с вами</p>
							<div class="kt__banner-calculator-info-sizes">
								<div class="form-group">
									<div class="input-wrap">
										<label class="input-label ">
											<span class="input-title ">Ширина</span>
                                            {{ C.Html.activeNumberField(dataFORM, 'dataWidth', {class: 'form-control_h42 form-control'}) | raw }}
										</label>
									</div>
								</div>


								<div class="form-group">
									<div class="input-wrap">
										<label class="input-label ">
											<span class="input-title ">Длина</span>
                                            {{ C.Html.activeNumberField(dataFORM, 'dataHeight', {class: 'form-control_h42 form-control'}) | raw }}
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="kt__banner-calculator-inputs">
							<div class="form-group">
								<div class="input-wrap">
									<label class="input-label ">
										<span class="input-title ">Имя</span>
                                        {{ C.Html.activeTextField(dataFORM, 'dataName', {'class': 'form-control', 'placeholder': 'Имя'}) | raw }}
									</label>
								</div>
							</div>


							<div class="form-group">
								<div class="input-wrap">
									<label class="input-label ">
										<span class="input-title  input-title_required ">Телефон</span>
                                        {{ C.Html.activeTelField(dataFORM, 'dataPhone', {'class': 'form-control', 'placeholder': '+7 (000) 000-00-00'}) | raw }}

									</label>
								</div>
							</div>
                            {{ C.Html.activeHiddenField(dataFORM, 'dataFormName', {'value': 'Калькулятор расчета колличества пленки'}) | raw }}
						</div>
						<ul class="h-reset-list delivery__main-item-notes">
							<li>Поля, обязательные для заполнения</li>
						</ul>
						<div class="kt__banner-calculator-btn">

							{{ C.Html.ajaxSubmitButton('Отправить',
								app.createUrl('/cart/calc'),
								{
									'type': 'POST',
									'success': 'js: function() {
										$(".kt__banner-calculator-info").html("<p>Спасибо! Заявка принята. Менеджер свяжется с Вами в ближайшее время.</p>");
										$(".kt__banner-calculator-inputs").html("");
										$(".delivery__main-item-notes").html("");

										}'
								},
								{'class': 'btn btn_blue btn_bold' }
							) | raw }}
						</div>
                        {{ C.Html.endForm() | raw }}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="kt__descr">
		<div class="container">
			<div class="kt__descr-wrap">
				<div class="kt__descr-ttl">
					<h2 class="h2">Описание</h2>
				</div>
				<div class="kt__descr-main">
					<div class="kt__descr-txt">
						<p>
                            {{ item.description ? item.description|striptags : 'Описание не заполнено' | raw }}
							<a href="#" class="kt__descr-txt-readmore">Читать дальше</a>
						</p>
					</div>
                    {% if item.productsDocs %}
						<div class="kt__descr-links">
                            {% for doc in item.productsDocs %}
								<div class="kt__descr-links-item">
									<a target="_blank" href="/uploads/shop/attach/{{ doc.doc_url }}"
									   class="document-link">
										<div class="document-link-icon">
											<svg class="icon icon-document" width="1em" height="1em">
												<use xlink:href="/assets/images/sprite1.svg#cicon-document"></use>
											</svg>
										</div>
										<span class="document-link-name">{{ doc.doc_type }}</span>
									</a>
								</div>
                            {% endfor %}
						</div>
                    {% endif %}
				</div>
			</div>
		</div>
	</div>

	{% include 'views/common/c_buy.twig' with {cartProducts: item.productsForgets, product: item, c_buy: 'product'} %}

	<script type = "text/javascript">
		$(document).ready(function () {
            $('.ajaxSingle').on('click', function () {
                var data = {};
                $('.kt__banner-choise-main-item').each(function (i) {
                    data[i] = {
                        product_name: $(this).find('input[name="param"]').val(),
						product_count: $(this).find('input[name="count"]').val()
                    };
                });
                $.ajax({
                    'url': '/cart/AddCartSingle',
                    'data': {
                        id: '{{ item.id }}',
						data: JSON.stringify(data)
					},
                    'type': 'POST',
                    success: function (repsonse) {
                        $('#update_basket').html(repsonse);
                    }
                });
                $(this).prop('disable', true);
                return true;
            });
        })
	</script>

