<div class="c-main-title">
	<div class="container">
		{% include 'views/common/c_breadcrumbs.twig' with { 'pages': pages } %}
		<div class="main-title__heading">
			<h1 class="h1">{{ title }}</h1>
		</div>
	</div>
</div>