{% import  'views/macros/form.twig' as form %}

<div class="c-order">
    <div class="container">
        {{ C.Html.beginForm('/order/new','POST', {class: 'order__wrap', enctype: 'multipart/form-data'}) | raw }}
        <div class="order__data">
            <div class="order__data-item">
                <div class="order__data-item-ttl">
                    <h2 class="h2">Личные данные</h2>
                </div>
                {{ C.Html.errorSummary(orderFORM) }}
                <div class="order__data-item-main">
                    <div class="order__data-item-inputs">
                        <div class="form-group">
                            <div class="input-wrap">
                                <label class="input-label ">
                                    <span class="input-title input-title_required ">ФИО</span>
                                    {{ C.Html.activeTextField(orderFORM, 'fio', {class: 'form-control', placeholder: 'ФИО'}) | raw }}
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-wrap">
                                <label class="input-label ">
                                    <span class="input-title input-title_required ">Телефон</span>
                                    {{ C.Html.activeTelField(orderFORM, 'phone', {class: 'form-control', placeholder: '+7 (000) 000-00-00', type: 'tel'}) | raw }}
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-wrap">
                                <label class="input-label ">
                                    <span class="input-title input-title_required ">E-mail</span>
                                    {{ C.Html.activeEmailField(orderFORM, 'email', {class: 'form-control', placeholder: 'wolly@mail.ru'}) | raw }}
                                </label>
                            </div>
                        </div>

                    </div>
                    <ul class="h-reset-list delivery__main-item-notes">
                        <li>Поля, обязательные для заполнения</li>
                    </ul>
                </div>
            </div>
            <div class="order__data-item order__data-item_delivery">
                <div class="order__data-item-ttl">
                    <h2 class="h2">Доставка</h2>
                </div>
                <div class="order__data-item-main order__data-item-tabs">
                    <button type="button" data-town="moscow"
                            class="order__data-town-toggle btn btn_bold order__data-town-toggle--active">
                        Москва
                    </button>
                    <button type="button" data-town="regions" class="order__data-town-toggle btn btn_bold">
                        Регионы
                    </button>
                </div>
                <div class="order__data-delivery-moscow">
                    <div class="js-delivery-moscow-tabs order__data-item-main">
                        <div class="order__data-item-radiobtns">
                            <label class="radio-label _active">
                                {{ C.Html.activeRadioButton(orderFORM, 'delivery', {class: 'hidden-input', 'checked': 'checked', 'data-val': 'delivery', 'value': 1, 'uncheckValue': null}) | raw }}
                                <span class="check-icon"></span>
                                <span class="check-value">Доставка</span>
                            </label>
                            <label class="radio-label">
                                {{ C.Html.activeRadioButton(orderFORM, 'delivery', {class: 'hidden-input', 'data-val': 'pickup', 'value': 2, 'uncheckValue': null}) | raw }}
                                <span class="check-icon"></span>
                                <span class="check-value">Самовывоз</span>
                                <span class="check-descr">(для Москвы и Московской области)</span>
                            </label>
                        </div>
                    </div>
                    <div class="js-delivery-moscow-info order__data-item_delivery-info">
                        <div class="order__data-item_delivery-info-default">
                            <div class="order__data-item_delivery-info-inputs">
                                <div class="form-group">
                                    <div class="input-wrap">
                                        <label class="input-label ">
                                            <span class="input-title input-title_required ">Адрес доставки</span>
                                            {{ C.Html.activeTextField(orderFORM, 'adress', {class: 'form-control', placeholder: 'г. Москва, Московская обл., ул. Лазурная, д. 6, кв 51'}) | raw }}
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-wrap">
                                        <label class="input-label ">
                                            <span class="input-title ">Комментарий</span>
                                            {{ C.Html.activeTextArea(orderFORM, 'comment', {class: 'form-control', 'placeholder': ''}) | raw }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="order__data-item_delivery-info-descr">
                            <p>Покупка от 5000р — <b>бесплатно по РФ</b>; <br> Покупка до 5000р — 300р. по РФ <br>Доставка осуществляется на следующий рабочий день.</p>
                        </div>
                        <div class="order__data-item_delivery-info-pickup minimized">
                            <p>Стоимость — <b>бесплатно</b>. <br>Осуществляется с нашего склада по адресу: <br>г. Москва, метро Ботаничекий сад, проезд Серебрякова, д. 2, стр. 1. <br>График работы: пн-пт 10:00 - 20:00, сб-вс 10:00 - 15:00.</p>
                            <ul class="h-reset-list delivery__main-item-notes">
                                <li>Просьба перед приездом предупредить наших менеджеров, чтобы они смогли подать заявку на комплектацию.</li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="order__data-delivery-regions">
                    <div class="js-delivery-regions-tabs order__data-item-main">
                        <div class="order__data-item-radiobtns">
                            <label class="radio-label ">
                                {{ C.Html.activeRadioButton(orderFORM, 'deliveryRegions', {class: 'hidden-input', 'data-val': 'pickup-regions', 'value': 1, 'uncheckValue': null}) | raw }}
                                <span class="check-icon"></span>
                                <span class="check-value">Пункты самовывоза</span>
                            </label>
                            <label class="radio-label ">
                                {{ C.Html.activeRadioButton(orderFORM, 'deliveryRegions', {class: 'hidden-input', 'data-val': 'delivery-regions', 'value': 2, 'uncheckValue': null}) | raw }}
                                <span class="check-icon"></span>
                                <span class="check-value">Доставка до двери</span>
                            </label>
                        </div>
                    </div>
                    <div class="js-delivery-regions-info order__data-item_delivery-info">
                        <div class="js-delivery-regions-form">
                            <div class="order__data-item_delivery-info-default-regions">
                                <div class="order__data-item_delivery-info-inputs">
                                    <div class="form-group">
                                        <div class="input-wrap">
                                            <label class="input-label ">
                                                <span class="input-title  input-title_required ">Адрес доставки</span>
                                                <input type = "text" class="form-control" name="adressTwo" placeholder="г. Москва, Московская обл., ул. Лазурная, д. 6, кв 51">
                                                {#{{ C.Html.activeTextField(orderFORM, 'adress', {class: 'form-control', placeholder: 'г. Москва, Московская обл., ул. Лазурная, д. 6, кв 51'}) | raw }}#}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-wrap">
                                            <label class="input-label ">
                                                <span class="input-title ">Комментарий</span>
                                                <textarea type="text" class="form-control" name="commentTwo"></textarea>
                                                {#{{ C.Html.activeTextArea(orderFORM, 'comment', {class: 'form-control', 'placeholder': ''}) | raw }}#}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="order__data-item_delivery-info-descr">
                                <p>Покупка от 5000р — <b>бесплатно по РФ</b>; <br> Покупка до 5000р — 300р. по РФ <br>Доставка осуществляется на следующий рабочий день.</p>
                                <p>Заявку необходимо разместить до 18:00</p>
                            </div>
                        </div>
                        <div class="js-delivery-regions-map">
                            <div class="order__data-item-map hidden" id = "order__data-item-map"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- OLD --->
            <div class="order__data-item order__data-item_payment">
                <div class="order__data-item-ttl">
                    <h2 class="h2">Оплата</h2>
                </div>
                <div class="js-order-payment-tabs order__data-item-main">
                    <div class="order__data-item-radiobtns">
                        <label class="radio-label ">
                            {{ C.Html.activeRadioButton(orderFORM, 'order_type', {
                                class: 'hidden-input js-order-payment-tab',
                                'data-val': 'cash',
                                'checked': 'checked',
                                'value': 1,
                                'uncheckValue': null
                            }) | raw}}
                            <span class="check-icon"></span>
                            <span class="check-value">Наличными</span>
                        </label>
                        <label class="radio-label ">
                            {{ C.Html.activeRadioButton(orderFORM, 'order_type', {
                                class: 'hidden-input js-order-payment-tab',
                                'data-val': 'online',
                                'value': 2,
                                'uncheckValue': null
                            }) | raw}}
                            <span class="check-icon"></span>
                            <span class="check-value">Оплата онлайн</span>
                        </label>
                        <label class="radio-label">
                            {{ C.Html.activeRadioButton(orderFORM, 'order_type', {
                                class: 'hidden-input js-order-payment-tab',
                                'data-val': 'bill',
                                'value': 3,
                                'uncheckValue': null
                            }) | raw }}
                            <span class="check-icon"></span>
                            <span class="check-value">Оплата по счету</span>
                            <span class="check-descr">(для юридических лиц)</span>
                        </label>
                    </div>
                    <div class="order__data-item_payment-info">
                        <div class="js-order-payment-content order__data-item_payment-content _show" data-target="cash">
                            <p>Оплатить покупки можно наличными при получении заказа.</p>
                        </div>
                        <div class="js-order-payment-content order__data-item_payment-content" data-target="online">
                            <p>При выборе онлайн оплаты онлайн менеджер свяжется с Вами для проверки заказа</p>
                        </div>
                        <div class="js-order-payment-content order__data-item_payment-content" data-target="bill">
                            <div class="order__data-item-file mt-0">
                                <label class="order__data-item-file-label">
                                    <input type="file" name="File">
                                    <span class="order__data-item-file-btn">
									<span class="order__data-item-file-btn-icon">
										<svg class="icon icon-clip" width="1em" height="1em">
											<use xlink:href="/assets/images/sprite1.svg#cicon-clip"></use>
										</svg>
									</span>
									<span class="order__data-item-file-btn-txt">Прикрепить файл с реквизитами организации</span>
								</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="order__main">
            <div class="order__main-top">
                <div class="order__main-top-ttl">
                    <h2 class="h2">Ваш заказ</h2>
                </div>
                <a href="{{ app.createUrl('/cart') }}" class="order__main-top-link">редактировать заказ</a>
            </div>
            <div class="order__main-items">
                {% for position in positions %}
                    {% set product = position.getPropertyProduct() %}
                    <div class="order__main-item">
                        <div class="order__main-item-img h-object-fit">
                            {#
                                {% if product.productsImagesPreview %}
                                <img src="/uploads/shop/{{ product.productsImagesPreview.0.image_url }}" alt="">
                                {% else %}
                                    <img src="assets/images/basket/item-img-1.png" alt="">
                                {% endif %}
                            #}

                            {% for images in product.productsImagesPreview if not break %}
                                {% if images.params_name == product.param_name %}
                                    <img src = "/uploads/shop/{{ images.image_url }}" alt = "">
                                {% elseif product.param_name is null %}
                                    <img src = "/uploads/shop/{{ product.productsImagesPreview[0].image_url }}" alt = "">
                                {% endif %}
                            {% endfor %}

                        </div>
                        <div class="order__main-item-info">
                            <div class="order__main-item-info-top">
                                <div class="catalog-item__ttl-top">{{ product.undertitle }}</div>
                                <div class="catalog-item__ttl-bot">{{ product.title }}</div>
                            </div>
                            <div class="order__main-item-info-bot">
                                <div class="order__main-item-info-bot-num">{{ position.getQuantity }} шт.</div>
                                <div class="order__main-item-info-bot-price">{{ this.format_price(position.getSumPrice) }} <span>&#8381;</span></div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="order__main-sum">
                <div class="basket__table-total-main-top  basket__table-total-main-top--order">
                    <div class="basket__table-total-main-top-descr  basket__table-total-main-top-descr--delivery">
                        Доставка
                    </div>
                    <div class="basket__table-total-main-top-price  basket__table-total-main-top-price--delivery">
                        <div class="basket_price  basket_price--delivery">
                            {{ app.shoppingCart.getCost() < 5000 ? '300 <span>&#8381;</span>' : 'Бесплатно' | raw}}
                        </div>
                    </div>
                </div>
                <div class="basket__table-total-main-top  basket__table-total-main-top--order">
                    <div class="basket__table-total-main-top-descr">Итого:</div>
                    <div class="basket__table-total-main-top-price">
                        <div class="basket_price">
                            <span class="basket_price-amount"> {{ this.format_price(app.shoppingCart.getCost() < 5000 ? app.shoppingCart.getCost() + 300 : app.shoppingCart.getCost()) }} </span>
                            <span>&#8381;</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="order__main-btn">
                {{ C.Html.submitButton('Оформить заказ', {class: 'btn btn_blue btn_bold'}) | raw }}
            </div>
        </div>
        {{ C.Html.endForm() | raw }}
    </div>
</div>
