<div class="footer">
	<div class="container">
		<div class="footer__wrap">
			<div class="footer__top">
				<div class="footer__top-col footer__top-address">
					<div class="footer__top-address-item">
						<div class="footer__top-address-item-city  footer__top-address-item-city--moscow">
							<span class="word-flag">Москва</span>
						</div>
						<div class="footer__top-address-item-descr">пр. Серебрякова, д. 2, стр. 1</div>
					</div>
					<div class="footer__top-address-item">
						<div class="footer__top-address-item-city">
							<span class="word-flag">Новосибирск</span>
						</div>
						<div class="footer__top-address-item-descr">ул. Красный проспект, д. 39, оф.&nbsp;404</div>
					</div>
				</div>
				<div class="footer__top-col footer__top-numbers">
					<a href="tel:84957406522" class="footer__top-numbers-item">8 (495) 740-65-22</a>
					<a href="tel:88002222245 " class="footer__top-numbers-item">8 (800) 222-22-45</a>
					<div class="footer__top-numbers-free">
						<span class="word-flag">бесплатно по РФ</span>
					</div>
				</div>
				<div class="footer__top-col footer__top-socials">
					<a href="mailto:hello@wolly.ru" class="footer__top-socials-mail">hello@wolly.ru</a>
					<div class="footer__top-socials-items">
						<a href="#" class="footer__top-socials-item">
							<svg class="icon icon-vk" width="1em" height="1em">
								<use xlink:href="/assets/images/sprite1.svg#cicon-vk"></use>
							</svg>
						</a>
						<a href="#" class="footer__top-socials-item">
							<svg class="icon icon-instagram" width="1em" height="1em">
								<use xlink:href="/assets/images/sprite1.svg#cicon-instagram"></use>
							</svg>
						</a>
						<a href="#" class="footer__top-socials-item">
							<svg class="icon icon-facebook" width="1em" height="1em">
								<use xlink:href="/assets/images/sprite1.svg#cicon-facebook"></use>
							</svg>
						</a>
					</div>
				</div>
				<div class="footer__bot-col footer__bot-feedback">
					<a href="#" class="footer__bot-feedback-btn">
						<svg class="icon icon-document" width="1em" height="1em">
							<use xlink:href="/assets/images/svg/sprite.svg#icon-document"></use>
						</svg>
						<span>Скачать презентацию</span>
					</a>
					<button data-target="#modalCallBack" class="js-modal-toggle footer__bot-feedback-btn">
						<svg class="icon icon-call" width="2em" height="2em">
							<use xlink:href="/assets/images/svg/sprite.svg#icon-call"></use>
						</svg>
						<span>Обратный звонок</span>
					</button>
					<button data-target="#modalQuestion" class="js-modal-toggle footer__bot-feedback-btn">
						<svg class="icon icon-question" width="1em" height="1em">
							<use xlink:href="/assets/images/svg/sprite.svg#icon-question"></use>
						</svg>
						<span>Задать вопрос</span>
					</button>
				</div>
				<!--<div class="footer__top-col footer__top-about">ОБЩЕСТВО С ОГРАНИЧЕННОЙ<br>ОТВЕТСТВЕННОСТЬЮ «Wolly»<br>присвоен ИНН 9729215515, КПП 772901001,<br>ОГРН 5177746394601</div>!-->
			</div>
			<div class="footer__privacy">
				<div class="footer__privacy-rights">
					<p class="footer__privacy-text">&copy; 2018 Wolly. Все права защищены.</p>
					<div class="footer__bot-col footer__bot-policy">Используя сайт, вы принимаете условия <a href="#">Публичной оферты</a>,<br><a href="#">Соглашения на обработку персональных данных</a> и <a href="#">Политики в отношении персональных данных</a></div>
				</div>
				<div class="footer__privacy-development">
					<div class="footer__bot-col footer__bot-payment">
						<div class="footer__bot-payment-item">
							<img src="/assets/images/footer/visa.png" alt="">
						</div>
						<div class="footer__bot-payment-item">
							<img src="/assets/images/footer/mastercard.png" alt="">
						</div>
					</div>
					<div class="footer__privacy-development-descr">Дизайн и разработка сайта</div>
					<div class="footer__privacy-development-company">
						<a href="#" class="footer__privacy-development-company-item"><img src="/assets/images/footer/company.png" alt=""></a>
						<a href="#" class="footer__privacy-development-company-item"><img src="/assets/images/footer/company-sm.png" alt=""></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
