{% import 'views/macros/form-modal.twig' as form %}

<div class="footer">
   <div class="container">
      <div class="footer__inner">
         <div class="footer__row _content">
            <div class="footer__col _request">
               <div class="footer__block">
                  <div class="footer__block-header">
                     <h5 class="footer__title">Обратная связь</h5>
                     <p class="footer__desc">
                        Оставьте заявку и мы вам перезвоним
                     </p>
                  </div>
                  <div class="footer__block-content">
                     <div class="footer__form">
                        <form action="" class="js-form js-form-footer form">
                           <div class="form__group flex-row">
                              {{ form.input({placeholder: 'Ваше имя', name: 'name'}) }}
                              {{ form.input({name: 'phone', inputMod: 'js-form-phone'}) }}
                           </div>
                           <div class="form__group">
                              {{ form.input({placeholder: 'E-mail', name: 'email'}) }}
                           </div>
                           <div class="form__group">
                              {{ form.textarea({placeholder: 'Сообщение', name: 'comment'}) }}
                           </div>
                           <div class="form__submit-wr">
                              <button type="submit" class="btn _inverse form__submit">
                                 <span class="btn__text">Отправить</span>
                              </button>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
            <div class="footer__col _contacts">
               <div class="footer__block">
                  <div class="footer__block-header">
                     <h5 class="footer__title">
                        Наши контакты
                     </h5>
                     <p class="footer__desc">
                        Мы будем рады видеть вас по адресу
                     </p>
                  </div>
                  <div class="footer__block-content">
                     <div class="footer__address">
                        <div class="footer-address">
                           <div class="footer-address__item">
                           <span class="footer-address__title">
                              <span class="footer-address__title-text">
                                 Москва
                              </span>
                           </span>
                              <span class="footer-address__text">
                              пр. Серебрякова, д. 2, стр. 1
                           </span>
                           </div>
                           <div class="footer-address__item">
                            <span class="footer-address__title">
                              <span class="footer-address__title-text">
                                 Новосибирск
                              </span>
                           </span>
                              <span class="footer-address__text">
                              ул. Октябрьская, д. 34, цок. этаж
                           </span>
                           </div>
                        </div>
                     </div>
                     <div class="footer__contacts">
                        <div class="footer-contacts">
                           <div class="footer-contacts__col">
                              <div class="footer-contacts__phones">
                                 <div class="footer-contacts__phones-item">
                                    <a href="tel:+74957406522" class="footer-contacts__phone">
                                       8 (495) 740-65-22
                                    </a>
                                 </div>
                                 <div class="footer-contacts__phones-item">
                                    <a href="tel:+78002222245" class="footer-contacts__phone">
                                       8 (800) 222-22-45
                                    </a>
                                 </div>
                              </div>
                              <div class="footer-contacts__help-wr">
                              <span class="footer-contacts__help">
                                 <span class="footer-contacts__help-text">
                                    Бесплатно по РФ
                                 </span>
                              </span>
                              </div>
                           </div>
                           <div class="footer-contacts__divider"></div>
                           <div class="footer-contacts__col">
                              <div class="footer-contacts__email-wr">
                                 <a href="mailto:hello@wolly.ru" class="footer-contacts__email">hello@wolly.ru</a>
                              </div>
                              <div class="footer-contacts__socials-wr">
                                 <ul class="footer-contacts__socials">
                                    <li class="footer-contacts__socials-item">
                                       <a href="#" class="footer-contacts__social _vk">
                                          <span class="footer-contacts__social-icon"></span>
                                       </a>
                                    </li>
                                    <li class="footer-contacts__socials-item">
                                       <a href="#" class="footer-contacts__social _inst">
                                          <span class="footer-contacts__social-icon"></span>
                                       </a>
                                    </li>
                                    <li class="footer-contacts__socials-item">
                                       <a href="#" class="footer-contacts__social _fb">
                                          <span class="footer-contacts__social-icon"></span>
                                       </a>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="footer__download-wr">
                        <a href="#" class="footer__download">
                           <span class="footer__download-icon"></span>
                           <span class="footer__download-text">
                           Скачать презентацию
                        </span>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="footer__separate"></div>
         <div class="footer__row _info">
            <div class="footer__copyright">
               &#169; 2018 Wolly. Все права защищены.
            </div>
            <div class="footer__design mt-20 mt-0-sm g-va">
               <span class="footer__design-text">Разработка сайта</span>
               <span class="footer__design-separate">&#8212;</span>
               <a href="//constructivesolutions.ru" target="_blank" class="footer__design-link">Конструктивные решения</a>
            </div>
         </div>
      </div>
   </div>
</div>
