<div class="footer {{ app.controller.getid == 'cart' or app.controller.getid == 'order' ? 'footer--helper' : '' }}">
	<div class="container">
		<div class="footer__wrap">
            {% if app.controller.getid != 'cart' and app.controller.getid != 'order' %}
			<div class="footer__top">
				<div class="footer__top-col footer__top-address">
					{% for city in item.adress.city if city %}
						<div class="footer__top-address-item">
							<div class="footer__top-address-item-city  footer__top-address-item-city--moscow">
								<span class="word-flag">{{ city }}</span>
							</div>
							<div class="footer__top-address-item-descr">{{ item.adress.adress[loop.index0] }}</div>
						</div>
					{% endfor %}
				</div>
				<div class="footer__top-col footer__top-numbers">
					{% for phone in item.phones if phone %}
						<a href="tel:{{ phone }}" class="footer__top-numbers-item">{{ phone }}</a>
					{% endfor %}
					<div class="footer__top-numbers-free">
						<span class="word-flag">бесплатно по РФ</span>
					</div>
				</div>
				<div class="footer__top-col footer__top-socials">
					<a href="mailto:hello@wolly.ru" class="footer__top-socials-mail">hello@wolly.ru</a>
					<div class="footer__top-socials-items">
						<a href="{{ item.vk }}" class="footer__top-socials-item">
							<svg class="icon icon-vk" width="1em" height="1em">
								<use xlink:href="/assets/images/sprite1.svg#cicon-vk"></use>
							</svg>
						</a>
						<a href="{{ item.inst }}" class="footer__top-socials-item">
							<svg class="icon icon-instagram" width="1em" height="1em">
								<use xlink:href="/assets/images/sprite1.svg#cicon-instagram"></use>
							</svg>
						</a>
						<a href="{{ item.facebook }}" class="footer__top-socials-item">
							<svg class="icon icon-facebook" width="1em" height="1em">
								<use xlink:href="/assets/images/sprite1.svg#cicon-facebook"></use>
							</svg>
						</a>
					</div>
				</div>
				<div class="footer__bot-col footer__bot-download">
					<a href="#" class="footer__bot-download-btn">
						<svg class="icon icon-document" width="1em" height="1em">
							<use xlink:href="/assets/images/sprite1.svg#cicon-document"></use>
						</svg>
						<span>Скачать презентацию</span>
					</a>
				</div>
				<!--<div class="footer__top-col footer__top-about">ОБЩЕСТВО С ОГРАНИЧЕННОЙ<br>ОТВЕТСТВЕННОСТЬЮ «Wolly»<br>присвоен ИНН 9729215515, КПП 772901001,<br>ОГРН 5177746394601</div>!-->
			</div>
			{% endif %}

			<div class="footer__privacy {{ app.controller.getid == 'cart' or app.controller.getid == 'order' ? 'footer__privacy--helper' : '' }}" >
				<div class="footer__privacy-rights">
					<p class="footer__privacy-text">&copy; 2018 Wolly. Все права защищены.</p>
					<div class="footer__bot-col footer__bot-policy">Используя сайт, вы принимаете условия <a href="#">Публичной оферты</a>,<br><a href="#">Соглашения на обработку персональных данных</a> и <a href="#">Политики в отношении персональных данных</a></div>
				</div>
				<div class="footer__privacy-development">
					<div class="footer__bot-col footer__bot-payment">
						<div class="footer__bot-payment-item">
							<img src="/assets/images/footer/visa.png" alt="">
						</div>
						<div class="footer__bot-payment-item">
							<img src="/assets/images/footer/mastercard.png" alt="">
						</div>
					</div>
					<div class="footer__privacy-development-descr">Дизайн и разработка сайта</div>
					<div class="footer__privacy-development-company">
						<a href="#" class="footer__privacy-development-company-item"><img src="/assets/images/footer/company.png" alt=""></a>
						<a href="#" class="footer__privacy-development-company-item"><img src="/assets/images/footer/company-sm.png" alt=""></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

