<header class="header">
    <div class="container">
        <div class="header__wrap">
            <button type="button" class="btn_menu-open">
                <span></span>

            </button>
            <div class="header__logo">
                <a href="/">
                    <svg class="icon icon-logo" width="1em" height="1em">
                        <use xlink:href="/assets/images/sprite1.svg#cicon-logo"></use>
                    </svg>
                </a>
            </div>
            <div class="header__main {{ app.controller.getid == 'cart' or app.controller.getid == 'order' ? 'header__main--helper' : '' }}">
                {% if app.controller.getid != 'cart' and app.controller.getid != 'order' %}
                <nav class="header__nav">
                    {{ this.widget('zii.widgets.CMenu',
                        {
                            items: [
                                {
                                    'label': 'Каталог',
                                    'url': ['/catalog']
                                },
                                {
                                    'label': 'Проекты',
                                    'url': ['/projects']
                                },
                                {
                                    'label': 'О нас',
                                    'url': ["/pages/about"]
                                },
                                {
                                    'label': 'Помощь',
                                    'url': ["/pages/faq"]
                                },
                                {
                                    'label': 'Контакты',
                                    'url': ["/contacts"]
                                },
                                {
                                    'label': 'Доставка и оплата',
                                    'url': ["/pages/delivery"]
                                }
                            ],
                            'htmlOptions': {
                                'class': 'h-reset-list header__nav-list'
                            },
                        },
                        true) | raw
                    }}
                </nav>
                {% endif %}
                <div class="header__main-rt">
                    <div class="header__callback">
                        <div class="header__callback-num">
                            <a href="tel:{{ item.header_phone }}">{{ item.header_phone }}</a>
                        </div>
                        <div class="header__callback-btn {{ app.controller.getid == 'cart' or app.controller.getid == 'order' ? 'header__callback-btn--helper' : '' }}">
                            <a href="#" data-target="#modalRequest"
                               class="js-modal-toggle btn btn_sm btn_white-bord btn_fw800 btn_cback">Заказать звонок</a>
                        </div>
                    </div>
                    {% if app.controller.getid != 'cart' and app.controller.getid != 'order' %}
                        <a href="/cart" class="header__basket">
                            <div class="header__basket-icon">
                                <svg class="icon icon-basket" width="1em" height="1em">
                                    <use xlink:href="/assets/images/sprite1.svg#cicon-basket"></use>
                                </svg>
                            </div>
                            <div class="header__basket-value">
                                <span id="update_basket">{{ this.format_price(app.shoppingCart.getCost) }}</span>
                                <span>&#8381;</span>
                            </div>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>
