{% import 'views/macros/form.twig' as form %}

{% set basketList = [
	{
		img: '~images/basket/item-img-1.png',
		type: 'Набор маркеров',
		name: 'Mungyo POWER LINE',
		count: 1,
		price: 750,
		amount: 750
	},
	{
		img: '~images/basket/item-img-1.png',
		type: 'Маркерная пленка',
		name: 'wolly pro 122 см магнитно-маркерная глянцевая',
		count: 4,
		price: 750,
		amount: 3000
	},
	{
		img: '~images/basket/item-img-1.png',
		type: 'Набор маркеров',
		name: 'Mungyo POWER LINE',
		count: 1,
		price: 750,
		amount: 750
	},
	{
		img: '~images/basket/item-img-1.png',
		type: 'Маркерная пленка',
		name: 'wolly pro 122 см магнитно-маркерная глянцевая',
		count: 5,
		price: 100,
		amount: 500
	}
] %}

<header class="header">
	<div class="container">
		<div class="header__wrap">
			<button type="button" class="btn_menu-open">
				<span></span>
				
			</button>
			<div class="header__logo">
				<a href="/">
					<svg class="icon icon-logo" width="1em" height="1em">
						<use xlink:href="/assets/images/sprite1.svg#cicon-logo"></use>
					</svg>
				</a>
			</div>
			<div class="header__main">
				<nav class="header__nav">
					<ul class="h-reset-list header__nav-list">
                        {{ this.widget('zii.widgets.CMenu',
                            {
                                items: [
                                {
                                    'label': 'Каталог',
                                    'url': ['/catalog']
                                },
                                {
                                    'label': 'Проекты',
                                    'url': ['/projects']
                                },
                                {
                                    'label': 'О нас',
                                    'url': ["/pages/about"]
                                },
                                {
                                    'label': 'Помощь',
                                    'url': ["/pages/faq"]
                                },
                                {
                                    'label': 'Контакты',
                                    'url': ["/contacts"]
                                },
                                {
                                    'label': 'Доставка и оплата',
                                    'url': ["/pages/delivery"]
                                }
                            ],
                                'htmlOptions': {
                                'class': 'h-reset-list header__nav-list'
                            },
                            },
                            true) | raw
                        }}

					</ul>
				</nav>
				<div class="header__main-rt">
					<div class="header__callback">
						<div class="header__callback-num">
							<a href="tel:88002222245" class="js-modal-feedback-toggle">8 (800) 222-22-45</a>
							<div class="modal-feedback js-modal-feedback">
								<div class="modal-feedback__tabs-list">
									<a href="#header-callback" class="modal-feedback__tabs-item _active js-modal-tab">Перезвоните мне</a>
									<a href="#header-question" class="modal-feedback__tabs-item js-modal-tab">Задать вопрос</a>
								</div>
								<div class="modal-feedback__tabs-content-list">


									<form id="header-callback" action="" class="js-form modal-feedback__tabs-content-item _active">
										{#
										{{ form.input({placeholder: 'Ваше имя', name: 'name', inputMod: 'modal-feedback__input'}) }}
										{{ form.input({placeholder: 'Ваш телефон', name: 'phone', inputMod: 'js-form-phone modal-feedback__input'}) }}
										<button class="modal-feedback__btn btn">Отправить заявку</button>
										#}


                                        {{ form.input({placeholder: 'Ваше имя', name: 'FormOrder[dataName]', inputMod: 'modal-feedback__input'}) }}
                                        {{ form.input({placeholder: 'Ваш телефон', name: 'FormOrder[dataPhone]', inputMod: 'js-form-phone modal-feedback__input'}) }}
										<input type = "hidden" value="Перезвоните мне" name="FormOrder[dataFormName]">

                                        {{ C.Html.ajaxSubmitButton('Отправить заявку',
                                            app.createUrl(''),
                                            {
                                                'type': 'POST',
                                                'data': 'js:$("#header-callback").serialize()'
                                            },
                                            {'class': 'modal-feedback__btn btn' }
                                        ) | raw }}

									</form>
									<form id="header-question" action="" class="modal-feedback__tabs-content-item">
										{#
											{{ form.input({placeholder: 'Введите имя', name: 'name', inputMod: 'modal-feedback__input'}) }}
											{{ form.input({placeholder: 'Введите почту', name: 'name', inputMod: 'modal-feedback__input'}) }}
											{{ form.textarea({placeholder: 'Вопрос', name: 'question', textareaMod: 'modal-feedback__textarea'}) }}
											<button class="modal-feedback__btn btn">Задать вопрос</button>
										#}

                                        {{ form.input({placeholder: 'Введите имя', name: 'FormOrder[dataName]', inputMod: 'modal-feedback__input'}) }}
                                        {{ form.input({placeholder: 'Введите почту', name: 'FormOrder[dataEmail]', inputMod: 'modal-feedback__input'}) }}
                                        {{ form.textarea({placeholder: 'Вопрос', name: 'FormOrder[dataMessage]', textareaMod: 'modal-feedback__textarea'}) }}

										<input type = "hidden" value="Задать вопрос" name="FormOrder[dataFormName]">

                                        {{ C.Html.ajaxSubmitButton('Задать вопрос',
                                            app.createUrl(''),
                                            {
                                                'type': 'POST',
                                                'data': 'js:$("#header-question").serialize()'
                                            },
                                            {'class': 'modal-feedback__btn btn' }
                                        ) | raw }}

									</form>
								</div>
							</div>
						</div>
					</div>
					<a href="/cart" class="header__basket js-basket-list-toggle" >
						<div class="header__basket-icon">
							<svg class="icon icon-basket" width="1em" height="1em">
								<use xlink:href="/assets/images/sprite1.svg#cicon-basket"></use>
							</svg>
						</div>
						<div class="header__basket-value">
							<span id="update_basket">{{ this.format_price(app.shoppingCart.getCost) }}</span>
							<span>&#8381;</span>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="basket-list js-basket-list">
		<div class="basket-list__header">
			<div class="container basket-list__header-inner">
				<h3 class="basket-list__title">Корзина</h3>
				<button type="button" class="basket-list__close js-basket-list-close"></button>
			</div>
		</div>
		<div class="basket-list__inner">


            {% for item in app.shoppingCart.getPositions %}
				<div class="basket-list__item">
					<div class="container basket-list__item-inner basket__table-item" data-product="{{ item.id }}" data-param_name="{{ item.param_name ?: '' }}">
						<div class="basket-list__item-img">
                            {% for images in item.productsImagesPreview if not break %}
                                {% if images.params_name == item.param_name %}
									<img src = "/uploads/shop/{{ images.image_url }}" alt = "">
                                {% elseif item.param_name is null %}
									<img src = "/uploads/shop/{{ item.productsImagesPreview[0].image_url }}" alt = "">
                                {% endif %}
                            {% endfor %}
						</div>
						<div class="basket-list__item-control">
							<div class="basket-list__item-desc">
								<span class="basket-list__item-type">{{ item.undertitle }}</span>
								<h4 class="basket-list__item-name">{{ item.title }}</h4>
							</div>
							<div class="counter-wrap basket-list__item-counter-wrap basket__table-item-counter">
								<div class="counter-minus"></div>
								<div class="counter-number-wrap">
									<input type="number" value="{{ item.getQuantity }}" class="counter-number">
								</div>
								<div class="counter-plus"></div>
							</div>
							<div class="basket-list__item-total">
								<span class="basket-list__item-amount">{{ this.format_price(item.getSumPrice) }}</span>
								<span class="currency">₽</span>
							</div>
						</div>
                        {{ C.Html.ajaxLink(
                            svg.icon('icon-delete'),
                            app.createUrl('/cart/DeleteProduct'),
                            {
                                type: 'POST',
                                data: {
                                product_id: 'js:$(this).closest(".basket-list__item-inner").data("product")',
                                param_name: 'js:$(this).closest(".basket-list__item-inner").data("param_name")',
                            },
                                update: '#update_basket'
                            },
                            {
                                class: 'basket-list__item-remove'
                            }
                        ) | raw }}
					</div>
				</div>
            {% endfor %}


		</div>
		<div class="basket-list__footer">
			<div class="container basket-list__footer-inner">
				<div class="basket-list__total">
					<p class="basket-list__total-text">Итого</p>
					<span class="basket-list__total-amount">
						<span id="update_basket" class="basket_price-amount">{{ this.format_price(app.shoppingCart.getCost) }}</span>
					</span>
					<span class="currency">₽</span>
				</div>
				<a href="/cart" class="basket-list__footer-link btn">Перейти в корзину</a>
			</div>
		</div>
	</div>
</header>
