<div class="js-navbar navbar">
   <div class="container">
      <div class="navbar__inner">
         <div class="navbar__toggle">
            <button class="js-navbar-toggle navbar-toggle" aria-expanded="false" data-toggle="collapse"
                    data-target="#navbarMenu">
               <span class="navbar-toggle__inner">
                  <span class="navbar-toggle__sep"></span>
                  <span class="navbar-toggle__sep"></span>
                  <span class="navbar-toggle__sep"></span>
               </span>
            </button>
         </div>
         <div id="navbarMenu" class="navbar__menu-wr collapse">
            <div class="container">
               <div class="navbar__menu">
                  <div class="navbar__menu-logo">
                     <div class="navbar-logo">
                        <img src="~images/logo_white.svg" alt="webstorm" class="navbar-logo__img">
                     </div>
                  </div>
                  <div class="navbar__menu-close">
                     <button data-target="#navbarMenu" aria-expanded="false" data-toggle="collapse" class="js-navbar-toggle navbar__close"></button>
                  </div>
               </div>
               <div class="navbar__nav">
                  <ul class="navbar-nav">
                      {% for item in mainMenu %}
                         <li
                                 class="navbar-nav__item-wr {% if item.mod %}navbar-nav__item-wr_{{ item.mod }}{% endif %} {% if item.active %}active{% endif %}">
                            <div class="navbar-nav__item">
                               <a {% if item.page %}data-page="{{ item.page }}"{% endif %}
                                  href="{{ item.target | default(item.link) }}"
                                  class="{{ item.js | default('') }} navbar-nav__link">{{ item.title }}</a>
                            </div>
                         </li>
                      {% endfor %}
                  </ul>
               </div>
            </div>
         </div>
         <div class="navbar__logo">
            <div class="navbar-logo">
               <img src="~images/logo.svg" alt="webstorm" class="navbar-logo__img">
            </div>
         </div>
         <a href="tel:+78002222245" class="navbar__call">
            <span class="navbar__call-icon"></span>
         </a>
         <div class="navbar__content">
            <div class="navbar__content-inner">
               <div class="navbar__phone-wr center-m">
                  <a href="tel:+78002222245" class="navbar__phone">8 (800) 222-22-45</a>
               </div>
               <div class="navbar__request-wr center-m">
                  <button data-target="#modalRequest" class="js-modal-toggle btn _inverse navbar__request">
                        <span class="btn__text">
                        Заказать звонок
                     </span>
                  </button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
