<div class="navbar">
   <div class="container">
	  <div class="navbar__inner">
		 <div class="navbar__toggle">
			<button class="js-navbar-toggle navbar-toggle" aria-expanded="false" data-toggle="collapse"
					data-target="#navbarMenu">
			   <span class="navbar-toggle__inner">
				  <span class="navbar-toggle__sep"></span>
				  <span class="navbar-toggle__sep"></span>
				  <span class="navbar-toggle__sep"></span>
			   </span>
			</button>
		 </div>
		 <div class="navbar__logo">
			<div class="navbar-logo">
			   <img src="~images/webstorm1.svg" alt="webstorm" class="navbar-logo__img">
			</div>
		 </div>
		 <div id="navbarMenu" class="navbar__menu-wr collapse">
			<div class="navbar__menu">
			   <div class="navbar__menu-nav">
				  <ul class="navbar-nav">
					 {% for item in mainMenu %}
						<li
						   class="navbar-nav__item-wr {% if item.mod %}navbar-nav__item-wr_{{ item.mod }}{% endif %} {% if item.active %}active{% endif %}">
						   <div class="navbar-nav__item">
							  <a {% if item.page %}data-page="{{ item.page }}"{% endif %}
								 href="{{ item.target | default(item.link) }}"
								 class="{{ item.js | default('') }} navbar-nav__link">{{ item.title }}</a>
							  {% if item.submenu %}
								 <ul class="navbar-nav__submenu">
									{% for subitem in item.submenu %}
									   <li class="navbar-nav__submenu-item">
										  <a {% if subitem.page %}data-page="{{ subitem.page }}"{% endif %}
											 href="{{ subitem.target | default(subitem.link) }}"
											 class="{{ subitem.js | default('') }} navbar-nav__sublink">
											 {{ subitem.title }}
										  </a>
									   </li>
									{% endfor %}
								 </ul>
							  {% endif %}
						   </div>
						</li>
					 {% endfor %}
				  </ul>
			   </div>
			   <div class="navbar__menu-content">
				  <div class="navbar__menu-phone mt-30">
					 <a href="tel:+79139340925" class="navbar__phone">+7 913 <span
						   class="navbar__phone-subtext">934 09 25</span></a>
				  </div>
				  <div class="navbar__menu-request mt-10">
					 <button data-target="#modalRequest" class="js-modal-toggle navbar__request">
						<span class="navbar__request-icon"></span>
						<span class="navbar__request-text">
						Обратный звонок
					 </span>
					 </button>
				  </div>
			   </div>
			</div>
		 </div>
		 <div class="navbar__content">
			<div class="navbar__content-inner">
			   <div class="navbar__phone-wr center-m">
				  <a href="tel:+70000000000" class="navbar__phone">+7 913 <span
						class="navbar__phone-subtext">934 09 25</span></a>
			   </div>
			   <div class="navbar__request-wr center-m">
				  <button data-target="#modalRequest" class="js-modal-toggle navbar__request">
					 <span class="navbar__request-icon"></span>
					 <span class="navbar__request-text">
						Обратный звонок
					 </span>
				  </button>
			   </div>
			</div>
		 </div>
	  </div>
   </div>
</div>