{% extends 'views/layouts/base.twig' %}

{% import 'views/macros/form.twig' as form %}

{% set factsList = [
    {
        icon: 'glue',
        title: 'Клеевой слой',
        text: 'Пленка легко наклеивается на любую ровную поверхность и не отклеивается даже через 5 лет.'
    },
    {
        icon: 'limit',
        title: 'Срок службы',
        text: 'Срок службы неограничен. На пленке не остается царапин, ее поверхность не стирается.'
    },
    {
        icon: 'ecology',
        title: 'Экологичность',
        text: '100% безопасны и экологичны, не содержат формальдегид.'
    },
    {
        icon: 'thickness',
        title: 'Толщина',
        text: 'Толщина пленок от 0,11 мм до 0,6 мм, в зависимости от выбора типа пленки.'
    },
    {
        icon: 'size',
        title: 'Размер',
        text: 'Типовая длина начинается от 1 метра.'
    },
    {
        icon: 'unique',
        title: 'Уникальность',
        text: 'Можно выбрать любую длину и вырезать любую форму самостоятельно.'
    },
] %}

{% block content %}
    <section class="main-promo">
        <div class="container main-promo__inner">
            <div class="main-promo__logo"><img src="/assets/images/logo_white.svg" alt="Wolly"></div>
            <p class="main-promo__text">маркерные, меловые и&nbsp;магнитные пленки премиум-класса</p>
            <div class="main-promo__links-list">
                <a href="catalog.html" class="main-promo__links-item btn _white">Перейти в каталог</a>
                <a href="about.html" class="main-promo__links-item btn _blue">Читать о продукте</a>
            </div>
        </div>
    </section>
    <section class="main-about main-about--rupor">
        <div class="container">
            <div class="row">
                <div class="main-about__inner col-xs-20 col-md-20">
                    <h2 class="main-about__title">Рисуй и создавай на любой поверхности</h2>
                    <p class="main-about__text">
                        Пленка Wolly  — это инновационный, износостойкий материал, который можно приклеить практически к любой поверхности. Так же Вы можете ее легко отклеить, при этом на поверхности не останется и следа.
                    </p>
                    <p class="main-about__text">
                        Теперь Вы можете писать, рисовать, оставлять заметки и креативить в любом месте, которое Вы только можете себе представить!
                    </p>
                </div>
            </div>
        </div>
    </section>
    {% include "views/partials/projects-block.twig" %}
    {% include "views/partials/about-partial.twig" %}
    <section class="trial">
        <div class="container">
            <h2 class="trial__title">Бесплатные образцы пленок Wolly</h2>
            <form action="" method="post" class="js-form js-request-form form trial__form">
                <div class="trial__form-inner">
                    {{ form.input({placeholder: 'Ваше имя', name: 'FormOrder[dataName]', inputMod: 'trial__input'}) }}
                    {{ form.input({placeholder: 'Ваш телефон', name: 'FormOrder[dataPhone]', inputMod: 'js-form-phone trial__input'}) }}
                    {{ form.input({placeholder: 'Адрес доставки', name: 'FormOrder[dataAdress]', inputMod: 'trial__input'}) }}
                    <input type = "hidden" value="Бесплатные образцы пленок Wolly" name="FormOrder[dataFormName]">
                </div>

                {{ C.Html.ajaxSubmitButton('Заказать',
                    app.createUrl(''),
                    {
                        'type': 'POST',
                        'data': 'js:$(".trial__form").serialize()'
                    },
                    {'class': 'form__submit btn trial__form-btn' }
                ) | raw }}

            </form>
        </div>

    </section>
    <section class="main-facts">
        <div class="container main-facts__inner">
            <div class="row">
                <h2 class="main-facts__title col-xs-20">Факты о нашей пленке</h2>
                <p class="main-facts__text col-xs-20">
                    Большинство потребителей выбирают пленку Wolly — благодаря
                    ее непревзойденному качеству,  а также благодаря высокому
                    уровню нашего сервиса и удобствам применения.
                </p>
                <ul class="main-facts__list col-xs-24">
                    {% for item in factsList %}
                        <li class="main-facts__item col-xs-10 col-lg-10">
                            <svg class="main-facts__item-icon _{{ item.icon }}">
                                <use xlink:href="assets/images/svg/sprite.svg#icon-{{ item.icon }}"></use>
                            </svg>
                            <h3 class="main-facts__item-title">{{ item.title }}</h3>
                            <p class="main-facts__item-text">{{ item.text }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
    <section class="main-compare">
        <div class="container">
            <div class="main-compare__inner col-xs-18">
                <h2 class="main-compare__title">Сравнение</h2>
                <p class="main-compare__text">
                    Существуют альтернативные способы создания поверхности для работы маркерами. Мы изучили их и убедились, что плёнка Wolly - наилучший вариант. Смотрите сами.
                </p>
            </div>
            <ul class="main-compare__content col-xs-18">
                <li class="main-compare__content-item">
                    <h3 class="main-compare__content-item-title">Пленка - Доска</h3>
                    <p class="main-compare__text">
                        Маркерные доски (Whiteboard) легко найти и купить, но их качество оставляет желать лучшего. Они также проигрывают пленке по легкости установки и внешнему виду.
                    </p>

                    <div class="main-compare__content-item-col">
                        <h4 class="main-compare__list-title">Пленка</h4>
                        <ul class="main-compare__list">
                            <li class="main-compare__item">
                                <p class="main-compare__text">Поверхность любого размера и формы</p>
                            </li>
                            <li class="main-compare__item">
                                <p class="main-compare__text">Легко наклеивается, не требует дополнительных материалов</p>
                            </li>
                            <li class="main-compare__item">
                                <p class="main-compare__text">Оригинальный элемент интерьера: целая стена, стол и любая другая поверхность</p>
                            </li>
                            <li class="main-compare__item">
                                <p class="main-compare__text">Не царапается, не тускнеет и служит как минимум 5 лет</p>
                            </li>
                        </ul>
                    </div>
                    <div class="main-compare__content-item-col">
                        <h4 class="main-compare__list-title">Доска</h4>
                        <ul class="main-compare__list">
                            <li class="main-compare__item">
                                <p class="main-compare__text">Ограниченный выбор размеров и форм</p>
                            </li>
                            <li class="main-compare__item">
                                <p class="main-compare__text">Необходима установка крепления в стене</p>
                            </li>
                            <li class="main-compare__item">
                                <p class="main-compare__text">Всегда выглядит как скучная офисная доска</p>
                            </li>
                            <li class="main-compare__item">
                                <p class="main-compare__text">Остаются следы маркеров</p>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="main-compare__content-item">
                    <h3 class="main-compare__content-item-title">Пленка - Краска</h3>
                    <p class="main-compare__text">
                        Маркерная краска кажется наиболее универсальной. Однако, этот метод требует тщательной обработки поверхности и большого запаса времени. Кроме того, как и большинство красок, она не может быть полностью безопасной.
                    </p>
                    <div class="main-compare__content-item-col">
                        <h4 class="main-compare__list-title">Пленка</h4>
                        <ul class="main-compare__list">
                            <li class="main-compare__item">
                                <p class="main-compare__text">Подходит для использования на любой относительно гладкой поверхности</p>
                            </li>
                            <li class="main-compare__item">
                                <p class="main-compare__text">Нужно только наклеить</p>
                            </li>
                            <li class="main-compare__item">
                                <p class="main-compare__text">Готова к использованию сразу после наклеивания</p>
                            </li>
                            <li class="main-compare__item">
                                <p class="main-compare__text">Экологична и безопасна</p>
                            </li>
                        </ul>
                    </div>
                    <div class="main-compare__content-item-col">
                        <h4 class="main-compare__list-title">Краска</h4>
                        <ul class="main-compare__list">
                            <li class="main-compare__item">
                                <p class="main-compare__text">Наносится на идеально ровную поверхность</p>
                            </li>
                            <li class="main-compare__item">
                                <p class="main-compare__text">Необходимо смешать ингредиенты в нужной пропорции и нанести несколько слоев</p>
                            </li>
                            <li class="main-compare__item">
                                <p class="main-compare__text">Полное высыхание от 3 до 7 дней</p>
                            </li>
                            <li class="main-compare__item">
                                <p class="main-compare__text">Может иметь в составе алкиды и летучие органические соединения, опасные для здоровья</p>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section class="main-partners">
        <div class="container">
            <h2 class="main-partners__title">Уже используют Wolly</h2>
            <ul class="main-partners__list">
                {% for item in partners %}
                    <li class="main-partners__item">
                        <div class="main-partners__logo {% if (item.mod) %}{{ item.mod }}{% endif %}">
                            <img src="{{ item.src }}" alt="{{ item.alt }}" class="main-partners__logo-img">
                        </div>
                    </li>
                    {% if loop.index % 3 == 0 %}
                        <li class="main-partners__item _w100 visible-xx hidden-xs hidden-sm hidden-md"></li>
                    {% endif %}
                    {% if loop.index % 5 == 0 %}
                        <li class="main-partners__item _w100 hidden-xx visible-xs visible-sm visible-md"></li>
                    {% endif %}
                    {% if loop.index == 8 %}
                        <li class="main-partners__item _w100 hidden-xx hidden-xs hidden-sm hidden-md"></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </section>
    <section class="main-promo main-promo--footer">
        <div class="container main-promo__inner">
            <h2 class="main-promo__title">Вы можете заказать маркерные, меловые, магнитные пленки и аксессуары для них</h2>
            <div class="main-promo__links-list">
                <a href="catalog.html" class="main-promo__links-item btn _blue">В каталог</a>
            </div>
        </div>
    </section>
{% endblock %}