{% extends 'views/modal/base.twig' %}

{% import 'views/macros/form-modal.twig' as form %}

{% set modal = {
id: 'modalQuestion',
title: 'Задать вопрос'
} %}

{% block modal_content %}
<div class="modal__form">
    <form class="js-form form _modal">
        <div class="form__group">
            {{ form.input({placeholder: 'Ваше имя', name: 'name'}) }}
        </div>
        <div class="form__group">
            {{ form.input({placeholder: 'Эл. почта', name: 'phone', inputMod: 'js-form-email'}) }}
        </div>
        <div class="form__group">
            {{ form.textarea({placeholder: 'Вопрос', name: 'question'}) }}
        </div>
        <div class="form__submit-wr">
            <button type="submit" class="form__submit btn _inverse">
                <span class="btn__text">Отправить</span>
            </button>
        </div>
    </form>
</div>
{% endblock %}
