{% extends 'views/modal/base.twig' %}

{% import 'views/macros/form-modal.twig' as form %}

{% set modal = {
   id: 'modalRequest',
   title: 'Бесплатные образцы'
} %}

{% block modal_content %}
   <p class="modal__desc">
      в Москве и Санкт-Петербурге
   </p>
   <div class="modal__form">
      <form class="js-form js-request-form form _modal">
         <div class="form__group flex-row">
            {{ form.input({placeholder: 'Ваше имя', name: 'name'}) }}
            {{ form.input({name: 'phone', inputMod: 'js-form-phone'}) }}
         </div>
         <div class="form__group">
            {{ form.input({placeholder: 'Адрес доставки', name: 'address'}) }}
         </div>
         <div class="form__submit-wr">
            <button type="submit" class="form__submit btn _inverse">
               <span class="btn__text">Заказать</span>
            </button>
         </div>
      </form>
   </div>
{% endblock %}

