{% extends 'views/modal/base.twig' %}

{% set modal = {
   id: 'modalSuccess',
   title: 'Спасибо'
} %}

{% block modal_content %}
   <p class="modal__desc">
      В ближайшее время мы с вами свяжемся.
   </p>
{% endblock %}

