{% macro basket_item (item) %}
	<tr class="basket__table-item">
		<td class="basket__table-item-img">
			<a href="#">
				<img src={{ item.img }} alt="">
			</a>
		</td>
		<td class="basket__table-item-name">
			<div class="basket__table-item-name-category">{{ item.name.category }}</div>
			<div class="basket__table-item-name-main">{{ item.name.main }}</div>
		</td>
		<td class="basket__table-item-singleprice">
			<div class="basket__table-item-singleprice-top">Цена за 1 шт</div>
			<div class="basket_price basket__table-item-singleprice-main">{{ item.singleprice }} <span>&#8381;</span></div>
		</td>
		<td class="basket__table-item-counter">
			<div class="counter-wrap">
				<div class="counter-minus"></div>
				<div class="counter-number-wrap">
					<input type="number" value="1" class="counter-number">
				</div>
				<div class="counter-plus"></div>
			</div>
		</td>
		<td class="basket__table-item-price">
			<div class="basket_price">{{ item.price }} <span>&#8381;</span></div>
			<div class="basket__table-item-price-single">{{ item.singleprice }} <span>&#8381;</span> за 1 шт</div>
		</td>
		<td class="basket__table-item-delete">
			<button type="button" class="basket__table-item-delete-btn">
				<svg class="icon icon-delete" width="1em" height="1em">
					<use xlink:href="assets/images/sprite1.svg#cicon-delete"></use>
				</svg>
			</button>
		</td>
	</tr>
{% endmacro %}
