{% macro buy_item (item) %}
	<div class="buy__item">
		<div class="h-object-fit buy__item-img">
			<img src={{ item.img }} alt="">
		</div>
		<div class="buy__item-main">
			{% if item.flag %}
				<span class="catalog-item__flag {{ item.flag.color }}">{{ item.flag.txt }}</span>
			{% endif %}
			<div class="catalog-item__ttl buy__item-main-ttl">
				<div class="catalog-item__ttl-top">{{ item.ttl_top }}</div>
				<div class="catalog-item__ttl-bot">{{ item.ttl_bot }}</div>
			</div>
            {% if item.sizes %}
				<div class="catalog-item__radiogroup  catalog-item__radiogroup--dontforget">
                    {% for size in item.sizes %}
						<div class="form-group">
							<label class="radio-label_catalog">
								<input type="radio" name="size" value={{ size.value }} class="hidden-input" {% if size.checked  %}  checked="checked" {% endif %}>
								<span class="check-value">{{ size.value }}</span>
							</label>
						</div>
                    {% endfor %}
				</div>
            {% endif %}
			<div class="buy__item-main-counter">
				<div class="buy__item-main-counter-wrap">
					<div class="counter-wrap">
						<div class="counter-minus"></div>
						<div class="counter-number-wrap">
							<input type="number" value="1" class="counter-number">
						</div>
						<div class="counter-plus"></div>
					</div>
				</div>
				<div class="buy__item-main-counter-price">
					<div class="basket_price">{{ item.price }} <span>&#8381;</span></div>
				</div>
			</div>
			<div class="buy__item-main-btn">
				<a href="#" class="btn btn_blue btn_bold">Добавить</a>
			</div>
		</div>
	</div>
{% endmacro %}