<div class="catalog-double__item">
    <div class="catalog-double__item-inner">
        <div class="h-object-fit catalog-double__item-inner-bg">

            {{ dump(item.productsImagesPreview) }}
            {% for preview_image in item.productsImagesPreview %}
                <img src="/uploads/shop/{{ preview_image.image_url }}" alt="{{ preview_image.image_name }}"
                     data-params_name="{{ preview_image.params_name }}">
            {% endfor %}
        </div>
        <div class="catalog-double__item-body">
            <div class="container">
                <div class="catalog-double__item-body-inner">
                    <div class="catalog-item__main {{ item.inversion ? 'catalog-item__main_white' : '' }}">


                        {% if(item.getLabels) %}
                            <span class="catalog-item__flag" style = "background-color: {{ item.getLabels.LabelColor }}">{{ item.getLabels.LabelName }}</span>
                        {% endif %}



                        <div class="catalog-item__ttl">
                            <div class="catalog-item__ttl-top">{{ item.undertitle | raw }}</div>
                            <div class="catalog-item__ttl-bot">{{ item.title | raw }}</div>
                        </div>
                        <div class="catalog-item__descr">{{ item.previewText|striptags }}</div>
                        {#  {% if item.country %}
                                <div class="catalog-item__country">
                                    <div class="catalog-item__country-ttl">Страна производитель</div>
                                    <div class="catalog-item__country-name">{{ item.country }}</div>
                                </div>
                            {% endif %}
                        #}
                        <form class="catalog-item__form">
                            {% if item.productsParams %}
                                <div class="catalog-item__radiogroup">
                                    {% for param in item.productsParams %}
                                        <div class="form-group">
                                            <label class="radio-label_catalog {{ loop.first ? 'active' : '' }}">
                                                <input type="radio" name="size"
                                                       value="{{ param.params_name }}" class="hidden-input" {{ loop.first ? 'checked="checked"' : '' }}>
                                                <span class="check-value">{{ param.params_name }}</span>
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <div class="catalog-item__counter">
                                <div class="catalog-item__counter-main">
                                    <div class="counter-wrap">
                                        <div class="counter-minus"></div>
                                        <div class="counter-number-wrap">
                                            <input name="count" type="number" value="1" class="counter-number">
                                        </div>
                                        <div class="counter-plus"></div>
                                    </div>
                                </div>
                                {% if item.productsParams %}
                                    {% for param in item.productsParams %}
                                        <div class="catalog-item__counter-price {{ loop.first ? 'active' : '' }}" data-params_name="{{ param.params_name }}" >
                                            {% if param.params_discount  %}
                                                <div class="catalog-item__counter-price-current">
                                                    <span class="js-catalog-item-price" data-price="{{ param.params_discount }}">{{ this.format_price(param.params_discount) }}</span>
                                                    {#{{ this.format_price(param.params_discount) }} #}
                                                    <span>&#8381;</span>
                                                </div>
                                                <div class="catalog-item__counter-price-old">
                                                    <span class="js-catalog-item-price" data-price="{{ param.params_cost }}">{{ this.format_price(param.params_cost) }}</span>
                                                    {#{{ this.format_price(param.params_cost) }} #}
                                                    <span>&#8381;</span>
                                                </div>
                                            {% else %}
                                                <div class="catalog-item__counter-price-current">
                                                    <span class="js-catalog-item-price" data-price="{{ param.params_cost }}">{{ this.format_price(param.params_cost) }}</span>
                                                    {#{{ this.format_price(param.params_cost) }} #}
                                                    <span>&#8381;</span>
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="catalog-item__counter-price active" data-params_name="{{ param.params_name }}">
                                        {% if item.discount  %}
                                            <div class="catalog-item__counter-price-current">
                                                <span class="js-catalog-item-price" data-price="{{ item.discount }}">{{ this.format_price(item.discount) }}</span>
                                                {#{{ this.format_price(item.discount) }} #}
                                                <span>&#8381;</span>
                                            </div>
                                            <div class="catalog-item__counter-price-old">
                                                <span class="js-catalog-item-price" data-price="{{ item.cost }}">{{ this.format_price(item.cost) }}</span>
                                                {#{{ this.format_price(item.cost) }} #}
                                                <span>&#8381;</span>
                                            </div>
                                        {% else %}
                                            <div class="catalog-item__counter-price-current">
                                                <span class="js-catalog-item-price" data-price="{{ item.cost }}">{{ this.format_price(item.cost) }}</span>
                                                {#{{ this.format_price(item.cost) }} #}
                                                <span>&#8381;</span>
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endif %}
                                {#

                                {% if item.productsParams %}
                                    {% for param in item.productsParams %}
                                        <div class="catalog-item__counter-price {{ loop.first ? 'active' : '' }}" data-params_name="{{ param.params_name }}" >
                                            {% if param.params_discount  %}
                                                <div class="catalog-item__counter-price-current">{{ this.format_price(param.params_discount) }} <span>&#8381;</span></div>
                                                <div class="catalog-item__counter-price-old">{{ this.format_price(param.params_cost) }} <span>&#8381;</span></div>
                                            {% else %}
                                                <div class="catalog-item__counter-price-current">{{ this.format_price(param.params_cost) }} <span>&#8381;</span></div>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="catalog-item__counter-price active" data-params_name="{{ param.params_name }}">
                                        {% if item.discount  %}
                                            <div class="catalog-item__counter-price-current">{{ this.format_price(item.discount) }} <span>&#8381;</span></div>
                                            <div class="catalog-item__counter-price-old">{{ this.format_price(item.cost) }} <span>&#8381;</span></div>
                                        {% else %}
                                            <div class="catalog-item__counter-price-current">{{ this.format_price(item.cost) }} <span>&#8381;</span></div>
                                        {% endif %}
                                    </div>
                                {% endif %}

                                #}

                                {#
                                <div class="catalog-item__counter-price">
                                    {% if item.productsParams %}
                                        {% for param in item.productsParams %}
                                            <div class="catalog-item__counter-price-current" data-param_name="{{ param.params_name }}">{{ this.format_price(param.params_cost) }} <span>&#8381;</span></div>
                                            {% if param.params_discount  %}
                                                <div class="catalog-item__counter-price-old" data-param_name="{{ param.params_name }}">{{ this.format_price(param.params_cost) }} <span>&#8381;</span></div>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <div class="catalog-item__counter-price-current">{{ this.format_price(item.cost) }} <span>&#8381;</span></div>
                                        {% if item.discount  %}
                                            <div class="catalog-item__counter-price-old">{{ this.format_price(item.discount) }} <span>&#8381;</span></div>
                                        {% endif %}
                                    {% endif %}
                                </div>

                                #}
                            </div>
                            <div class="catalog-item__btns">
                                {% if not item.quantity %}
                                    <div class="btn btn_white-bord btn_bold btn_bord3 btn_missing">Нет в наличии</div>
                                {% else %}
                                    <a href="{{ item.getProductUrl }}"
                                       class="btn btn_bold btn_blue btn_detailed">Подробнее</a>
                                    {{ C.Html.ajaxLink(
                                        svg.icon('icon-basket'),
                                        app.createUrl('/cart/addCart'),
                                        {
                                            type: 'POST',
                                            data: {
                                            id: item.id,
                                            data: 'js:$(this).closest(".catalog-item__form").serialize()',
                                        },
                                            update: '#update_basket'
                                        },
                                        {
                                            class: 'btn_blue btn_buy'
                                        }
                                    ) | raw }}
                                {% endif %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
