{% macro input (params) %}
	<div class="form-group">
		<div class="input-wrap">
			<label class="input-label {{ params.mod | default('') }}">
				<span class="input-title {% if params.required %} input-title_required {% endif %}">{{ params.title }}</span>
				<input class="{{ params.inputMod | default('') }} form-control" type="{{ params.type|default('text') }}" {% if params.required %} required {% endif %} name="{{ params.name }}" placeholder="{{ params.placeholder }}">
			</label>
		</div>
	</div>
{% endmacro %}

{% macro textarea (params) %}
	<div class="form-group">
		<div class="input-wrap">
			<label class="input-label {{ params.mod | default('') }}">
				<span class="input-title {% if params.required %} input-title_required {% endif %}">{{ params.title }}</span>
				<textarea class="form-control" {% if params.required %} required {% endif %} name="{{ params.name }}" placeholder="{{ params.placeholder }}"></textarea>
			</label>
		</div>
	</div>
{% endmacro %}

{% macro radio (params) %}
	<label class="radio-label {{ params.mod | default('') }}">
		<input type="radio" class="hidden-input{% if params.input_mod %} {{ params.input_mod }}{% endif %}" {% if params.checked %}checked{% endif %} name="{{ params.name }}" {% if params.data_val %}data-val="{{ params.data_val }}"{% endif %}>
		<span class="check-icon"></span>
		<span class="check-value">{{ params.value }}</span>
		{% if params.descr %}
			<span class="check-descr">{{ params.descr }}</span>
		{% endif %}
	</label>
{% endmacro %}
