{% macro tube (params) %}
   <svg version="1.1" class="{{ params.class }}" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
        y="0px"
        viewBox="0 0 82.2 563.7" style="enable-background:new 0 0 82.2 563.7;" xml:space="preserve">
<style type="text/css">
   /*.st1 {*/
      /*font-family: 'Circe-ExtraBold';*/
   /*}*/

   /*.st2 {*/
      /*font-size: 3.5486px;*/
   /*}*/

   /*.st3 {*/
      /*font-family: 'Circe-Bold';*/
   /*}*/

   /*.st4 {*/
      /*font-family: 'Circe-Regular';*/
   /*}*/
</style>
      <g>
         <path class="st0" d="M41.1,563.7c-20.2,0-41.1-4.2-41.1-11.3V4.1c0-0.7,0-2,12.4-3.1c7.7-0.7,17.9-1,28.7-1s21,0.4,28.7,1
		c12.4,1.1,12.4,2.4,12.4,3.1v548.3C82.2,559.4,61.3,563.7,41.1,563.7z M1.2,4.2v548.2c0,4.9,16,10.1,39.9,10.1
		c23.9,0,39.9-5.2,39.9-10.1V4.2c-1.2-1.3-15.6-3-39.9-3S2.4,2.9,1.2,4.2z"/>
      </g>
      <g id="XMLID_4343_">
         <path id="XMLID_4378_" class="st0"
               d="M58.6,360.2v2.7l-5,3.6l5,3.4v2.5H46.8v-2.7h7.5l-4.6-3.3v-0.4l4.6-3.3h-7.5v-2.7H58.6z"/>
         <path id="XMLID_4375_" class="st0" d="M58.6,379v2.4l-11.8,4.9v-2.9l2.5-1v-4.7l-2.5-1v-2.7L58.6,379z M51.8,378.8v2.6l3.3-1.3
		L51.8,378.8z"/>
         <path id="XMLID_4372_" class="st0" d="M46.8,387.8h11.8c0,0.7,0,2.7,0,3.6c0,3.6-1.9,4.8-3.9,4.8c-2.1,0-4-1.6-4-4.4
		c0-0.3,0-0.9,0.1-1.3h-4V387.8z M56,390.5h-2.7c-0.1,0.4-0.1,0.8-0.1,1.2c0,0.7,0.3,1.6,1.5,1.6c1,0,1.4-0.7,1.4-1.6
		C56.1,391.3,56.1,391.1,56,390.5z"/>
         <path id="XMLID_4370_" class="st0"
               d="M58.6,398.4v2.7h-5.1l5.1,3.9v3.2l-5.4-4.4l-6.4,4.8v-3.4l5.6-4h-5.6v-2.7H58.6z"/>
         <path id="XMLID_4368_" class="st0" d="M58.6,410.1v7H56v-4.3H54v3.8h-2.5v-3.8h-2.1v4.5h-2.5v-7.2H58.6z"/>
         <path id="XMLID_4365_" class="st0" d="M46.8,419.8h11.8c0,0.7,0,2.7,0,3.6c0,3.6-1.9,4.8-3.9,4.8c-2.1,0-4-1.6-4-4.4
		c0-0.3,0-0.9,0.1-1.3h-4V419.8z M56,422.5h-2.7c-0.1,0.4-0.1,0.8-0.1,1.2c0,0.7,0.3,1.6,1.5,1.6c1,0,1.4-0.7,1.4-1.6
		C56.1,423.3,56.1,423,56,422.5z"/>
         <path id="XMLID_4363_" class="st0" d="M51.5,437.4v-4.3h-4.8v-2.7h11.8v2.7h-4.5v4.3h4.5v2.7H46.8v-2.7H51.5z"/>
         <path id="XMLID_4360_" class="st0" d="M58.6,446.5v2.4l-11.8,4.9v-2.9l2.5-1v-4.7l-2.5-1v-2.7L58.6,446.5z M51.8,446.3v2.6l3.3-1.3
		L51.8,446.3z"/>
         <path id="XMLID_4357_" class="st0" d="M50.6,460.4v-1.2l-3.8-2.2v-3l4.4,2.8c0.6-1,1.6-1.8,3.2-1.8c2.2,0,4.3,1.4,4.3,5.1
		c0,0.7-0.1,2.4-0.1,3.1H46.8v-2.7H50.6z M53.1,460.4h3c0-0.2,0.1-0.8,0.1-1c0-0.9-0.6-1.7-1.6-1.7c-0.9,0-1.3,0.6-1.5,1.2V460.4z"
         />
         <path id="XMLID_4355_" class="st0" d="M56,476.4v-4.1h-9.3v-2.7h11.8v9.5H46.8v-2.7H56z"/>
         <path id="XMLID_4353_" class="st0" d="M56,488.7v-2.6l-2.2-0.3c-6.2-0.7-7.5-2.2-7.1-5l2.7,0.1c-0.2,1,0.2,2,6.7,2.5l2.4,0.2v7.8
		H46.8v-2.7H56z"/>
         <path id="XMLID_4351_" class="st0" d="M58.6,494.5v7H56v-4.3H54v3.8h-2.5v-3.8h-2.1v4.5h-2.5v-7.2H58.6z"/>
         <path id="XMLID_4349_" class="st0" d="M51.5,511.2v-4.3h-4.8v-2.7h11.8v2.7h-4.5v4.3h4.5v2.7H46.8v-2.7H51.5z"/>
         <path id="XMLID_4347_" class="st0"
               d="M58.6,516.9v2.7h-5.1l5.1,3.9v3.2l-5.4-4.4l-6.4,4.8v-3.4l5.6-4h-5.6v-2.7H58.6z"/>
         <path id="XMLID_4344_" class="st0" d="M58.6,532v2.4l-11.8,4.9v-2.9l2.5-1v-4.7l-2.5-1v-2.7L58.6,532z M51.8,531.8v2.6l3.3-1.3
		L51.8,531.8z"/>
      </g>
      <g id="XMLID_4303_">
         <path class="st0" d="M59.5,246.6l-31-10.3v-8l15.8-5.5l-15.8-5.5v-8l31-10.3v9.9l-15.7,4.7l15.8,5.2v7.9l-15.8,5.2l15.7,4.7V246.6z
		 M29.8,235.5l28.6,9.5v-7.2l-18.5-5.6l18.6-6.2v-6.2l-18.6-6.2l18.5-5.6v-7.4l-28.6,9.5v6.3l18.2,6.3l-18.2,6.4V235.5z"/>
      </g>
      <g id="XMLID_4300_">
         <path class="st0" d="M42.1,269.8c-7.5,0-13.9-6.4-13.9-14.1c0-6.9,4.6-11.8,11.2-11.8c7.5,0,13.9,6.4,13.9,14
		C53.3,265,48.7,269.8,42.1,269.8z M39.5,245.2c-6,0-10,4.3-10,10.6c0,7,5.8,12.9,12.7,12.9c6,0,10-4.3,10-10.6
		C52.1,251.1,46.3,245.2,39.5,245.2z M41.8,262.2c-3.3,0-6.9-2.4-6.9-5.9c0-2.7,2-4.6,4.9-4.6c3.3,0,6.9,2.4,6.9,5.9
		C46.6,260.3,44.7,262.2,41.8,262.2z M39.8,252.9c-2.3,0-3.7,1.3-3.7,3.4c0,2.8,3,4.7,5.7,4.7c2.2,0,3.6-1.3,3.6-3.4
		C45.4,254.8,42.4,252.9,39.8,252.9z"/>
      </g>
      <g id="XMLID_4298_">
         <path class="st0" d="M60.8,281.5h-32v-9.2h32V281.5z M30,280.3h29.6v-6.8H30V280.3z"/>
      </g>
      <g id="XMLID_4296_">
         <path class="st0" d="M60.8,294.1h-32v-9.2h32V294.1z M30,292.9h29.6v-6.8H30V292.9z"/>
      </g>
      <g id="XMLID_4294_">
         <path class="st0" d="M52.8,322.7L29.7,314c-5.8-2.2-7.8-4.6-7.8-9.3c0-2.7,0.7-5.2,2.1-7.6l0.3-0.5l6.7,3l-0.3,0.6
		c-0.7,1.2-1.1,2.4-1.1,3.2c0,0.6,0.1,0.9,0.4,1.2l22.9-9.1v9.7l-12.4,4.1l12.4,3.9V322.7z M24.7,298.2c-1.1,2.1-1.6,4.3-1.6,6.6
		c0,4.1,1.8,6.2,7,8.1l21.5,8.1V314l-15.1-4.7l15.1-5v-7.1l-21.9,8.7l-0.3-0.2c-0.8-0.6-1.2-1.3-1.2-2.3c0-0.9,0.4-2.1,1-3.2
		L24.7,298.2z"/>
      </g>
      <g id="XMLID_4248_">
         <path id="XMLID_4292_" class="st0" d="M20.6,214v-0.3l2.1-0.2c0.6,0,1.2-0.1,1.9-0.1l-3.4-0.9v-0.3l3.4-0.9c-0.3,0-0.8,0-1.6-0.1
		c-0.1,0-0.1,0-0.2,0l-2.1-0.1v-0.3l4.3,0.3v0.5l-3.3,0.8l3.3,0.8v0.5L20.6,214z"/>
         <path id="XMLID_4289_" class="st0" d="M21,217.3c-0.1,0-0.1,0.1-0.2,0.2l-0.2-0.1c0-0.1,0.1-0.2,0.2-0.3c0.1-0.1,0.2-0.1,0.3-0.1
		c-0.3-0.2-0.5-0.5-0.5-0.8c0-0.3,0.1-0.5,0.3-0.6c0.2-0.2,0.4-0.2,0.7-0.2c0.3,0,0.6,0.1,0.8,0.3c0.2,0.2,0.3,0.5,0.3,0.9v0.4H23
		c0.2,0,0.4,0,0.5-0.1c0.1-0.1,0.2-0.2,0.2-0.4c0-0.2-0.1-0.5-0.2-0.7l0.2-0.1c0.1,0.3,0.2,0.6,0.2,0.9c0,0.3-0.1,0.5-0.3,0.7
		c-0.2,0.1-0.4,0.2-0.7,0.2h-1.7C21.1,217.3,21,217.3,21,217.3z M21.4,216.9h0.9v-0.4c0-0.3-0.1-0.5-0.2-0.6
		c-0.1-0.1-0.3-0.2-0.6-0.2c-0.2,0-0.4,0-0.5,0.1c-0.1,0.1-0.2,0.2-0.2,0.4C20.8,216.5,21,216.8,21.4,216.9z"/>
         <path id="XMLID_4286_" class="st0" d="M25.3,219.3h-4.6v-0.3h4.6L25.3,219.3z M23.9,220.8l-1.5-1.1l-1.8,1.2v-0.4l1.8-1.2l1.5,1.1
		V220.8z"/>
         <path id="XMLID_4283_" class="st0" d="M22.1,224v-1.8c-0.4,0-0.8,0.1-1,0.2c-0.2,0.1-0.3,0.3-0.3,0.6c0,0.1,0,0.3,0.1,0.4
		c0,0.1,0.1,0.2,0.2,0.3l-0.2,0.2c-0.1-0.1-0.2-0.3-0.3-0.4c-0.1-0.1-0.1-0.3-0.1-0.5c0-0.4,0.1-0.6,0.4-0.9
		c0.3-0.2,0.7-0.3,1.2-0.3c0.6,0,1,0.1,1.3,0.3c0.3,0.2,0.4,0.5,0.4,0.8c0,0.3-0.1,0.6-0.4,0.8c-0.3,0.2-0.7,0.3-1.2,0.3
		C22.3,224,22.2,224,22.1,224z M22.5,223.7c0.4,0,0.7-0.1,0.9-0.2c0.2-0.1,0.3-0.3,0.3-0.5c0-0.5-0.4-0.7-1.3-0.7L22.5,223.7
		L22.5,223.7z"/>
         <path id="XMLID_4281_" class="st0" d="M20.6,228.4c-0.4-0.1-0.7-0.2-0.9-0.4c-0.2-0.2-0.3-0.4-0.4-0.7l0.3,0
		c0.1,0.2,0.1,0.3,0.2,0.4c0.1,0.1,0.2,0.2,0.3,0.2c0.1,0.1,0.3,0.1,0.5,0.2V228l3.3-0.9v0.4l-3,0.8l3,0.8v0.4L20.6,228.4z"/>
         <path id="XMLID_4278_" class="st0" d="M23.5,232.3c-0.3,0.2-0.7,0.3-1.3,0.3c-0.5,0-1-0.1-1.3-0.3c-0.3-0.2-0.4-0.5-0.4-0.9
		c0-0.4,0.1-0.6,0.4-0.8c0.3-0.2,0.7-0.3,1.3-0.3c0.5,0,1,0.1,1.3,0.3c0.3,0.2,0.4,0.5,0.4,0.8C24,231.9,23.8,232.1,23.5,232.3z
		 M22.3,230.7c-0.9,0-1.4,0.3-1.4,0.8c0,0.5,0.5,0.8,1.4,0.8c0.5,0,0.8-0.1,1.1-0.2c0.2-0.1,0.3-0.3,0.3-0.6
		C23.7,231,23.2,230.7,22.3,230.7z"/>
         <path id="XMLID_4276_" class="st0" d="M20.6,236v-0.3l0.5,0c-0.4-0.2-0.6-0.5-0.6-0.8c0-0.2,0.1-0.4,0.2-0.6
		c0.2-0.1,0.4-0.2,0.6-0.2h2.4v0.3h-2.4c-0.2,0-0.4,0-0.5,0.1c-0.1,0.1-0.2,0.2-0.2,0.4c0,0.2,0.1,0.3,0.2,0.4
		c0.1,0.1,0.3,0.2,0.5,0.3h2.4v0.3H20.6z"/>
         <path id="XMLID_4274_" class="st0" d="M23.9,239l-0.3-0.1c0-0.1,0-0.1,0-0.2c0-0.2-0.1-0.3-0.2-0.4c-0.2-0.1-0.4-0.2-0.7-0.3h-2.1
		v-0.3h3.3v0.3l-0.7,0c0.2,0.1,0.4,0.2,0.5,0.3c0.1,0.1,0.2,0.3,0.2,0.5C24,238.9,23.9,238.9,23.9,239z"/>
         <path id="XMLID_4272_" class="st0" d="M23.9,245.3l-3.3-0.6v-0.5l2.9-0.6l-2.9-0.6v-0.5l3.3-0.7v0.3l-3,0.5l3,0.6v0.4l-3,0.6l3,0.5
		V245.3z"/>
         <path id="XMLID_4269_" class="st0" d="M21,248.3c-0.1,0-0.1,0.1-0.2,0.2l-0.2-0.1c0-0.1,0.1-0.2,0.2-0.3c0.1-0.1,0.2-0.1,0.3-0.1
		c-0.3-0.2-0.5-0.5-0.5-0.8c0-0.3,0.1-0.5,0.3-0.6c0.2-0.2,0.4-0.2,0.7-0.2c0.3,0,0.6,0.1,0.8,0.3c0.2,0.2,0.3,0.5,0.3,0.9v0.4H23
		c0.2,0,0.4,0,0.5-0.1c0.1-0.1,0.2-0.2,0.2-0.4c0-0.2-0.1-0.5-0.2-0.7l0.2-0.1c0.1,0.3,0.2,0.6,0.2,0.9c0,0.3-0.1,0.5-0.3,0.7
		c-0.2,0.1-0.4,0.2-0.7,0.2h-1.7C21.1,248.2,21,248.2,21,248.3z M21.4,247.9h0.9v-0.4c0-0.3-0.1-0.5-0.2-0.6
		c-0.1-0.1-0.3-0.2-0.6-0.2c-0.2,0-0.4,0-0.5,0.1c-0.1,0.1-0.2,0.2-0.2,0.4C20.8,247.5,21,247.7,21.4,247.9z"/>
         <path id="XMLID_4267_" class="st0" d="M20.7,249.9c0.1-0.1,0.2-0.1,0.4-0.1h4.1l0,0.3h-4.1c-0.2,0-0.3,0.1-0.3,0.2
		c0,0.1,0,0.1,0,0.2l-0.2,0.1c-0.1-0.1-0.1-0.2-0.1-0.3C20.6,250.1,20.6,250,20.7,249.9z"/>
         <path id="XMLID_4265_" class="st0" d="M20.7,252c0.1-0.1,0.2-0.1,0.4-0.1h4.1l0,0.3h-4.1c-0.2,0-0.3,0.1-0.3,0.2c0,0.1,0,0.1,0,0.2
		l-0.2,0.1c-0.1-0.1-0.1-0.2-0.1-0.3C20.6,252.2,20.6,252.1,20.7,252z"/>
         <path id="XMLID_4263_" class="st0" d="M23.6,257.6l-0.2-0.2c0.1-0.1,0.2-0.2,0.2-0.3c0-0.1,0.1-0.2,0.1-0.4c0-0.2-0.1-0.3-0.1-0.4
		c-0.1-0.1-0.2-0.2-0.4-0.2c-0.1,0-0.3,0-0.4,0.1c-0.1,0.1-0.2,0.3-0.3,0.5c-0.1,0.3-0.2,0.5-0.4,0.7c-0.1,0.1-0.3,0.2-0.6,0.2
		c-0.3,0-0.5-0.1-0.7-0.3c-0.2-0.2-0.3-0.4-0.3-0.7c0-0.4,0.1-0.7,0.4-1l0.2,0.2c-0.1,0.1-0.2,0.2-0.2,0.4s-0.1,0.3-0.1,0.4
		c0,0.2,0.1,0.3,0.2,0.5s0.3,0.2,0.5,0.2c0.1,0,0.2,0,0.3-0.1c0.1,0,0.2-0.1,0.2-0.2c0.1-0.1,0.1-0.2,0.2-0.4
		c0.1-0.3,0.2-0.5,0.4-0.6c0.1-0.1,0.3-0.2,0.5-0.2c0.2,0,0.4,0.1,0.6,0.3s0.2,0.4,0.2,0.7C24,257,23.8,257.3,23.6,257.6z"/>
         <path id="XMLID_4261_" class="st0" d="M23.7,262.2c-0.2,0.1-0.4,0.2-0.7,0.2h-2.4V262H23c0.2,0,0.4,0,0.5-0.1
		c0.1-0.1,0.2-0.2,0.2-0.3c0-0.3-0.2-0.5-0.7-0.7h-2.4v-0.3H23c0.2,0,0.4,0,0.5-0.1c0.1-0.1,0.2-0.2,0.2-0.3c0-0.3-0.2-0.5-0.7-0.7
		h-2.4V259h3.3v0.3l-0.5,0c0.4,0.2,0.6,0.5,0.6,0.8c0,0.2-0.1,0.3-0.2,0.4c-0.1,0.1-0.3,0.2-0.5,0.2c0.4,0.2,0.6,0.5,0.6,0.8
		C24,261.9,23.9,262.1,23.7,262.2z"/>
         <path id="XMLID_4258_" class="st0" d="M21,265.8c-0.1,0-0.1,0.1-0.2,0.2l-0.2-0.1c0-0.1,0.1-0.2,0.2-0.3c0.1-0.1,0.2-0.1,0.3-0.1
		c-0.3-0.2-0.5-0.5-0.5-0.8c0-0.3,0.1-0.5,0.3-0.6c0.2-0.2,0.4-0.2,0.7-0.2c0.3,0,0.6,0.1,0.8,0.3s0.3,0.5,0.3,0.9v0.4H23
		c0.2,0,0.4,0,0.5-0.1c0.1-0.1,0.2-0.2,0.2-0.4c0-0.2-0.1-0.5-0.2-0.7l0.2-0.1c0.1,0.3,0.2,0.6,0.2,0.9c0,0.3-0.1,0.5-0.3,0.7
		c-0.2,0.1-0.4,0.2-0.7,0.2h-1.7C21.1,265.7,21,265.8,21,265.8z M21.4,265.4h0.9V265c0-0.3-0.1-0.5-0.2-0.6
		c-0.1-0.1-0.3-0.2-0.6-0.2c-0.2,0-0.4,0-0.5,0.1c-0.1,0.1-0.2,0.2-0.2,0.4C20.8,265,21,265.2,21.4,265.4z"/>
         <path id="XMLID_4256_" class="st0" d="M23.9,268.8l-0.3-0.1c0-0.1,0-0.1,0-0.2c0-0.2-0.1-0.3-0.2-0.4c-0.2-0.1-0.4-0.2-0.7-0.3
		h-2.1v-0.3h3.3v0.3l-0.7,0c0.2,0.1,0.4,0.2,0.5,0.3c0.1,0.1,0.2,0.3,0.2,0.5C24,268.6,23.9,268.7,23.9,268.8z"/>
         <path id="XMLID_4254_" class="st0" d="M20.8,271.2c-0.1-0.2-0.2-0.4-0.2-0.6c0-0.2,0.1-0.4,0.2-0.5c0.1-0.1,0.3-0.2,0.5-0.2h2.3
		v-0.4h0.3v0.4h0.8l0,0.3h-0.8v0.7l-0.3,0v-0.6h-2.3c-0.1,0-0.2,0-0.3,0.1c-0.1,0.1-0.1,0.2-0.1,0.3c0,0.1,0,0.3,0.1,0.4L20.8,271.2
		z"/>
         <path id="XMLID_4251_" class="st0" d="M22.1,274.2v-1.8c-0.4,0-0.8,0.1-1,0.2c-0.2,0.1-0.3,0.3-0.3,0.6c0,0.1,0,0.3,0.1,0.4
		c0,0.1,0.1,0.2,0.2,0.3l-0.2,0.2c-0.1-0.1-0.2-0.3-0.3-0.4c-0.1-0.1-0.1-0.3-0.1-0.5c0-0.4,0.1-0.6,0.4-0.9
		c0.3-0.2,0.7-0.3,1.2-0.3c0.6,0,1,0.1,1.3,0.3c0.3,0.2,0.4,0.5,0.4,0.8c0,0.3-0.1,0.6-0.4,0.8c-0.3,0.2-0.7,0.3-1.2,0.3
		C22.3,274.2,22.2,274.2,22.1,274.2z M22.5,273.9c0.4,0,0.7-0.1,0.9-0.2c0.2-0.1,0.3-0.3,0.3-0.5c0-0.5-0.4-0.7-1.3-0.7L22.5,273.9
		L22.5,273.9z"/>
         <path id="XMLID_4249_" class="st0" d="M23.9,277l-0.3-0.1c0-0.1,0-0.1,0-0.2c0-0.2-0.1-0.3-0.2-0.4c-0.2-0.1-0.4-0.2-0.7-0.3h-2.1
		v-0.3h3.3v0.3l-0.7,0c0.2,0.1,0.4,0.2,0.5,0.3c0.1,0.1,0.2,0.3,0.2,0.5C24,276.9,23.9,276.9,23.9,277z"/>
      </g>
      <path id="XMLID_4247_" class="st0" d="M22.3,288.9v-8.3c0-0.1,0.1-0.2,0.2-0.2c0.1,0,0.2,0.1,0.2,0.2v8.3c0,0.1-0.1,0.2-0.2,0.2
	C22.4,289.1,22.3,289,22.3,288.9z"/>
      <g id="XMLID_19_">
         <path id="XMLID_48_" class="st0" d="M41.3,360.1v5.5h-0.7v-4.7h-3.4c0.1,0.6,0.1,1.3,0.1,1.7c0,2.4-1.1,3.6-2.9,3.6
		c-2,0-3.1-1.4-3.1-3.8c0-0.9,0-1.6,0-2.2H41.3z M36.4,360.9h-4.4c0,0.5,0,1,0,1.6c0,1.9,0.8,2.9,2.3,2.9c1.3,0,2.2-0.9,2.2-2.8
		C36.5,362.1,36.5,361.5,36.4,360.9z"/>
         <path id="XMLID_46_" class="st0" d="M41.3,368.8v5.5h-0.7v-4.7h-3.8v4.3H36v-4.3h-3.9v4.8h-0.7v-5.6H41.3z"/>
         <path id="XMLID_44_" class="st0" d="M40.5,383.3v-4.2l-1.9-0.2c-6.7-0.6-7.4-1.9-7.3-3.2l0.8,0c0,0.7,0.3,2,7.2,2.5l2,0.1v5.7h-9.9
		v-0.8H40.5z"/>
         <path id="XMLID_41_" class="st0" d="M41.4,390.3v0.6l-10,4.3v-0.8l3.4-1.4v-4.8l-3.4-1.4v-0.8L41.4,390.3z M35.5,388.5v4.1l4.8-2.1
		L35.5,388.5z"/>
         <path id="XMLID_38_" class="st0" d="M35.2,401.9v-2.2l-3.9-2.8V396l4,2.9c0.4-1.1,1.4-2.2,2.8-2.2c1.8,0,3.2,1.2,3.2,3.7
		c0,0.7,0,1.6,0,2.2h-9.9v-0.8H35.2z M36,401.9h4.6c0-0.4,0-1,0-1.6c0-1.9-1.1-2.8-2.4-2.8c-1.2,0-2.1,1-2.2,2V401.9z"/>
         <path id="XMLID_36_" class="st0" d="M41.3,409.2v5.5h-0.7v-4.7h-9.2v-0.8H41.3z"/>
         <path id="XMLID_34_" class="st0" d="M40.5,421.6v-4.2l-1.9-0.2c-6.7-0.6-7.4-1.9-7.3-3.2l0.8,0c0,0.7,0.3,2,7.2,2.5l2,0.1v5.7h-9.9
		v-0.8H40.5z"/>
         <path id="XMLID_249_" class="st0" d="M35.2,430.3v-2.2l-3.9-2.8v-0.9l4,2.9c0.4-1.1,1.4-2.2,2.8-2.2c1.8,0,3.2,1.2,3.2,3.7
		c0,0.7,0,1.6,0,2.2h-9.9v-0.8H35.2z M36,430.3h4.6c0-0.4,0-1,0-1.6c0-1.9-1.1-2.8-2.4-2.8c-1.2,0-2.1,1-2.2,2V430.3z"/>
         <path id="XMLID_247_" class="st0" d="M36.1,441.2V435h-4.7v-0.8h9.9v0.8h-4.5v6.2h4.5v0.8h-9.9v-0.8H36.1z"/>
         <path id="XMLID_243_" class="st0" d="M41.3,445.1v0.8h-9.2v6.1h9.2v0.8h-9.2v1.3h-2.6v-0.7h1.9v-8.3H41.3z"/>
         <path id="XMLID_241_" class="st0" d="M41.3,456.2v5.5h-0.7v-4.7h-3.8v4.3H36v-4.3h-3.9v4.8h-0.7v-5.6H41.3z"/>
         <path id="XMLID_28_" class="st0" d="M41.3,464.3c0,0.6,0.1,1.7,0.1,2.6c0,2.4-1.1,3.1-2.5,3.1c-1.3,0-2.1-0.9-2.3-1.9h0
		c-0.2,1.4-1,2.3-2.4,2.3c-2,0-2.8-1.5-2.8-3.5c0-0.9,0-2,0.1-2.6H41.3z M40.5,465.1h-3.8v1.9c0,1.2,0.7,2.3,1.9,2.3
		c1.2,0,1.9-0.8,1.9-2.4C40.6,466.3,40.6,465.5,40.5,465.1z M36.1,465.1h-4c0,0.4-0.1,1.2-0.1,1.8c0,1.7,0.7,2.7,2.1,2.7
		c1.2,0,1.9-1,1.9-2.7V465.1z"/>
         <path id="XMLID_234_" class="st0" d="M41.4,476.1v0.6l-10,4.3v-0.8l3.4-1.4V474l-3.4-1.4v-0.8L41.4,476.1z M35.5,474.3v4.1l4.8-2.1
		L35.5,474.3z"/>
         <path id="XMLID_231_" class="st0" d="M35.2,487.7v-2.2l-3.9-2.8v-0.9l4,2.9c0.4-1.1,1.4-2.2,2.8-2.2c1.8,0,3.2,1.2,3.2,3.7
		c0,0.7,0,1.6,0,2.2h-9.9v-0.8H35.2z M36,487.7h4.6c0-0.4,0-1,0-1.6c0-1.9-1.1-2.8-2.4-2.8c-1.2,0-2.1,1-2.2,2V487.7z"/>
      </g>
      {#<text id="XMLID_339_" transform="matrix(0 1 -1 0 22.4944 360.1442)">#}
      {#<tspan x="0" y="0" class="st0 st1 st2">внутри:</tspan>#}
      {#<tspan x="15.6" y="0" class="st0 st3 st2"></tspan>#}
      {#<tspan x="16.4" y="0" class="st0 st4 st2">самоклеящаяся маркерная пленка, инструкция, маркер.</tspan>#}
      {#</text>#}
      <g>
         <path class="st0" d="M81,172.5L81,172.5c0,0.2-0.3,2.2-11.4,4c-7.6,1.2-17.8,1.9-28.5,1.9s-20.9-0.7-28.5-1.9
		c-11-1.8-11.4-3.8-11.4-4v0H0v0c0,4.6,21.2,7.1,41.1,7.1s41.1-2.5,41.1-7.1v0H81z"/>
      </g>
</svg>

{% endmacro %}

{% macro list (params) %}
   <svg version="1.1" class="{{ params.class }}" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
        y="0px"
        viewBox="0 0 592.4 488.1" style="enable-background:new 0 0 592.4 488.1;" xml:space="preserve">
      <g id="XMLID_84_">
         <path id="XMLID_85_" class="st0" d="M267.5,429.4l-0.8-0.9c9.2-9.2,12.8-14.7,14.3-17c0.3-0.5,0.5-0.8,0.7-1
		c25.9-34.4,30.5-148.7,30.5-149.8l0-0.7l0.7,0.1c0.3,0,32.9,4.5,78,2.6c41.6-1.7,102.5-9.2,156.9-35.3c0.9-0.5,1.8-1,3-1.7l0.7,1
		L267.5,429.4z M313.5,261.3c-0.2,4.5-1.5,31.3-5.4,61.4c-5.8,44.1-14.3,73.9-25.3,88.5c-0.2,0.2-0.4,0.5-0.7,1
		c-1.3,1.9-3.9,6-9.9,12.5l271.9-194.2c-30.6,14.1-81.1,30.5-153.1,33.5C349.4,265.5,318.3,261.9,313.5,261.3z"/>
      </g>
      <g id="XMLID_80_">
         <path id="XMLID_81_" class="st0" d="M99.7,488.1c-39.8,0-95.1-0.3-98.6-0.3l-0.6,0L0,0h592.2l-0.2,107.7c0,0.2,1.8,23.8-2.6,50.2
		c-2.6,15.6-6.8,29.1-12.4,40.1c-7.1,13.9-16.5,24-28.1,30c-29.4,14.4-80.4,32.3-156.7,35.5c-42.1,1.8-73.9-1.7-78.8-2.3
		c-0.2,4.5-1.8,31.7-6,62.2c-6.2,44.6-14.9,74.7-25.8,89.2c-19.6,26-44,45.6-72.6,58.2c-20.8,9.2-43.5,14.7-69.5,16.9
		C136.7,488,120.3,488.1,99.7,488.1z M1.7,486.5c9.6,0.1,129.6,0.7,137.8,0c25.9-2.2,48.5-7.7,69.1-16.8
		c28.3-12.5,52.6-32,72.1-57.8c13.5-17.9,21.4-58.1,25.6-88.6c4.6-33.1,6-62.4,6-62.7l0-0.7l0.7,0.1c0.3,0,33.7,4.3,79.2,2.4
		c42-1.8,103.2-9.4,156.2-35.4c14.2-7.4,32.6-25.4,39.9-69.2c4.4-26.3,2.6-49.7,2.6-50L591,1.2H1.2L1.7,486.5z"/>
      </g>
</svg>

{% endmacro %}

{% macro inline(params) %}
   {% if params.name == 'light' %}
      {% set viewBox =  "0 0 328.8 414.2" %}
   {% endif %}
   {% if params.name == 'agenda' %}
      {% set viewBox = "0 0 342.3 294.5" %}
   {% endif %}
   {% if params.name == 'chart' %}
      {% set viewBox = "0 0 287 496" %}
   {% endif %}
   {% set path = '../svg/' ~ params.name ~ '.twig' %}

   <svg class="svg-draw {% if params.class %}{{ params.class }}{% endif %}" version="1.1" id="svg-{{ params.name }}"
        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px" y="0px"
        viewBox="{{ viewBox }}" style="width: inherit; height: inherit;" xml:space="preserve">
<style type="text/css">
   .st0 {
      fill: transparent;
      stroke: #13A6DF;
      transition: fill ease 2s
   }
</style>
      {% include path %}
</svg>

{% endmacro %}
