<section class="about-partial">
    <div class="container about-partial__inner">
        <div class="row">
            <div class="col-xs-20 col-sm-14">
                <h2 class="about-partial__title">Познакомимся поближе</h2>
                <p class="about-partial__text">
                    Посмотрите видео о нашей пленке и узнайте почему Сбербанк, Авито, 2gis выбирают Wolly
                </p>
            </div>
        </div>
        
    </div>
    <div class="about-partial__video">
        <button class="about-partial__video-btn btn">Смотреть видео</button>
    </div>
</section>