{% set projectsList = [
    {
        img: '1',
        title: 'Офис компании  «Яндекс»',
        text: 'Сделали офис Яндекса более функциональным. Хотите посмотреть что получилось? Заходите!',
        link: '#',
        gallery: [
        {
            link: '1/1.jpg'
        },
        {
            link: '1/2.jpg'
        },
        {
            link: '1/3.jpg'
        },
        {
            link: '1/4.jpg'
        },
        {
            link: '1/5.jpg'
        }
    ]
    },
    {
        img: '2',
        title: 'Офис компании  «Яндекс»',
        text: 'Сделали офис Яндекса более функциональным. Хотите посмотреть что получилось? Заходите!',
        link: '#',
        gallery: [
        {
            link: '2/1.jpg'
        },
        {
            link: '2/2.jpg'
        },
        {
            link: '2/3.jpg'
        },
        {
            link: '2/4.jpg'
        },
        {
            link: '2/5.jpg'
        }
    ]
    },
    {
        img: '3',
        title: 'Офис компании  «Яндекс»',
        text: 'Сделали офис Яндекса более функциональным. Хотите посмотреть что получилось? Заходите!',
        link: '#',
        gallery: [
        {
            link: '3/1.jpg'
        },
        {
            link: '3/2.jpg'
        },
        {
            link: '3/3.jpg'
        },
        {
            link: '3/4.jpg'
        },
        {
            link: '3/5.jpg'
        }
    ]
    },
    {
        img: '4',
        title: 'Офис компании  «Яндекс»',
        text: 'Сделали офис Яндекса более функциональным. Хотите посмотреть что получилось? Заходите!',
        link: '#',
        gallery: [
        {
            link: '4/1.jpg'
        },
        {
            link: '4/2.jpg'
        },
        {
            link: '4/3.jpg'
        },
        {
            link: '4/4.jpg'
        },
        {
            link: '4/5.jpg'
        }
    ]
    },
    {
        img: '5',
        title: 'Офис компании  «Яндекс»',
        text: 'Сделали офис Яндекса более функциональным. Хотите посмотреть что получилось? Заходите!',
        link: '#',
        gallery: [
        {
            link: '5/1.jpg'
        },
        {
            link: '5/2.jpg'
        },
        {
            link: '5/3.jpg'
        },
        {
            link: '5/4.jpg'
        },
        {
            link: '5/5.jpg'
        }
    ]
    },
    {
        img: '6',
        title: 'Офис компании  «Яндекс»',
        text: 'Сделали офис Яндекса более функциональным. Хотите посмотреть что получилось? Заходите!',
        link: '#',
        gallery: [
        {
            link: '6/1.jpg'
        },
        {
            link: '6/2.jpg'
        },
        {
            link: '6/3.jpg'
        },
        {
            link: '6/4.jpg'
        },
        {
            link: '6/5.jpg'
        }
    ]
    },
    {
        img: '7',
        title: 'Офис компании  «Яндекс»',
        text: 'Сделали офис Яндекса более функциональным. Хотите посмотреть что получилось? Заходите!',
        link: '#',
        gallery: [
        {
            link: '1/1.jpg'
        },
        {
            link: '1/2.jpg'
        },
        {
            link: '1/3.jpg'
        },
        {
            link: '1/4.jpg'
        },
        {
            link: '1/5.jpg'
        }
    ]
    },
    {
        img: '1',
        title: 'Офис компании  «Яндекс»',
        text: 'Сделали офис Яндекса более функциональным. Хотите посмотреть что получилось? Заходите!',
        link: '#',
        gallery: [
        {
            link: '2/1.jpg'
        },
        {
            link: '2/2.jpg'
        },
        {
            link: '3/3.jpg'
        },
        {
            link: '2/4.jpg'
        },
        {
            link: '1/5.jpg'
        }
    ]
    },
    {
        img: '2',
        title: 'Офис компании  «Яндекс»',
        text: 'Сделали офис Яндекса более функциональным. Хотите посмотреть что получилось? Заходите!',
        link: '#',
        gallery: [
        {
            link: '3/1.jpg'
        },
        {
            link: '3/2.jpg'
        },
        {
            link: '4/3.jpg'
        },
        {
            link: '4/4.jpg'
        },
        {
            link: '5/5.jpg'
        }
    ]
    },
    {
        img: '3',
        title: 'Офис компании  «Яндекс»',
        text: 'Сделали офис Яндекса более функциональным. Хотите посмотреть что получилось? Заходите!',
        link: '#',
        gallery: [
        {
            link: '2/1.jpg'
        },
        {
            link: '3/2.jpg'
        },
        {
            link: '4/3.jpg'
        },
        {
            link: '6/4.jpg'
        },
        {
            link: '6/5.jpg'
        }
    ]
    },
    {
        img: '4',
        title: 'Офис компании  «Яндекс»',
        text: 'Сделали офис Яндекса более функциональным. Хотите посмотреть что получилось? Заходите!',
        link: '#',
        gallery: [
        {
            link: '6/1.jpg'
        },
        {
            link: '5/2.jpg'
        },
        {
            link: '4/3.jpg'
        },
        {
            link: '3/4.jpg'
        },
        {
            link: '2/5.jpg'
        }
    ]
    },
    {
        img: '5',
        title: 'Офис компании  «Яндекс»',
        text: 'Сделали офис Яндекса более функциональным. Хотите посмотреть что получилось? Заходите!',
        link: '#',
        gallery: [
        {
            link: '1/1.jpg'
        },
        {
            link: '1/2.jpg'
        },
        {
            link: '1/3.jpg'
        },
        {
            link: '1/4.jpg'
        },
        {
            link: '1/5.jpg'
        }
    ]
    }
] %}


<section class="projects-block">
    <div class="container projects-block__inner">
        <div class="row">
            <div class="col-xs-20">
                <h2 class="projects-block__title">Пленка Wolly в жизни</h2>
                <p class="projects-block__text">
                    Вариантов использования маркерной и грифельной пленки Wolly много! Убедитесь в этом, взглянув на примеры использования нашей продукции с самыми
                    разными целями.
                </p>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="projects-block__slider js-projects-block-slider ">

            {% for item in projectsList %}
                <div class="projects-block__item js-projects-block-item">
                    <img src="/assets/images/projects-block/projects-bg-{{ item.img }}.jpg" class="projects-block__item-img" alt="Woly">
                    <div class="projects-block__item-desc">
                        <h3 class="projects-block__item-title">{{ item.title }}</h3>
                        <p class="projects-block__item-text">{{ item.text }}</p>
                    </div>
                    <span class="projects-block__item-gallery hidden">
                        {% for photo in item.gallery %}
                            <span data-link="/assets/images/test/{{photo.link}}" class="js-popup-slider-item"></span>
                        {% endfor %}
                    </span>
                </div>
            {% endfor %}
        </div>
    </div>

</section>