{% extends 'views/layouts/base.twig' %}

{% block content %}
	{% include 'views/common/c_main_title.twig' with {
		'title': 'Проекты',
		'pages': [
			{
				'txt':'Главная',
				'url':'/'
			},
			{
				'txt':'Проекты',
				'last':true
			}
		]}
	%}
	<div class="c-projects">
		<div class="container">
			<div class="projects__ttl">
				<h2 class="h2">Выполненные проекты</h2>
			</div>
			<div class="projects__wrap">
			{% for item in news %}
				<div class="projects__item">
					<div class="projects__item-slider-wrap">
						<div class="projects__item-slider">
                            {% for img in item.projectImgs %}
								<div class="projects__item-slider-slide h-object-fit">
									<img src="/uploads/project/{{ img.image_url }}" alt="{{ img.image_title }}">
								</div>
                            {% endfor %}
						</div>
					</div>
					<div class="projects__item-info">
						<div class="projects__item-info-ttl">
							<div class="catalog-item__ttl-top">{{ item.title }}</div>
							<div class="catalog-item__ttl-bot">{{ item.undertitle }}</div>
						</div>
						<div class="projects__item-info-descr">{{ item.descritption |striptags }}</div>
						<div class="projects__item-info-btn">
							<a href="{{ item.getUrl }}" class="btn btn_blue btn_bold">Подробнее</a>
						</div>
					</div>
				</div>
			{% endfor %}
			</div>
			<div class="projects__pagination">
				<ul class="h-reset-list c-pagination">
					{{ pagination.get | raw }}
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
