{% extends 'views/layouts/base.twig' %}

{% block content %}
   {% include 'views/common/c_main_title.twig' with {
      'title': news.title,
      'pages': [
         {
            'txt' : 'Главная'
         },
         {
            'txt' : 'Проекты',
            'url': '/projects/'
         },
         {
            'txt' : news.title,
            'last':true
         }
      ]} %}
      <div class="c-project">
         <div class="container">
            <div class="project__wrap">
               <div class="project__cont">
                  <div class="project__cont-items">
                     <div class="project__cont-item">
                        <div class="project__cont-item-descr project__cont-item-descr_fs18">
                           {{ news.content | raw }}
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
{% endblock %}
