{% extends 'views/layouts/base.twig' %}

{% block content %}
   {% include 'views/common/c_main_title.twig' with {
      'title': project.title,
      'pages': [
         {
            'txt' : 'Главная'
         },
         {
            'txt' : 'Проекты',
            'url': '/projects/'
         },
         {
            'txt' : project.title,
            'last':true
         }
      ]} %}
   <div class="c-project">
      <div class="container">
         <div class="project__wrap">
            <div class="project__main">
               <div class="project__main-slider">
                  {% for img in project.projectImgs %}
                     <div class="project__main-slider-item-wrap">
                        <a href="/uploads/project/{{ img.image_url }}" data-fancybox="project"
                           class="project__main-slider-item h-object-fit">
                           <img src="/uploads/project/{{ img.image_url }}" alt="">
                        </a>
                     </div>
                  {% endfor %}
               </div>
               <div class="project__main-slider_nav">
                  <div class="project__main-slider_nav-inner">
                      {% for img in project.projectImgs %}
                        <div class="project__main-slider_nav-item-wrap">
                           <div class="project__main-slider_nav-item h-object-fit">
                              <img src="/uploads/project/{{ img.image_url }}" alt="">
                           </div>
                        </div>
                     {% endfor %}
                  </div>
               </div>
            </div>
            <div class="project__cont">
               {#<img src="~images/yandex.png" alt="">#}
               <div class="project__cont-items">
                  <div class="project__cont-item">
                     <div class="project__cont-item-ttl">Задача</div>
                     <div class="project__cont-item-descr">{{ project.task | raw }}
                     </div>
                  </div>
                  <div class="project__cont-item">
                     <div class="project__cont-item-ttl">Описание</div>
                     <div class="project__cont-item-descr project__cont-item-descr_fs18">
                        {{ project.content | raw }}
                     </div>
                  </div>
                  <div class="project__cont-item">
                     <div class="project__cont-item-ttl">Использовано</div>
                     <div class="project__cont-item-descr">
                        <div class="project__cont-item-descr-links">
                           {{ project.uses|striptags('<a>') | raw }}
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
{% endblock %}
