{% extends 'views/layouts/base.twig' %}

{% block content %}
    {% include 'views/common/c_main_title.twig' with {
        'title': 'Контакты',
        'pages': [
            {
                'txt':'Главная',
                'url':'/'
            },
            {
                'txt':'Контакты',
                'last':true
            }
        ]} %}
    {% include 'views/common/c_contacts.twig' %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBg1nomn9LTkLBNRJZXGP7Qb6yq6BeViSs"></script>
{% endblock %}
