<g>
   <g>
      <path id="path" class="st0" d="M75,74.1c4.3,5,8.9,9.7,14,14c1,0.8,2.6,1.1,3.5,0c14.5-16.4,29.2-32.9,42.4-50.4
			c-1.5-0.9-3-1.8-4.6-2.7c-13.6,24.4-27.1,48.8-40.8,73.2c1.6,0,3.2,0,4.7,0c-7.2-10.2-14.2-21.7-15.2-34.4c-0.3-3.5-5.8-3.5-5.5,0
			c1.1,13.7,8.1,26.2,16,37.2c1.2,1.6,3.7,1.9,4.7,0c13.7-24.3,27.1-48.8,40.6-73.3c1.7-3-2.6-5.3-4.6-2.7
			c-9.6,12.9-20.2,25.1-30.7,37.3c-3.1,3.6-6.1,8.3-9.7,11.2c-1.2,1,3.3,2.6,0.1-1.1c-3.5-4-8.4-7.3-12.2-11.1
			C76,69.4,73.4,72.1,75,74.1L75,74.1z"/>
   </g>
   <g>
      <path id="XMLID_12_" class="st0" d="M72.7,139.6c4.3,5,8.9,9.7,14,14c1,0.8,2.6,1.1,3.5,0c14.5-16.4,29.2-32.9,42.4-50.4
			c-1.5-0.9-3-1.8-4.6-2.7c-13.6,24.4-27.1,48.8-40.8,73.2c1.6,0,3.2,0,4.7,0c-7.2-10.2-14.2-21.7-15.2-34.4c-0.3-3.5-5.8-3.5-5.5,0
			c1.1,13.7,8.1,26.2,16,37.2c1.2,1.6,3.7,1.9,4.7,0c13.7-24.3,27.1-48.8,40.6-73.3c1.7-3-2.6-5.3-4.6-2.7
			c-9.6,12.9-20.2,25.1-30.7,37.3c-3.1,3.6-6.1,8.3-9.7,11.2c-1.2,1,3.3,2.6,0.1-1.1c-3.5-4-8.4-7.3-12.2-11.1
			C73.7,134.9,71.1,137.7,72.7,139.6L72.7,139.6z"/>
   </g>
   <g>
      <path id="XMLID_11_" class="st0" d="M71.6,212c4.3,5,8.9,9.7,14,14c1,0.8,2.6,1.1,3.5,0c14.5-16.4,29.2-32.9,42.4-50.4
			c-1.5-0.9-3-1.8-4.6-2.7c-13.6,24.4-27.1,48.8-40.8,73.2c1.6,0,3.2,0,4.7,0c-7.2-10.2-14.2-21.7-15.2-34.4c-0.3-3.5-5.8-3.5-5.5,0
			c1.1,13.7,8.1,26.2,16,37.2c1.2,1.6,3.7,1.9,4.7,0c13.7-24.3,27.1-48.8,40.6-73.3c1.7-3-2.6-5.3-4.6-2.7
			c-9.6,12.9-20.2,25.1-30.7,37.3c-3.1,3.6-6.1,8.3-9.7,11.2c-1.2,1,3.3,2.6,0.1-1.1c-3.5-4-8.4-7.3-12.2-11.1
			C72.6,207.4,69.9,210.1,71.6,212L71.6,212z"/>
   </g>
   <g>
      <path id="XMLID_10_" class="st0" d="M136.9,89.4c14.1-1.5,27.4,0.8,41.5,1c12.7,0.2,24.3-2.8,36.7-4.9c28-4.7,57.9-0.9,86.1,0
			c3.2,0.1,3.2-4.9,0-5c-25.5-0.8-52.3-4-77.7-1.3c-15.2,1.6-29.7,6.3-45.1,6.3c-14.4-0.1-27.8-2.7-42.1-0.1
			C134.1,85.7,134.6,89.7,136.9,89.4L136.9,89.4z"/>
   </g>
   <g>
      <path id="XMLID_9_" class="st0" d="M137.1,165.4c54.8-1.2,109.3-3.5,164.2-3.4c3.5,0,3.5-5.3,0-5.4c-54.4-1.5-110-0.9-164.2,4.6
			C134.6,161.6,134.4,165.5,137.1,165.4L137.1,165.4z"/>
   </g>
   <g>
      <path id="XMLID_8_" class="st0" d="M135.9,234.2c55.1-0.3,110.3-2.2,165.4-3.8c3.6-0.1,3.7-5.8,0-5.7
			c-55.1,1.4-110.3,2.6-165.4,5.3C133.2,230.1,133.2,234.2,135.9,234.2L135.9,234.2z"/>
   </g>
   <g>
      <path id="XMLID_7_" class="st0" d="M4.4,12.8c-4,92.7-1.5,185.5,5.9,278c0.1,1,0.7,2.3,1.9,2.4c23.1,3.4,47.2-0.8,70.4-1.8
			c27.7-1.2,55.3-2.1,83-2.8c56-1.4,112-2.2,168-3.1c1.5,0,2.5-1.2,2.7-2.7c5.1-46.9,8-94.9,4.5-142c-2-26.8-5.9-53.4-10.3-79.9
			c-2.2-13.1-4.4-26.3-7-39.4c-1.4-7.4-2.3-13.8-9-18.3c-4.8-3.2-11.2-2.9-16.7-3.1c-14.9-0.5-30,0.3-44.9,0.5
			c-28.7,0.3-57.4,0.7-86.1,1C111.8,2.4,56.3,0.9,1.9,8.9c-3.3,0.5-1.9,5.5,1.4,5C80.2,2.6,160.2,7,237.8,6.2
			c18.6-0.2,41.6-4.1,59.9-0.7c24.5,4.6,24.1,36.3,27.6,56.8c6.6,39.1,11.8,78.6,11.7,118.3c0,14.6-0.6,29.2-1.4,43.7
			c-0.7,14.2,1.2,34.4-3.5,47.8c-2,5.8,2.3,4.6-5.7,8.1c-2.4,1.1-8.2,0.1-10.9,0.2c-9.7,0.2-19.5,0.3-29.2,0.4
			c-19.5,0.2-39,0.5-58.5,0.8c-37.6,0.7-75.2,1.5-112.8,2.9C97,285.3,79.1,286,61.2,287c-7.6,0.4-15.2,1.3-22.8,1.9
			c-3,0.2-9.5,1.4-12.8,0.6c-12.9-3.1-10.9-7.6-11.6-16.9C7.5,186.1,6.3,99.4,8.7,12.8C8.7,10.1,4.6,10.1,4.4,12.8L4.4,12.8z"/>
   </g>
   <g>
      <path id="XMLID_6_" class="st0" d="M27.3,36.7c-3.2,4.6-2.9,11.3,2.4,14.2c5.5,2.9,10.8-1,12.1-6.6c1.2-4.8-0.4-11.2-5.9-12.4
			c-4.4-0.9-10.5,3.1-8,8c0.8,1.6,3.3,1.1,3.8-0.5c0.4-1.5,1.6-2.8,3.4-2.2c2.3,0.8,2.3,4.4,1.8,6.2c-0.7,2.6-2.8,4.9-5.5,3
			c-2.5-1.7-2.1-5.4-0.8-7.7C31.9,36.4,28.8,34.7,27.3,36.7L27.3,36.7z"/>
   </g>
   <g>
      <path id="XMLID_5_" class="st0" d="M28.9,92c-3.1,3.1-1.2,8.6,2,10.9c4.4,3.2,10.3-0.2,12.2-4.7c1.9-4.5,0.2-10.8-4.8-12.6
			c-4.6-1.7-10.5,1.6-10,6.9c0.2,2.1,3.4,2.9,4,0.5c0.4-1.7,2.6-3.1,4.3-2.5c2,0.7,2.6,3.6,2.1,5.4c-0.5,1.9-2.8,4.3-4.9,3.5
			c-1.3-0.5-3.5-3.5-2.3-4.9C33,92.8,30.6,90.3,28.9,92L28.9,92z"/>
   </g>
   <g>
      <path id="XMLID_4_" class="st0" d="M27.1,150.8c1.4,4.2,5.8,6.4,10.1,5.7c4.6-0.9,7.3-5.3,6.7-9.8c-0.6-4.6-4.4-8.3-9.2-8
			c-4.5,0.3-9.9,4.7-8.5,9.7c0.5,1.7,3.3,2.4,4.1,0.5c0.9-2.1,1.7-4.2,4.3-4.8c2.2-0.5,3.9,1.1,4.3,3.2c0.9,5.3-6.1,5.9-8.3,2
			C29.5,147.5,26.4,148.7,27.1,150.8L27.1,150.8z"/>
   </g>
   <g>
      <path id="XMLID_3_" class="st0" d="M31.6,200.4c1.2-4.8,9.3-5.8,9.2,0.2c0,2.1-1.3,4.3-3.7,4.3c-2.6,0-5-2.4-5.2-4.9
			c-0.2-2.1-3.6-3-4.1-0.5c-1,5.3,3.2,10,8.5,10.3c5.1,0.4,8.8-3.9,9.1-8.7c0.3-4.6-2.9-8.9-7.7-9.2c-4.8-0.3-9.3,3.1-9.6,8
			C27.8,202,31.1,202.4,31.6,200.4L31.6,200.4z"/>
   </g>
   <g>
      <path id="XMLID_2_" class="st0" d="M30.5,251.1c2.8-3.8,9.9-0.3,7,4.3c-1.1,1.7-3.2,2.7-5,1.4c-1.9-1.5-2-3.8-1.6-6
			c0.5-2.1-2-3.6-3.6-2.1c-3.7,3.6-1.5,9.7,2.3,12.3c4.1,2.8,9.5,1,11.9-3.3c2.2-4,1.3-9.1-2.9-11.3c-3.8-2-8.9-0.8-11.2,2.8
			C26.1,251.2,29.2,252.9,30.5,251.1L30.5,251.1z"/>
   </g>
</g>
