<g id="XMLID_11_">
   <path class="st0" d="M37.2,108.6c0.1,0,0.2,0,0.3,0c5.7-0.7,11.4-0.8,17.1-0.4c1.4,0.1,2.7-1,2.8-2.4s-1-2.7-2.4-2.8
		c-6-0.4-12.1-0.3-18.1,0.4c-1.4,0.2-2.5,1.5-2.3,2.9C34.7,107.6,35.8,108.6,37.2,108.6z"/>
</g>
<g id="XMLID_10_">
   <path class="st0" d="M82.1,108.2c1.5,0,2.6-1.2,2.6-2.6s-1.2-2.6-2.6-2.6H71.5c-1.5,0-2.6,1.2-2.6,2.6c0,1.5,1.2,2.6,2.6,2.6H82.1z
		"/>
</g>
<g id="XMLID_9_">
   <path class="st0" d="M100.5,106.4h15.1c1.5,0,2.6-1.2,2.6-2.6c0-1.5-1.2-2.6-2.6-2.6h-15.1c-1.5,0-2.6,1.2-2.6,2.6
		C97.9,105.2,99.1,106.4,100.5,106.4z"/>
</g>
<g id="XMLID_8_">
   <path class="st0"
         d="M185.8,95.9c-1.5,0-2.6,1.2-2.6,2.6s1.2,2.6,2.6,2.6h9.7c1.5,0,2.6-1.2,2.6-2.6c0-1.5-1.2-2.6-2.6-2.6H185.8z"
   />
</g>
<g id="XMLID_7_">
   <path class="st0" d="M108.6,197c1.5,0,2.6-1.2,2.6-2.6c0-1.5-1.2-2.6-2.6-2.6H86.5c-1.5,0-2.6,1.2-2.6,2.6c0,1.5,1.2,2.6,2.6,2.6
		H108.6z"/>
</g>
<g id="XMLID_6_">
   <path class="st0" d="M173.7,196.1c1.5,0,2.6-1.2,2.6-2.7c0-1.4-1.2-2.6-2.6-2.6h-16.9c-1.5,0-2.6,1.2-2.6,2.6
		c0,1.5,1.2,2.7,2.6,2.7H173.7z"/>
</g>
<g id="XMLID_5_">
   <path class="st0" d="M188.5,191.6c-1.5,0-2.6,1.2-2.6,2.6c0,1.5,1.2,2.6,2.6,2.6h49c1.5,0,2.6-1.2,2.6-2.6c0-1.5-1.2-2.6-2.6-2.6
		H188.5z"/>
</g>
<g>
   <path class="st0" d="M56.2,96.4c2.5,0.8,5.1,1.2,7.9,1.2c6,0,12.3-2,17.8-5.5c3.8-2.5,3.9-6.9,3.9-10.5c0-0.7,0-2.9-1.6-4.4
		c-1.2-1.1-2.7-1.3-3.6-1.4c-5.3-0.6-10.6-1-15.9-1c3.4-7.2,6.8-14.6,8.6-22.3c0.2-0.8,0-1.7-0.6-2.4c-0.6-0.6-1.4-1-2.3-0.9
		c-7.4,0.9-14.5,4.1-20.2,8.9c-5.9,5-9.3,11.2-9.5,17.5C40.2,84.5,46.9,93.4,56.2,96.4z M53.6,62.1c3.8-3.3,8.5-5.7,13.4-6.9
		c-1.9,6.2-4.8,12.4-7.7,18.4l-1.2,2.6c-0.4,0.8-0.3,1.8,0.2,2.6c0.5,0.8,1.3,1.1,2.3,1.2c6.5-0.2,13,0.2,19.4,1
		c0.1,0,0.4,0.1,0.5,0c0,0.1,0,0.3,0,0.7c0,3.2-0.1,5.1-1.5,6c-6.7,4.3-14.7,5.7-21.2,3.7c-7.1-2.2-12.2-9-11.9-15.6
		C46.1,71.1,48.9,66.1,53.6,62.1z"/>
</g>
<g>
   <path class="st0" d="M67.1,71.3c0,1.4,1.2,2.6,2.6,2.6l0,0l15.7-0.1c1.3,0,2.3-0.9,2.6-2.1c0.6-2.9,0.4-5.8-0.4-8.6
		c0.4,0.3,0.9,0.5,1.4,0.5c0.1,0,0.1,0,0.2,0c10.2-0.7,20.6-0.7,30.6-0.7c12.2,0,24.7,0,37.1-1.2c1.4-0.1,2.5-1.4,2.4-2.9
		c-0.1-1.4-1.5-2.5-2.9-2.4c-12.2,1.2-24.6,1.3-36.6,1.2c-10.2,0-20.6,0-31,0.7c-1.1,0.1-2,0.8-2.3,1.8c-1.7-3.9-4.6-7.3-8.3-9.4
		c-0.7-0.4-1.5-0.4-2.2-0.2c-0.7,0.3-1.3,0.8-1.6,1.6l-6.5,17.2C67.5,69.6,67.1,70.4,67.1,71.3z M78.3,57.1
		c3.1,2.9,4.9,7.2,4.8,11.4L74,68.6L78.3,57.1z"/>
</g>
<g id="XMLID_4_">
   <path class="st0" d="M152.1,79.4c-1.9,1.3-4.5,1.9-6.9,2.3c-8.4,1.4-17.2,2-25.6,2.5l-31.5,2c-1.5,0.1-2.6,1.3-2.5,2.8
		c0.1,1.4,1.2,2.5,2.6,2.5c0.1,0,0.1,0,0.2,0l31.5-2c8.6-0.5,17.5-1.1,26.2-2.5c2.9-0.5,6.3-1.2,9.1-3.2c1.3-0.9,2.4-2.1,3.4-3.1
		l15.9-16.6c1-1.1,1-2.7-0.1-3.7s-2.7-1-3.7,0.1l-15.9,16.6C153.9,77.9,153,78.8,152.1,79.4z"/>
</g>
<g id="XMLID_3_">
   <path class="st0" d="M181,73.6c-0.3,1.4,0.6,2.8,2,3.2c0.2,0,0.4,0.1,0.6,0.1c1.2,0,2.3-0.8,2.6-2.1c0.2-0.9,0.9-1.9,1.6-2.9
		c6.4-9,12.9-17.9,19.5-26.7c0.9-1.2,0.6-2.8-0.5-3.7c-1.2-0.9-2.8-0.6-3.7,0.6c-6.6,8.9-13.1,17.8-19.6,26.8
		C182.6,70.2,181.5,71.6,181,73.6z"/>
</g>
<g>
   <path class="st0" d="M186.1,56.5c3,0,5.5-2.1,6.5-5.3c0.9-3,0.4-7.7-4.1-10.7c-5.1-3.4-10-2-11.4,2.5c-1,3.4,0.3,7.7,3.2,10.7
		C182.5,56,184.7,56.5,186.1,56.5z M182.1,44.6c0.2-0.7,0.5-0.7,0.8-0.7c0.4,0,1.2,0.1,2.6,1.1c2.1,1.4,2.4,3.4,2,4.8
		c-0.4,1.3-1.8,2-3.5,0.3C182.2,48.2,181.7,45.9,182.1,44.6z"/>
</g>
<g>
   <path class="st0" d="M204,58.5c-4.7,0-8.4,4.1-9.3,8c-0.8,3.7,0.9,7,4.4,8.6c1,0.4,2.1,0.7,3.1,0.7c4.2,0,8.4-3.6,9.4-8
		c0.8-3.6-0.8-6.8-4.3-8.4C206.3,58.8,205.2,58.5,204,58.5z M206.5,66.6c-0.5,2.4-3.3,4.5-5.2,3.7c-0.8-0.4-1.7-1-1.4-2.6
		c0.4-1.8,2.2-3.8,4.1-3.8c0.4,0,0.7,0.1,1.1,0.3C206.3,64.6,206.7,65.4,206.5,66.6z"/>
</g>
<g id="XMLID_2_">
   <path class="st0" d="M225.9,213.8c-8.8-1.7-17.5,0-26,1.7c-2.9,0.6-5.8,1.2-8.7,1.6c-7.8,1.2-16,1.3-23.9,1.4l-62,1
		c-1.5,0-2.6,1.2-2.6,2.7c0,1.4,1.2,2.6,2.6,2.6l0,0l62-1c8-0.1,16.4-0.3,24.6-1.5c3-0.4,6-1,8.9-1.6c8.3-1.7,16.2-3.2,23.9-1.7
		c1.4,0.3,2.8-0.7,3.1-2.1C228.2,215.5,227.3,214.1,225.9,213.8z"/>
</g>
<g id="XMLID_1_">
   <path class="st0" d="M219.7,225.6l-61.8,7.8c-8.4,1-17,2.1-25.5,2c-6.7-0.1-13.7-1.1-20.4-2c-12.1-1.6-24.6-3.3-36.9-0.5
		c-1.4,0.3-2.3,1.7-2,3.1s1.7,2.3,3.2,2c11.3-2.6,22.8-1,35,0.6c6.9,0.9,14,1.9,21,2c0.6,0,1.3,0,1.9,0c8.2,0,16.4-1,24.4-2
		l61.8-7.8c1.4-0.2,2.5-1.5,2.3-3C222.5,226.6,221.1,225.6,219.7,225.6z"/>
</g>
<line class="st1" x1="1034.5" y1="31" x2="1029.5" y2="31"/>
<g>
   <path class="st0" d="M260.8,133c-0.4-6.5-0.9-12.9-1.1-19.3c-1-22.9-1.5-47.5-1.8-79.7c0-1-0.6-2-1.6-2.4
		c-16.9-7.5-36-6.5-52.8-5.7c-12.8,0.7-67.9,4.8-67.9,4.8l-5.4,0.4l0,0C97.4,33.6,63.7,36,30,36c-0.7,0-1.5,0.4-2,0.9
		c-2,2-3.1,10.8-1,110.4c0.2,10.6,0.4,18.6,0.4,21.6v75.8h5.4v-75.8c0-3-0.2-11-0.4-21.7c-0.7-28.9-2.1-94.7-0.4-105.9
		c34-0.1,67.9-2.5,101-5.1c2.8-0.2,5.6-0.4,8.4-0.6c20.4-1.6,41.6-3.2,62.6-4.3c15.7-0.8,33.5-1.8,48.8,4.5
		c0.2,31.5,0.8,55.6,1.7,78.2c0.3,6.4,0.7,12.9,1.1,19.4c1.2,18.8,2.5,38.3-0.1,56.6c-2.4,16.7-2.5,32.9-2.5,50.2
		c-0.1,0-0.1,0-0.2,0v4.5h5.5v-5.1l0,0c0-1.9,0-3.7,0-5.5v-0.3l0,0c0-14.6,0.4-28.7,2.4-43C263.4,171.8,262.1,152.2,260.8,133z"/>
</g>
<g>
   <path class="st0" d="M213.3,97.4c0.5-0.9,1-1.8,1.4-2.6c6.1-11.2,10.9-20.1,12.4-22.7c0-0.1,0-0.1,0.1-0.2l-4.9,18.5
		c-0.4,1.4,0.5,2.9,1.9,3.2c0.2,0.1,0.5,0.1,0.7,0.1c1.2,0,2.2-0.8,2.6-2l7-26.4c0.3-1-0.1-2.2-1-2.8c-0.9-0.7-2-0.7-3-0.1L202.1,80
		c-1.2,0.8-1.6,2.4-0.9,3.6c0.8,1.2,2.4,1.6,3.6,0.9l14.4-8.9c-7.9,14.6-20.3,37.2-30.2,55.2l0,0l0,0c-1.1,2-2.1,3.8-3.1,5.7l0,0
		l-3.9,7l0,0c-0.2,0.4-0.4,0.8-0.6,1.1v0.1l0,0c-3.2,5.6-5.7,10.1-7.2,12.5c-1.7-2.3-4.2-7.3-7.1-13.7l0,0l0,0
		c-0.6-1.3-1.1-2.6-1.7-3.9c0,0,0,0,0-0.1l-3.2-7.6l0,0c-0.3-0.8-0.7-1.6-1-2.4c-3.7-8.9-7.5-19-11.1-28.7c-0.4-1-1.4-1.7-2.5-1.7
		s-2.1,0.7-2.5,1.8c-4.3,12-9.6,27.1-14.6,41.5l-1.3,3.9c-0.3,0.8-0.5,1.6-0.8,2.3l0,0l-2.5,7.3c-3.9,11.3-7.1,21.5-9.1,28.3
		c-3.3-8.1-9.1-22.2-14.5-36l0,0l-2.9-7.4l0,0c-1.6-4.1-3.2-8.2-4.7-11.9c-0.4-1-1.3-1.6-2.3-1.7c-1.1,0-2,0.4-2.5,1.3l-40.5,72.1
		c-0.7,1.3-0.3,2.9,1,3.6c0.4,0.2,0.8,0.3,1.3,0.3c0.9,0,1.8-0.5,2.3-1.3l37.8-67.3c1.1,2.7,2.1,5.3,3,7.8c0.5,1.2,4.1,10,4.1,10
		c9.8,24.9,14,35,16.3,39c1.6,2.7,2.3,2.5,3.3,2.2c1.3-0.4,2.1-1.6,1.9-3c0.1-2,3.3-12.4,7.8-26l0,0c0.3-1,0.7-2.1,1.1-3.2l0,0
		l2.4-7.3c0,0,0,0,0-0.1c1-3,2.1-6.2,3.2-9.3v-0.1l0,0c4.2-12.3,8.8-25.3,12.8-36.7c3.7,9.7,6.9,18.1,9.9,25.2l6.8,14.9
		c4.4,9,7.7,13.7,9.9,14c1.2,0.2,2.4-0.3,3.2-1.3c0.7-0.9,2.4-3.7,4.8-7.9l5.5-10l0,0c6.1-10.9,13.9-25.1,21-38.1
		c0.3-0.5,0.6-1,0.8-1.5c0.2-0.4,0.4-0.8,0.6-1.1C210.6,102.4,213.4,97.4,213.3,97.4z M227.3,70.6l0.2-0.2l-0.2,0.6
		C227.3,70.9,227.3,70.7,227.3,70.6z"/>
</g>
<g>
   <path class="st0" d="M237.4,115.9c-1-0.7-2.3-0.6-3.2,0.1l-19.5,16.3c-1.1,0.9-1.3,2.6-0.3,3.7c0.9,1.1,2.6,1.3,3.7,0.3l3-2.5
		c-7.2,10.8-18.7,27.2-27.9,40.2l-5.8-26.7l0,0l-2.8-12.8l0,0l-8.3-38.1c-0.3-1.2-1.3-2-2.5-2.1c-1.1-0.1-2.2,0.8-2.5,1.9
		c-1.7,5.4-5.9,18.7-10.5,33.7l0,0l-3.6,11.4c-5,16.7-10,33.4-12.3,42.4c-2.6-5-6.6-13.1-11-22.5l0,0v-0.1c-1.2-2.5-2.4-5.1-3.6-7.7
		l0,0l-3.2-6.8l0,0c-1.1-2.4-2.3-4.9-3.4-7.3l0,0l0,0c-3.6-7.8-7.1-15.5-10.2-22.1c-0.4-0.9-1.3-1.5-2.4-1.5c-1.2-0.1-2,0.6-2.4,1.5
		l-7.3,14.8l-3.4,6.9l0,0l-10.1,20.4l-26.4,53.6c-0.6,1.3-0.1,2.9,1.2,3.5c0.4,0.2,0.8,0.3,1.2,0.3c1,0,1.9-0.5,2.4-1.5l28-56.8
		l6.4-13l0,0l1-2.1l0,0l9.4-18.9c4.6,10.1,8.5,18.7,12,26.1l4.9,10.3l0,0c15.6,33,16.9,32.7,18.9,32.3c1.2-0.3,2.1-1.6,2.2-2.8
		c0.1-2.2,4.5-17.4,10.2-36.3l0,0l4.9-16.4l0,0c0.4-1.4,0.9-2.9,1.3-4.3l0,0l0,0c2.7-8.8,5.4-17.7,8-25.7l6.5,29.9l2.7,11.8l0,0
		l6.9,31.9c0.2,1,1,1.8,2,2c1.1,0.2,2.1-0.2,2.7-1c19-26.8,28.8-41.2,33.8-49l-4.2,12.3c-0.5,1.4,0.2,2.9,1.6,3.4
		c0.3,0.1,0.6,0.1,0.9,0.1c1.1,0,2.1-0.7,2.5-1.8l9.7-28.1C238.8,117.8,238.4,116.5,237.4,115.9z"/>
</g>
<g>
   <path class="st0" d="M151.1,29.3c0.2-0.4,0.4-0.8,0.4-1.3c0-1.6,0.3-3.7,0.7-6c0.9-5.6,1.8-11.9-0.9-16.2
		c-2.1-3.3-6.5-5.5-11.3-5.5c-4.4,0-8.1,1.8-10.2,5c-2.7,4.1-2.5,13-2.2,23.4c0,0.8,0.1,1.6,0.1,2.4c-0.2,0,1.1,1.4,2.5,1.3
		c1.5-0.1,3.1-1.6,2.9-1.6c0-0.7,0-1.4-0.1-2.2c-0.3-6-0.7-17.3,1.3-20.3c0.3-0.4,0.7-0.7,1.1-1c2.1-1,2.5-1.6,5.2-1.6
		c2.8,0.2,5.3,1.3,6.3,3.1c1.6,2.6,0.8,8.1,0.1,12.5c-0.4,2.5-0.7,4.8-0.7,6.8c0,0.6,0.3,1.2,0.6,1.6c-0.2,0,0.8,0.6,1.9,0.5
		C150.3,30,150.6,29.7,151.1,29.3z"/>
</g>
<g>
   <path class="st0" d="M285.9,248.4c-1.5-7-8.4-9.6-15.5-10.3c-3.9-0.4-7.9-0.2-11.8,0.1c-1.7,0.3-2.5,0-5.3,0.6c-1,0.1-2,0.2-3,0.3
		c-4.2,0.5-8.6,1-12.8,1.1l-93.1,2.2c-29.8,0.7-59.6,1.4-89.4,2.2c-4.5,0.1-9.2,0-13.8-0.2c-2.7-0.1-5.4-0.1-8.1-0.2h-5.4
		c-7.2,0.1-19.8-2.3-24.1,3.7c-2.9,4.1-4.1,14.5-1.1,18.6c4.3,5.8,128.3-0.4,128.3-0.4l5.3-0.3l12.9-0.5l5.3-0.2l51-2l5.3-0.1
		l4.1-0.2l7.4-0.2c13.7-0.4,27.4-0.9,41.1-1.4c8.2-0.3,21.6,1.6,22.8-8.5C287.4,251.6,287.3,249.3,285.9,248.4z M280.9,253.2
		c0,0.6,0.1,1.1,0.1,1.8c-9.4,0.7-46.1,1.9-59.1,2.3l-88.7,3.3c-0.1,0-0.1,0-0.2,0h-0.1l-115,4.3c-1.1,0-2.2,0.2-3.3,0.3
		c-1.1,0.1-2.3,0.2-3.3,0.2c-2.2,0-3.4-0.6-4.5-2.1c-0.3-0.5-0.6-1.4-0.7-2.5l0,0v-0.1c0-0.2,0-0.3-0.1-0.5c0,0,0,0,0.1,0l0.1-5
		c0.2-1.2,0.5-2.2,0.9-2.6c0.5-0.5,2.7-1,5.6-1.6c4.3-0.9,25.5-1.4,28.3-1.3c4.8,0.2,9.5,0.3,14.1,0.2c29.8-0.8,59.6-1.5,89.4-2.2
		l93.1-2.2c4.5-0.1,9-0.7,13.3-1.2c6.3-0.8,12.7-1.5,19-0.9c6.4,0.6,9.1,1.6,10.3,4.7l0.8,4.4l-0.3,0.6
		C280.8,253.3,280.9,253.3,280.9,253.2z"/>
</g>
<g>
   <path class="st0" d="M88.6,268.6c0.1,0.1,0,0.1,0,0.2c-4.5,15.5-8.5,31.5-12.3,46.9c-1.9,7.7-3.8,15.3-5.8,23
		c-2.9,11.4-6.9,22.7-10.8,33.6c-3.2,9-6.4,18.2-9.2,27.6l-0.5,1.8c0,0-3.9,14.4-5.8,16.3s-3.3,2-3.1,0l0,0c-0.1,0.3-0.1,0.6-0.2,1
		l23.8-149c0-0.2,0-0.3,0-0.5c0,0,0.4-1.9-2.7-1.9c-2.5,0-2.7,2.1-2.7,2L23.8,492c-0.2,1.4,0.7,2.7,2,3c0.2,0,0.4,0.1,0.6,0.1
		c1.2,0,2.2-0.8,2.5-1.9l26.8-91.8c2.7-9.3,5.9-18.5,9.1-27.3c3.9-11,7.9-22.4,10.9-34c2-7.7,3.9-15.3,5.8-23
		c3.8-15.4,7.8-31.3,12.2-46.7c0.2-0.7,0.3-1.4-0.2-1.9C91.4,266.3,88.6,268.6,88.6,268.6z"/>
</g>
<g>
   <path class="st0" d="M199.1,262.1c-0.1,0.1,0,0.1,0,0.2c4.5,15.5,8.5,31.5,12.3,46.9c1.9,7.7,3.8,15.3,5.8,23
		c2.9,11.4,6.9,22.7,10.8,33.6c3.2,9,6.4,18.2,9.2,27.6l0.5,1.8c0,0,3.9,14.4,5.8,16.3s3.3,2,3.1,0l0,0c0.1,0.3,0.1,0.6,0.2,1
		l-23.8-149c0-0.2,0-0.3,0-0.5c0,0-0.4-1.9,2.7-1.9c2.5,0,2.7,2.1,2.7,2l35.5,222.4c0.2,1.4-0.7,2.7-2,3c-0.2,0-0.4,0.1-0.6,0.1
		c-1.2,0-2.2-0.8-2.5-1.9L232,394.9c-2.7-9.3-5.9-18.5-9.1-27.3c-3.9-11-7.9-22.4-10.9-34c-2-7.7-3.9-15.3-5.8-23
		c-3.8-15.4-7.8-31.3-12.2-46.7c-0.2-0.7-0.3-1.4,0.2-1.9C196.3,259.8,199.1,262.1,199.1,262.1z"/>
</g>
<g>
   <path class="st0" d="M155.4,262.6l-2.3,97.9c0-0.3,0-0.7,0-1l0,0c-0.1,2-1.5,1.7-3-0.6c-1.5-2.2-2.8-17.1-2.8-17.1l-0.2-1.9
		c-1-9.7-2.5-19.4-4-28.8c-1.9-11.4-3.7-23.3-4.5-35c-0.3-4.7-0.6-9.3-0.9-14c0,0-0.5-0.9-2.9-0.9c-2.3,0-2.5,0.8-2.5,0.8
		c0.3,4.8,0.6,9.7,1,14.5c0.8,12,2.7,23.9,4.6,35.4c1.6,9.2,3,18.9,4,28.5l9.7,95.1c0.1,1.1,0.9,2.1,2.1,2.3c0.2,0,0.4,0,0.6,0
		c1.3-0.1,2.5-1.2,2.5-2.6l4.2-172.7c0,0,0.9-1.1-2.5-1.2C156.3,261.5,155.4,262.6,155.4,262.6z"/>
</g>
<g>
   <path class="st0" d="M141.4,33.6c-1.5,0-2.8-1.1-3-2.6c-0.1-0.5-1.4-11.5-1.4-27.4c0-1.7,1.3-3,3-3s3,1.3,3,3
		c0,15.5,1.4,26.5,1.4,26.6c0.2,1.6-1,3.1-2.6,3.4C141.6,33.5,141.5,33.6,141.4,33.6z"/>
</g>
<g>
   <path class="st0" d="M38.2,440.8c-0.2,0-0.4,0-0.7-0.1c-1.6-0.4-2.6-2-2.3-3.6l38.7-172.3c0.4-1.6,2-2.6,3.6-2.3
		c1.6,0.4,2.6,2,2.3,3.6L41.1,438.4C40.8,439.8,39.6,440.8,38.2,440.8z"/>
</g>
<g>
   <path class="st0" d="M151.8,377.9c-1.6,0-2.9-1.3-3-2.9l-5.1-109.1c-0.1-1.7,1.2-3.1,2.9-3.1h0.1c1.6,0,2.9,1.3,3,2.9l5.1,109.1
		C154.9,376.5,153.6,377.9,151.8,377.9C151.9,377.9,151.9,377.9,151.8,377.9z"/>
</g>
<g>
   <path class="st0" d="M248.2,428.7c-1.4,0-2.6-0.9-2.9-2.3l-38-164.4c-0.4-1.6,0.6-3.2,2.2-3.6c1.6-0.4,3.2,0.6,3.6,2.2l38,164.4
		c0.4,1.6-0.6,3.2-2.2,3.6C248.7,428.6,248.5,428.7,248.2,428.7z"/>
</g>
<g>
   <path class="st0" d="M6.2,260.4c-1.4,0-2.5-1.1-2.5-2.4c0-1.4,1.1-2.5,2.4-2.6l274-7.1c1.4,0,2.5,1.1,2.6,2.4
		c0,1.4-1.1,2.5-2.4,2.6L6.2,260.4C6.3,260.4,6.3,260.4,6.2,260.4z"/>
</g>
