<path class="st0" d="M113,97.4c-6,0.7-10.3,5.4-13.4,9.5c-13.5,17.8-21.5,39.8-22.3,62.2c0,1,0.7,1.9,1.7,2.2l12,2.4
	c0.1,0,0.3,0,0.4,0c0.4,0,0.9-0.1,1.2-0.4c0.5-0.3,0.8-0.9,0.8-1.5c2.9-25.1,16-48.4,35.8-64c0.5-0.4,0.8-1,0.8-1.6
	s-0.3-1.2-0.8-1.7C124.5,100.5,119.2,96.7,113,97.4z M89.5,169l-8-1.6c1.2-20.9,8.7-41.4,21.4-58c2.6-3.4,6.2-7.4,10.5-7.9
	c3.9-0.5,7.6,1.8,11.2,4.6C105.6,121.9,92.9,144.6,89.5,169z"/>
<path class="st0" d="M45.8,162.7c-3.6-0.7-7.2-2.1-11-3.6c-5.7-2.2-11.5-4.5-17.8-4.5c-1.8,0-3.6,0.2-5.4,0.6c-4,0.9-9.2,4.4-11,9.1
	c-1.1,3-0.7,5.9,1.3,8.5c1.7,2.3,4.7,3.7,8.1,3.8h0.4c2.7,0,5.2-0.7,7.4-1.3c8.6-2.2,15.9-4.3,22.2-6.4c2-0.7,4-1.4,6-2.2
	c0.9-0.3,1.4-1.2,1.4-2.1C47.4,163.6,46.7,162.9,45.8,162.7z M16.9,171.2c-2,0.6-4.2,1.2-6.3,1.2v2.1l-0.3-2.1
	c-2.1-0.1-3.9-0.9-4.9-2.1c-1.1-1.4-1.3-2.9-0.7-4.5c1.1-3.1,5-5.8,7.9-6.5c1.5-0.3,2.9-0.5,4.5-0.5c5.5,0,10.7,2,16.3,4.2
	c1.7,0.7,3.5,1.4,5.2,2C32.4,167.1,25.3,169.1,16.9,171.2z"/>
<path class="st0" d="M80.1,83.2c0.6,0,1.2-0.3,1.6-0.7c0.7-0.8,0.7-1.9,0-2.8L63.4,58.6c-2.3-2.7-5.2-6-9.3-7.4
	c-1.1-0.4-2.2-0.6-3.4-0.6c-4,0-7.3,2.1-8.5,5.3c-1.4,4,0.9,8.1,3.7,10.2c2.3,1.8,5,2.7,7.5,3.5l1.3,0.4c8.6,3,16.6,8,24.3,12.8
	C79.4,83.1,79.7,83.2,80.1,83.2z M56.1,66.1l-1.3-0.5c-2.3-0.8-4.6-1.5-6.3-2.9c-1.7-1.3-3-3.6-2.3-5.5c0.6-1.7,2.7-2.5,4.5-2.5
	c0.7,0,1.4,0.1,2,0.3c3,1.1,5.4,3.8,7.5,6.2l9.6,11.1C65.4,70,60.9,67.7,56.1,66.1z"/>
<path class="st0" d="M133.6,53.6c0.4,0.6,1,0.9,1.7,0.9c0.2,0,0.4,0,0.6-0.1c0.9-0.2,1.5-1,1.5-1.9c0.8-12-3-31.6-10.7-42.4
	c-2-2.9-5.4-4.5-8.4-3.8C115,7,113.6,9,113,10.5c-2.6,6.6,3.6,19.8,19.5,41.5L133.6,53.6z M116.9,12c0.2-0.6,0.7-1.3,2.2-1.6
	c0.2,0,0.4,0,0.5,0c1.3,0,2.7,0.8,3.6,2.2c5.9,8.3,9.4,22.4,9.9,33.4C116.7,22.6,115.9,14.7,116.9,12z"/>
<path class="st0" d="M196.1,54c0.1,0,0.1,0,0.2,0c0.8,0,1.5-0.4,1.9-1.1c6.1-11.9,13.1-25.5,15-40c0.3-2.4,0.5-4.9-0.3-7.4
	c-1.1-3.1-3.7-5.3-6.5-5.5c0,0-0.4,0-0.5,0c-2.9,0-5.5,1.8-7.8,5.4c-9.5,14.5-8.4,29.3-3.9,47C194.5,53.3,195.2,53.9,196.1,54z
	 M201.7,7.7c0.8-1.3,2.5-3.5,4.4-3.5l0,0c1.3,0.1,2.4,1.4,2.8,2.6c0.6,1.7,0.4,3.6,0.1,5.5c-1.6,11.8-6.6,22.9-12,33.5
	C194,31.6,194,19.4,201.7,7.7z"/>
<path class="st0" d="M256.8,27c-7.6,2.4-12.7,9.5-15.6,21.8c-1.4,6-2.2,12.2-2.8,17.7c-0.2,2-0.5,3.8-0.7,5.5
	c-0.2,1.2,0.6,2.2,1.8,2.4c0.1,0,0.2,0,0.3,0c1,0,1.9-0.8,2.1-1.8l0,0c0.2-1.7,4.5-5.5,7.1-7.8c2.2-2,4.1-3.7,5.2-5.2
	c2.5-3.4,5.2-6.8,7.8-10.1c1.4-1.7,2.7-3.4,4-5.1c2.4-3.1,4.7-6.7,3.9-10.8C268.7,27.6,261.6,25.4,256.8,27z M262.7,41.6
	c-1.3,1.7-2.7,3.4-4,5c-2.7,3.3-5.4,6.8-8,10.3c-0.8,1.1-2.7,2.8-4.6,4.5c-1.2,1.1-2.3,2.1-3.3,3c0.6-4.7,1.3-9.9,2.5-14.8
	C247.9,39,252,32.9,258.1,31c0.6-0.2,1.3-0.3,2-0.3c2.4,0,5.2,1.3,5.7,3.6C266.2,36.7,264.6,39.2,262.7,41.6z"/>
<path class="st0" d="M328.1,109.6c-1.1-2.2-3.1-4-5.9-5.4c-3.2-1.4-6.5-2.1-9.7-2.1c-12,0-21.1,9.7-29.1,18.3
	c-1.1,1.1-2.1,2.3-3.1,3.3c-0.8,0.8-0.8,2.2,0.1,3c0.4,0.4,0.9,0.6,1.4,0.6c0.3,0,0.5,0,0.7-0.1c1-0.2,5.9-0.8,9.2-1.1
	c3.1-0.3,6-0.7,6.7-0.8l21.9-3.9c2-0.4,5-0.9,6.9-3.1C329.2,115.9,329.5,112.5,328.1,109.6z M324.1,115.4c-0.9,1-2.5,1.4-4.4,1.7
	l-21.9,3.9c-0.7,0.1-3.4,0.4-6.5,0.8c-1.5,0.2-2.7,0.3-3.8,0.4c7.2-7.7,15.4-16,25.1-16c2.6,0,5.3,0.6,7.9,1.7
	c1.3,0.6,3.1,1.8,3.9,3.4C325,112.7,324.9,114.5,324.1,115.4z"/>
<path class="st0" d="M291.1,170.6c-3.4,0-6.7,0.1-9.5,0.3c-0.8,0-1.6,0.6-1.9,1.4c-0.3,0.8-0.1,1.7,0.6,2.3
	c3.5,3.3,7.5,6.3,11.3,9.2c1.7,1.3,3.4,2.5,5,3.9c4.7,3.7,9.9,7.2,15.4,7.2c2.6,0,5.1-0.8,7.3-2.4c3.3-2.4,4.2-5,4.4-6.7
	c0.1-1.6-0.3-4-2.8-6.6C313.4,171.4,300.3,170.6,291.1,170.6z M316.7,188.9c-1.5,1.1-3.1,1.6-4.8,1.6c-4.3,0-8.9-3.2-12.8-6.3
	c-1.7-1.3-3.3-2.6-5.1-3.9c-2.3-1.8-4.7-3.6-7-5.5c1.3,0,2.7,0,4.1,0c13.2,0,21.9,2.3,26.7,7.2c1.1,1.2,1.7,2.3,1.6,3.3
	C319.2,186.7,317.9,188,316.7,188.9z"/>
<path id="XMLID_134_" class="st0" d="M230.1,107.9c-0.3-1.1-1.4-1.8-2.6-1.5l-21,5.5c-1.1,0.3-1.8,1.4-1.5,2.6
	c0.3,0.9,1.1,1.6,2,1.6c0.2,0,0.3,0,0.5-0.1l21-5.5C229.7,110.2,230.4,109,230.1,107.9z"/>
<path id="XMLID_133_" class="st0" d="M232.9,115.4c-0.7-1-2-1.2-2.9-0.5c-5.6,3.9-12.2,6.4-19,7c-1.2,0.1-2,1.1-1.9,2.3
	c0.1,1.1,1,1.9,2.1,1.9c0.1,0,0.1,0,0.2,0c7.5-0.7,14.8-3.4,21-7.7C233.3,117.7,233.6,116.4,232.9,115.4z"/>
<path id="XMLID_132_" class="st0" d="M244.6,125.1c-0.6-1-1.9-1.4-2.9-0.8c-8.4,4.8-17.9,7.6-27.5,8.2c-1.2,0.1-2,1.1-2,2.2
	c0.1,1.1,1,2,2.1,2h0.1c10.3-0.7,20.4-3.7,29.3-8.8C244.8,127.3,245.2,126.1,244.6,125.1z"/>
<path id="XMLID_131_" class="st0" d="M242.5,141.9c-0.6-1-1.9-1.4-2.9-0.8c-5.8,3.2-12.4,5-19,5c-1.2,0-2.1,1-2.1,2.1
	c0,1.2,1,2.1,2.1,2.1l0,0c7.3,0,14.6-2,21-5.5C242.7,144.2,243.1,143,242.5,141.9z"/>
<path id="XMLID_130_" class="st0" d="M242.5,150.7c-3.1,2.5-7.2,3.9-11.2,3.7c-1.1-0.1-2.1,0.9-2.2,2c0,1.2,0.9,2.1,2,2.2
	c0.3,0,0.5,0,0.8,0c4.8,0,9.6-1.7,13.3-4.7c0.9-0.7,1-2.1,0.3-3C244.7,150.2,243.4,150.1,242.5,150.7z"/>
<path class="st0" d="M249.6,96.3c-32.8-42.7-98.1-45.2-138.4-20.7c-44.6,27.1-62,83.9-40.5,132.2c4.9,11,12.5,20.3,19.8,29.4
	c9.2,11.3,17.9,22,21.8,35.7c2.3,8.1,3.9,16.1,5.4,23.8c3.3,17.2,6.5,33.6,18,49c0.8,1,1.4,1.3,1.3,1.6l9.4,2
	c-13.8-15.9-21.1-35.2-24.6-53.5c-1.5-7.8-3-15.9-5.4-24.1c-4.2-14.5-13.6-26-22.6-37.2c-7.2-8.8-14.6-18-19.2-28.4
	c-20.6-46.3-4-100.9,38.8-126.9c38.8-23.6,101.4-21.3,132.9,19.7c25.5,33.4,19.1,81.3,1.5,114c-4.6,8.5-10.4,15.3-16.6,22.5
	c-2,2.3-4,4.7-6,7.1c-9.1,11.2-12.9,24.8-15.5,36.7c-1,4.7-1.8,9.4-2.7,14.2c-3.1,17.6-3.5,40.1-14.9,53.9h5.4
	c10.4-14.2,10.7-36.1,13.7-53.2c0.8-4.7,1.7-9.4,2.6-14c2.4-11.4,6-24.4,14.6-34.9c2-2.4,3.9-4.7,5.9-7.1
	c6.3-7.4,12.3-14.4,17.1-23.3C269.8,180.8,276.3,131.1,249.6,96.3z"/>
<g>
   <path class="st0" d="M155.1,350.7L155.1,350.7L155.1,350.7z"/>
   <path class="st0" d="M159.4,351"/>
   <path class="st0" d="M225.9,189.2c-1.1-2.2-2.9-3.6-5.4-4.2c-3.6-0.8-8.2,0.4-11.4,3c-4.3,3.5-7.1,8.3-9.1,13.2
		c-3.6-0.8-7-2.5-9.9-4.8c-2-1.6-3.7-3.6-5-5.8c4.5-4.4,7.8-10.2,9-16.7c0.6-2.9,0.4-7.1-1.7-10c-1.1-1.6-2.7-2.6-4.6-2.9
		c-5-0.7-8.6,3.9-9.9,8.6c-1.8,6.6-1,13.9,1.9,20.1c-4.2,3.3-9.3,5.3-14.5,5.3h-0.1c-5.5,0-11-2.5-15.1-6.5c1.7-3.3,2.9-6.6,3.8-9.7
		c1.5-5.2,1-9.2-1.5-11.7c-1.7-1.8-4.4-2.6-7.2-2.1c-2.8,0.4-5.1,2-6.2,4.2c-1.6,3.1,0.1,8.3,1.9,13c1,2.6,2.4,4.9,4,7
		c-4,6.9-9.4,12.4-15.2,15.4c-2.3,1.2-4.7,2-7.1,2.4c-0.8-2-1.6-3.9-2.4-5.9c-1.7-4.2-3.4-7.8-6.5-10.7c-3.7-3.4-6.5-3.3-8.2-2.6
		c-2.4,1-3.9,3.8-4,7.4c-0.2,5,2.2,11.3,7.8,14c3.2,1.6,6.8,2.3,10.5,2.2c17.1,43.4,28.9,90.2,35.3,139.4c0.1,0,2,0.1,4.3,0.3
		c-6.3-49.4-18.2-96.4-35.3-140c2.5-0.5,5-1.4,7.4-2.6c7.1-3.6,12.6-9.6,16.5-16c4.8,4.3,10.9,7,17.4,6.9c5.9,0,11.7-2.2,16.5-5.8
		c1.5,2.3,3.4,4.5,5.5,6.2c3.2,2.7,7.1,4.5,11.1,5.5c-0.8,2.5-1.5,5-2.1,7.2c-12.1,45-24.6,91.3-26.2,138.9v0.3h4.3c0,0,0-0.2,0-0.6
		c1.6-46.9,14-93,26-137.6c0.7-2.6,1.4-5.2,2.2-7.6c5.5,0.6,11.1-0.3,16-2.7C224.2,200.4,228.4,194.4,225.9,189.2z M111.3,205.6
		c-3.9-1.9-5.6-6.6-5.5-10.1c0-2.1,0.8-3.4,1.4-3.7c0.1,0,0.2-0.1,0.4-0.1c0.7,0,1.8,0.5,3.3,1.9c2.5,2.2,3.9,5.5,5.4,9.2
		c0.7,1.5,1.3,3,1.9,4.5C115.7,207.2,113.4,206.6,111.3,205.6z M147.1,185.1c-0.9-1.4-1.7-2.8-2.3-4.4c-2.7-6.9-2.3-9-2-9.6
		c0.5-1,1.6-1.7,3-1.9c0.3,0,0.6-0.1,0.8-0.1c1.1,0,2.1,0.3,2.7,1c1.7,1.8,1.2,5.1,0.5,7.6C149.1,180.3,148.2,182.7,147.1,185.1z
		 M182,170.7c0.8-2.8,2.7-5.5,4.8-5.5c0.1,0,0.3,0,0.4,0c0.7,0.1,1.3,0.5,1.8,1.2c1.1,1.5,1.4,4.3,1,6.8c-1,5.1-3.5,9.8-6.9,13.5
		C181.1,181.7,180.6,176.1,182,170.7z M216.7,199.4c-3.7,2-8.1,2.8-12.4,2.5c1.8-4.2,4.1-7.9,7.4-10.6c2.2-1.8,5.5-2.7,7.8-2.2
		c1.2,0.3,2.1,0.9,2.5,1.9C223.5,194.1,219.9,197.9,216.7,199.4z"/>
</g>
<g>
   <path class="st0" d="M179.2,397c-0.4,5.2-3.8,9.9-8.6,11.9c-4.9,2.1-10.8,1.2-14.9-2.2c-2.2-1.8-3.8-4.9-3.5-7.6
		c1,0.3-0.2-4.1-1.8-4.8c0,0-1.6,0.5-2.1,3.4c-1,4.5,1.4,9.4,4.8,12.2c3.3,2.8,7.7,4.3,12.1,4.3c2.5,0,4.9-0.5,7.2-1.4
		c6.3-2.7,10.8-9.1,11.2-16c0-0.6-0.2-1.2-0.6-1.6C183.2,395.4,178.3,397.3,179.2,397z"/>
</g>
<g>
   <path class="st0" d="M194,374.4l-3.8,1.8c1.1,5.8-1.3,10.4-3.6,12.9c-2,2.2-5.3,3.7-9.1,5c-5,1.6-10.1,2.3-15.3,2.1
		c-4.6-0.2-10.9-1.3-15-5.5c-3.1-3.1-3.8-10.3-1.4-14.2c0.7,0.3-3.9-1.8-3.9-1.8c-3,5.7-1.8,14.6,2.3,18.7c1.7,1.7,7.1,5.7,17.6,6.7
		c0.7,0,1.4,0,2.1,0c5,0,9.9-0.8,14.7-2.3c0.9-0.3,8.7-3.3,13.3-8.5c1.8-2,2.6-5.3,3-7.8C194.9,381.1,194.4,376.3,194,374.4z"/>
</g>
<path class="st0" d="M133.1,360.6"/>
<g>
   <path class="st0" d="M150.7,369.4"/>
</g>
<g>
   <path class="st0" d="M199.5,355.9c-0.2-0.4-0.4-0.6-0.7-0.8c0-0.1-1.3-0.3-1.3-0.3c-0.2,0.3-0.5,0.6-0.6,1
		c-1.1,2.4-0.1,5.2-0.4,7.8c-0.2,2.2-2.8,5.6-2.8,5.6c-0.6,0.8-1.2,1.6-1.9,2.2c-3.4,3.1-8.6,4.9-15.2,5.5
		c-7.2,0.7-14.4-0.1-21.1-0.9c-4.3-0.6-8.4-1.3-11.4-3.7c-2.2-1.7-2.9-5.8-2.2-8.4c-1.2-0.7-3.1-1.5-4.3-2.3c0,0-1.6,9.7,3.5,13.5
		c5.2,3.9,11.3,4.7,14,5c5,0.7,10.3,1.3,15.8,1.3c2.1,0,4.2-0.1,6.3-0.3c5.5-0.5,14.5-4.4,14.9-4.6c1-0.6,2.5-2.1,2.4-2.1l0.1-0.1
		C199.4,370.3,202.5,362.6,199.5,355.9z"/>
</g>
<g>
   <path class="st0" d="M196.3,359.6c0,0,0,0.1,0,0.2c0.9-1.4,2.6-4.5,2.5-4.6c1.3-3.3,1.4-7.1-0.5-10.3c-0.1-0.1-0.1-0.2-0.2-0.3
		h-2.8c-0.1,0.1-0.2,0.2-0.2,0.2c-2.4,2.1-5.6,3.1-8.7,3.8c-0.3,0.1-0.7,0.1-1,0.2c-2.9,1-5.9,1.8-9.3,2.2c0-0.2-4.3,0.2-4.3,0.4
		c-0.9,0.1-1.7,0.2-2.6,0.2c-2.7,0-5.5-0.1-8.2-0.3c0-0.2-4.3-0.7-4.3-0.6c-3.8-0.5-7.6-1.1-11.3-1.7c-0.1-0.3-0.2-0.6-0.5-0.8
		l-0.1-0.1c-0.1,0-0.1,0-0.2-0.1c-2.5-0.7-7.7-1.9-7.8-1.6c-0.3,0.8-0.4,1.6-0.3,2.4c-0.9,1.2-1.6,2.7-1.7,4.4
		c-0.3,3.2,0.8,6.6,3.1,8.9c-0.1,0.1,4.8,3.9,13.5,5.4c0.1,0,0.2,0,0.3,0c4.2,0.5,8.4,0.7,12.6,0.7c4.9,0,9.8-0.3,14.6-1
		c5.2-0.7,11.1-1.9,15.6-5.7C195.1,360.9,195.7,360.3,196.3,359.6z M194.1,355.4c-0.7,1.1-1.5,2.2-2.4,2.9
		c-3.7,3.1-8.8,4.1-13.4,4.7c-8.7,1.2-17.5,1.3-26.2,0.3c-4-0.5-8.5-1.3-11.2-4.1c-1.4-1.4-2.1-3.6-1.9-5.6c0-0.4,0.2-1,0.4-1.5
		c0.9,0.4,1.8,0.6,2.5,0.7c8.4,1.6,17.2,3.1,26.2,3.1c0.4,0,0.8,0,1.2,0c10.1-0.2,19-2.6,26-6.9c0,0.2,0.1,0.3,0.1,0.5
		c-0.2,0.1,0.4,1,0.5,1.5s-0.1,1-0.3,1.5C195.2,353.5,194.7,354.5,194.1,355.4L194.1,355.4z"/>
</g>
<g>
   <path class="st0" d="M173.6,375.2c-1.9,0-3.7-0.1-5.3-0.3c-1.1-0.1-1.9-1.1-1.8-2.2c0.1-1.1,1.1-1.9,2.2-1.8
		c9.2,0.9,24.9-0.7,27.6-9.1c0.3-1,1.5-1.6,2.5-1.3c1,0.3,1.6,1.5,1.3,2.5C196.9,372.7,183.4,375.2,173.6,375.2z"/>
</g>
<g>
   <path class="st0" d="M172.7,361.6c-1,0-1.9-0.8-2-1.8c-0.1-1.1,0.7-2.1,1.8-2.2c7.9-0.9,21.1-3.9,23-8.6c0.4-1,1.6-1.5,2.6-1.1
		s1.5,1.6,1.1,2.6c-3.4,8.4-23.9,10.8-26.3,11.1C172.9,361.5,172.8,361.6,172.7,361.6z"/>
</g>
<g>
   <path class="st0" d="M179.2,390.5c-3.1,0-6.3-0.3-9.1-0.6c-1.1-0.1-1.9-1.1-1.7-2.2c0.1-1.1,1.1-1.9,2.2-1.7
		c11.4,1.4,17.9,0.4,19.6-3c0.5-1,1.7-1.4,2.7-0.9s1.4,1.7,0.9,2.7C191.5,389.2,185.5,390.5,179.2,390.5z"/>
</g>
