{% extends 'views/layouts/base.twig' %}

{% block content %}
	{% include 'views/common/c_main_title.twig' with {
		'title': 'Оформление заказа',
		'pages': [
			{
				'txt':'Главная',
				'url':'/'
			},
			{
				'txt':'Оформление заказа',
				'last':true
			}
		]}
	%}
	{% include 'views/common/c_order.twig' with {orderFORM: form, positions: positions} %}

{% endblock %}