{% extends 'views/layouts/base.twig' %}
{% block content %}
    {% include 'views/common/c_main_title.twig' with {
        'title': 'Оформление заказа',
        'pages': [
            {
                'txt':'Главная',
                'url':'/'
            },
            {
                'txt':'Оформление заказа',
                'last':true
            }
        ]}
    %}
    <div class="c-about">
        <div class="container">
            <h2 class="h2">Спасибо за заказ!</h2>
            <div class="about__cont">
                <p class="fs-21">Ваш заказ №{{ order }}. Менеджер свяжется с Вами в ближайшее время.</p>
                {#<p>Состав:</p>#}
                {#<ul class="fs-21">#}
                    {#{{ list | raw }}#}
                {#</ul>#}
                {#<p class="fs-21">Адрес: {{ order.adress }}</p>#}
                {#<p class="fs-21">Стоимость: {{ this.format_price(order.totalcost) }} <span>&#8381;</span></p>#}
                {#<p class="fs-21">Оплата: {{ order.getTypeOrder }}</p>#}
            </div>
        </div>
    </div>
{% endblock %}



