{% extends 'views/layouts/base.twig' %}

{% block content %}
    {% include 'views/common/c_main_title.twig' with {
        'title': 'Доставка и оплата',
        'pages': [
            {
                'txt':'Главная',
                'url':'/'
            },
            {
                'txt':'Доставка и оплата',
                'last':true
            }
        ]} %}
    <div class="c-delivery">
        <div class="container">
            <div class="delivery__main">
                <div class="delivery__main-lt">
                    <div class="delivery__main-ttl">
                        <h2 class="h2">Доставка</h2>
                    </div>
                    <div class="delivery__main-lt-info">Мы осуществляем доставку курьерскими службами по всей территории
                        России, Казахстана, республики Беларусь и всему миру. <br>Не переживайте на счет сохранности вашей
                        пленки Wolly при транспортировке. Вся пленка упаковывается в прочный картонный тубус.
                    </div>
                    <div class="delivery__main-rt-info">Все товары, размещенные на сайте, есть на нашем складе и готовы к
                        отгрузке. <br>Имея два филиала в Москве и Новосибирске мы готовы обеспечить кратчайшие сроки
                        доставки по всей территории России.
                    </div>
                    <div class="delivery__main-lt-free">
                        <div class="delivery__main-lt-free-ttl">Доставка бесплатная при покупке на сумму от 5 000 р.</div>
                        <div class="delivery__main-lt-free-descr">За подробной информацией обращайтесь к нашим менеджерам.
                        </div>
                    </div>
                    <div class="delivery__main-lt-items">
                        <div class="delivery__main-item">
                            <div class="delivery__main-item-ttl">Самовывоз:</div>
                            <div class="delivery__main-item-descr">Стоимость — бесплатно. <br>Осуществляется с нашего склада по
                                адресу: <br>г. Москва, метро Ботаничекий сад, проезд Серебрякова, д. 2, стр. 1. <br>График
                                работы: пн-пт 10:00 - 20:00, сб-вс 10:00 - 15:00.
                            </div>
                            <ul class="h-reset-list delivery__main-item-notes">
                                <li>
                                    Просьба перед приездом предупредить наших менеджеров, чтобы они смогли подать заявку на
                                    комплектацию.
                                </li>
                            </ul>
                        </div>
                        <div class="delivery__main-item">
                            <div class="delivery__main-item-ttl">Курьерская доставка по Москве, Санкт-Петербургу и Новосибирску:</div>
                            <div class="delivery__main-item-descr">Покупка от 5 000 р — бесплатно; <br>Покупка до 5 000 р —300 р.
                                <br>Доставка осуществляется на следующий рабочий день. <br>Заявку необходимо разместить до
                                18:00.
                            </div>
                        </div>
                        <div class="delivery__main-item">
                            <div class="delivery__main-item-ttl">Курьерская доставка по Московской области:</div>
                            <div class="delivery__main-item-descr">Покупка от 5 000 р — бесплатно;<br>Покупка до 5 000 р — 500 р
                                (для расстояния до 10 км. от МКАД).
                            </div>
                        </div>
                        <div class="delivery__main-item">
                            <div class="delivery__main-item-ttl">Доставка в регионы:</div>
                            <div class="delivery__main-item-descr">Покупка от 5 000 р — бесплатно (до пункта самовывоза); <br>Покупка
                                до 5 000 р — 300 р (до пункта самовывоза). <br><br>Срок доставки в крупные города России — от 2 до
                                10 дней.
                            </div>
                        </div>
                        <ul class="h-reset-list delivery__main-item-notes">
                            <li>
                                Сроки доставки указаны с момента подтверждения заказа нашим
                                менеджером. <br>Если дата доставки приходится на выходной или праздничный день, то сроки<br>доставки
                                увеличиваются на количество выходных или праздничных дней.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="delivery__main-rt delivery__payment">
                    <div class="delivery__main-rt-items">
                        <div class="delivery__main-ttl">
                            <h2 class="h2">Оплата</h2>
                        </div>
                        <div class="delivery__main-lt-info">Оплатить покупки можно наличными при получении заказа. <br>Либо
                            онлайн банковской картой, электронными деньгами или через <br>Интернет-банкинг.
                        </div>
                        <div class="delivery__main-rt-info">Если вы юридическое лицо или индивидуальный предприниматель — мы
                            выставим вам счет в течении нескольких минут. Укажите ваши реквизиты при оформлении заказа или
                            напишите нам письмо на адрес: <a href="mailto:hello@wolly.ru">hello@wolly.ru</a></div>
                        <div class="delivery__main-item">
                            <h2 class="delivery__main-item-ttl">Пункты самовывоза</h2>
                            <div class="delivery__main-map"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBg1nomn9LTkLBNRJZXGP7Qb6yq6BeViSs"></script>